.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background-color: rgb(26, 26, 26);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.card-header {
  height: auto;
  background: linear-gradient(to top, #cc382e, rgb(250, 99, 94));
  font-size: 3.5vw;
  text-align: center;
}

nb-icon {
  font-size: 1em;
  margin: 0 0.5em;
  vertical-align: middle;
}

img {
  display: inline-block;
  margin-left: 30px;
  margin-right: 50px;
}

.row {
  width: 900px;
}
.bg-black {
  background-color: #000000 !important;
}

.btn-return {
  background-color: #009cff;
  color: white;
}

.card {
  border-color: #373737;
  padding-bottom: 20px;
}

.text-white {
  font-size: 2rem;
}


.masthead h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}
