<header class="masthead">
  <div class="container d-flex justify-content-center h-100 align-items-center">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-black">
          <div class="card-header">
              <img src="assets/images/caution.png" width="80" height="80" style="display:inline;" />
              <div id="title" style="display:inline;">
                <h6 class="text-white text-center" style="display:inline;">  You are now leaving Momentum Mod...</h6>
              </div>
          </div>
          <div class="card-body">
            <div class="mx-auto text-center">
              <h2 class="text-white mx-auto mt-2 mb-4">You are being redirected to</h2>
              <h2 class="text-white mx-auto mt-2 mb-4"> <i>{{outgoingURL}}</i></h2>
              <h2 class="text-white mx-auto mt-2 mb-5">which is not part of the official Momentum Mod site.</h2>
              <div>
                <button class="btn btn-return" type="button" routerLink="/dashboard">Return to Dashboard</button>
                <a [href]="outgoingURL" class="btn btn-primary allowed">Proceed to external site </a>
              </div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
