<nb-card>
  <nb-card-header><h2>Map Submission</h2></nb-card-header>
  <nb-card-body *ngIf="isMapperOrPorter || !hasMapInSubmission" class="p-6 pt-8">
    <nb-alert *ngIf="!isMapperOrPorter" class="prose prose-invert mb-8 max-w-none p-5" accent="info">
      <h4>Welcome to the Momentum Mod map submission page!</h4>
      <p>
        This is where you can submit maps to the game, and if your submission is approved, it'll be hosted by us and will appear in the
        in-game map selector and leaderboards. We want to keep the maps in Momentum to high standard (higher than, say, some of the stuff on
        Steam Workshop), so all maps go through a short review pipeline where community members and official testers can test you map and
        bring up any issues.
      </p>
      <p>
        If this is your first time using the system, please check out our docs page (TODO: LINK!) to get a basic understanding of the
        pipeline. u can also read the little ? icon thinies. Reviewing maps is a community effort; please respect everybody's time by
        actually reading this stuff instead of sending in a total disaster of a submission that we have to reject in review. We're happy to
        answer any questions in our
        <a href="https://discord.gg/momentummod">Discord</a>, where you can also find all sorts of mapping support and helpful people!
      </p>
    </nb-alert>
    <form [formGroup]="form">
      <fieldset class="grid gap-4 rounded border-2 border-gray-700 bg-gray-900 p-4 md:grid-cols-1 lg:grid-cols-3" [formGroup]="files">
        <legend
          class="ml-16 flex items-center before:h-3 before:border-r-2 before:border-gray-700 before:content-[''] after:h-3 after:border-l-2 after:border-gray-700 after:content-['']"
        >
          <div class="stack absolute -translate-x-16 rounded border-2 border-gray-700 bg-gray-800 p-2">
            <nb-icon
              class="scale-0 text-3xl text-green-500 transition-transform"
              [icon]="'check-outline'"
              [ngClass]="{ 'scale-100': isGroupValid(files) }"
              nbPopover="Section is complete!"
              nbPopoverTrigger="hover"
            />
            <nb-icon
              class="scale-0 text-3xl text-red-500 transition-transform"
              [icon]="'alert-outline'"
              [ngClass]="{ 'scale-100': isGroupInvalid(files) }"
              nbPopover="Section contains invalid items!"
              nbPopoverTrigger="hover"
            />
            <nb-icon
              class="scale-0 text-3xl text-blue-400 transition-transform"
              [icon]="'pencil-outline'"
              [ngClass]="{ 'scale-100': isGroupAwaitingEditing(files) }"
              nbPopover="Section is incomplete!"
              nbPopoverTrigger="hover"
            />
          </div>
          <span class="mx-3 text-3xl">Files</span>
        </legend>
        <div class="flex flex-col">
          <h5 class="mb-1 text-center">
            BSP File
            <nb-icon icon="asterisk" class="mb-1 align-middle" nbPopover="Required" nbPopoverTrigger="hover" />
          </h5>
          <p class="text-balance mb-4 mt-3 block w-auto flex-grow px-3 text-center">
            This is the main map file for your map. It should have all custom assets packed into it, and <i>must</i> be compressed.
            <!-- TODO: Link to docs pages for these-->
          </p>
          <div>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="bsp.errors?.['required'] && bsp.dirty">
              <b>Error: </b>A BSP file is required.
            </p>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="bsp.errors?.['fileName']">
              <b>Error: </b>File name must be alphanumeric + hyphens + underscores, and end in <b>.bsp</b>.
            </p>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="bsp.errors?.['fileMaxSize']">
              <b>Error: </b>Maximum allowed file size is {{ MAX_BSP_SIZE / (1024 * 1024) }} MB.
            </p>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="bsp.errors?.['bspFileNotCompressed']">
              <b>Error: </b>BSP file is not compressed. TODO: Docs link!
            </p>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="bsp.errors?.['bspFileReadError']">
              <b>Error: </b>Could not parse file, are you sure it's a valid BSP?
            </p>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="bsp.errors?.['fileReadError']"><b>Error: </b>Could not read file.</p>
          </div>
          <mom-file-upload [formControl]="bsp" typeName="BSP" accept=".bsp" icon="land-plots" />
        </div>
        <div class="flex flex-col">
          <h5 class="mb-1 text-center">
            Zones File
            <nb-icon icon="asterisk" class="mb-1 align-middle" nbPopover="Required" nbPopoverTrigger="hover" />
          </h5>
          <p class="text-balance mb-4 mt-3 block w-auto flex-grow px-3 text-center">The zones for your map</p>
          <div>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="zon.errors?.['required'] && zon.dirty">
              <b>Error: </b>A zone file is required.
            </p>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="zon.errors?.['zoneFileValidationError']">
              <b>Error: </b> {{ zon.errors?.['zoneFileValidationError'][0].message }}.
            </p>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="zon.errors?.['zonFileNotJsonError']">
              <b>Error: </b>Could not parse file, it's not valid JSON!
            </p>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="zon.errors?.['fileReadError']"><b>Error: </b>Could not read file.</p>
          </div>
          <mom-file-upload [formControl]="zon" typeName=".zon.json" icon="vector-polygon" accept=".zon.json" />
        </div>
        <div class="flex flex-col">
          <h5 class="mb-1 text-center">VMF File(s)</h5>
          <p class="text-balance mb-4 mt-3 block w-auto flex-grow px-3 text-center">
            The VMF source files your map. Not required, but helps us archive file maps, and may be helpful for other mappers!
          </p>
          <div>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="vmfs.errors?.['fileExtension']">
              <b>Error: </b>File extension must end in <b>.vmf</b>.
            </p>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="zon.errors?.['fileMaxSize']">
              <b>Error: </b>Maximum allowed file size is {{ MAX_VMF_SIZE / (1024 * 1024) }} MB.
            </p>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="zon.errors?.['vdfFileValidationError']">
              <b>Error: </b>Could not parse file, it's not a valid VDF/KeyValues file!
            </p>
            <p class="mb-1 text-right text-lg text-red-400" *ngIf="zon.errors?.['fileReadError']"><b>Error: </b>Could not read file.</p>
          </div>
          <mom-multi-file-upload [formControl]="vmfs" typeName="VMF" accept=".vmf" icon="hammer" [max]="20" />
        </div>
      </fieldset>

      <fieldset class="mt-10 rounded border-2 border-gray-700 bg-gray-900 p-4 pt-6" [formGroup]="info">
        <legend
          class="ml-16 flex items-center before:h-3 before:border-r-2 before:border-gray-700 before:content-[''] after:h-3 after:border-l-2 after:border-gray-700 after:content-['']"
        >
          <div class="stack absolute -translate-x-16 rounded border-2 border-gray-700 bg-gray-800 p-2">
            <nb-icon
              class="scale-0 text-3xl text-green-500 transition-transform"
              [icon]="'check-outline'"
              [ngClass]="{ 'scale-100': isGroupValid(info) }"
              nbPopover="Section is complete!"
              nbPopoverTrigger="hover"
            />
            <nb-icon
              class="scale-0 text-3xl text-red-500 transition-transform"
              [icon]="'alert-outline'"
              [ngClass]="{ 'scale-100': isGroupInvalid(info) }"
              nbPopover="Section contains invalid items!"
              nbPopoverTrigger="hover"
            />
            <nb-icon
              class="scale-0 text-3xl text-blue-400 transition-transform"
              [icon]="'pencil-outline'"
              [ngClass]="{ 'scale-100': isGroupAwaitingEditing(info) }"
              nbPopover="Section is incomplete!"
              nbPopoverTrigger="hover"
            />
          </div>
          <span class="mx-3 text-3xl">Details</span>
        </legend>
        <div class="flex gap-4 md:flex-wrap">
          <div class="grid h-fit flex-grow gap-4 [grid-template-columns:auto_1fr]">
            <div class="flex flex-col">
              <label class="my-auto text-lg leading-4">
                Map Name
                <nb-icon icon="tooltip-question-outline" class="ml-1 align-middle" [nbPopover]="mapNameInfo" nbPopoverTrigger="hover" />
                <ng-template #mapNameInfo>
                  <div class="prose p-3">
                    <p>
                      Gamemode <b>prefixes</b> should typically be the primary gamemode they're made for, but may be omitted if the map
                      plays well in multiple modes. E.g. <i>bhop_canals</i> plays well in many modes, so could be named just <i>canals</i>.
                    </p>
                    <p><b>Suffixes</b> must be <b>removed</b>, e.g. <i>surf_utopia_njv</i> should be <i>surf_utopia.</i></p>
                    <p>
                      This isn't required to match the exact name of your BSP file, but should be similar. So for
                      <i>surf_utopia_njv.bsp</i>, the name should be <i>surf_utopia</i>.
                    </p>
                  </div>
                </ng-template>
              </label>
              <span class="text-sm italic leading-4 text-gray-500">Required</span>
            </div>
            <input
              id="name"
              class="input input-validated !max-w-full"
              type="text"
              nbPopover
              nbPopoverContext="mapNameError"
              nbPopoverTrigger="noop"
              [formControl]="name"
            />
            <div class="flex flex-col">
              <label class="my-auto text-lg leading-4">
                Submission Type
                <nb-icon
                  icon="tooltip-question-outline"
                  class="mb-[1px] ml-0.5 align-middle"
                  nbPopover="Ports are any map originally made for another game, e.g. CS:S, TF2, Defrag, etc..."
                  nbPopoverTrigger="hover"
                />
              </label>
              <span class="text-sm italic leading-4 text-gray-500">Required</span>
            </div>
            <nb-select class="!max-w-full" [formControl]="submissionType">
              <nb-option [value]="MapSubmissionType.ORIGINAL">Original</nb-option>
              <nb-option [value]="MapSubmissionType.PORT">Port</nb-option>
              <nb-option *ngIf="isModOrAdmin" [value]="MapSubmissionType.SPECIAL">Special</nb-option>
            </nb-select>
            <div class="flex flex-col">
              <label for="creationDate" class="my-auto text-lg leading-4">
                Creation Date
                <nb-icon
                  icon="tooltip-question-outline"
                  class="ml-1 align-middle"
                  [nbPopover]="mapCreationDateInfo"
                  nbPopoverTrigger="hover"
                />
                <ng-template #mapCreationDateInfo>
                  <div class="prose p-3">
                    <p>This is the date the map was first released, in any game, not just Momentum.</p>
                    <p>
                      If it's your map and you're first releasing for Momentum, use today's date. If the map is a port and was originally
                      published on, say, GameBanana, use the exact date on GameBanana.
                    </p>
                    <p>
                      If you don't know the exact date, just take a guess. For a Conc map published sometime around 2002, Jan 1st 2002 is
                      fine.
                    </p>
                  </div>
                </ng-template>
              </label>
              <span class="text-sm italic leading-4 text-gray-500">Required</span>
            </div>
            <div>
              <input
                id="creationDate"
                class="input input-validated w-full !max-w-full"
                [nbDatepicker]="datepicker"
                [formControl]="creationDate"
              />
              <nb-datepicker #datepicker [boundingMonth]="false"></nb-datepicker>
            </div>
            <label for="youtubeID" class="my-auto text-lg leading-4">
              Youtube ID
              <nb-icon
                icon="tooltip-question-outline"
                class="mb-[1px] ml-0.5 align-middle"
                [nbPopover]="youtubeIDInfo"
                nbPopoverTrigger="hover"
              />
              <ng-template #youtubeIDInfo>
                <div class="prose p-3">
                  <p>An optional Youtube video showcasing your map.</p>
                  <p>Must be a single 11 character Youtube video ID.</p>
                </div>
              </ng-template>
            </label>
            <input
              id="youtubeID"
              type="text"
              class="input input-validated !max-w-full"
              [formControl]="youtubeID"
              (change)="stripYoutubeUrl()"
            />
          </div>
          <div class="flex flex-grow-5 flex-col">
            <div class="-mt-1 mb-1 flex">
              <div class="my-auto -mt-1 mb-1 flex flex-grow items-center">
                <label for="description" class="text-lg">
                  Description
                  <nb-icon
                    icon="tooltip-question-outline"
                    class="ml-1 align-middle"
                    [nbPopover]="descriptionInfo"
                    nbPopoverTrigger="hover"
                  />
                  <ng-template #descriptionInfo>
                    <div class="prose p-3">
                      <p>
                        A general description of your map. You can include pretty much anything you want here, just keep in mind we have
                        dedicated sections for credits, including special thanks!
                      </p>
                      <p>
                        If you can't think of anything at all, just do something super simple like
                        <i>"A short bhop map based on the life and works of Anthony Hopkins"</i>.
                      </p>
                    </div>
                  </ng-template>
                </label>
                <span class="ml-2 text-sm italic text-gray-500">Required</span>
              </div>
              <span class="mr-2">{{ MAX_MAP_DESCRIPTION_LENGTH - description.value.length | plural: 'character' }} remaining</span>
            </div>
            <textarea
              id="description"
              nbInput
              class="input input-validated flex-grow"
              fullWidth
              rows="4"
              [formControl]="description"
              [maxLength]="MAX_MAP_DESCRIPTION_LENGTH"
            ></textarea>
          </div>
        </div>
      </fieldset>

      <fieldset class="mt-10 rounded border-2 border-gray-700 bg-gray-900 p-4 pt-6">
        <legend
          class="ml-16 flex items-center before:h-3 before:border-r-2 before:border-gray-700 before:content-[''] after:h-3 after:border-l-2 after:border-gray-700 after:content-['']"
        >
          <div class="stack absolute -translate-x-16 rounded border-2 border-gray-700 bg-gray-800 p-2">
            <nb-icon
              class="scale-0 text-3xl text-green-500 transition-transform"
              [icon]="'check-outline'"
              [ngClass]="{ 'scale-100': images.valid && images.dirty }"
              nbPopover="Section is complete!"
              nbPopoverTrigger="hover"
            />
            <nb-icon
              class="scale-0 text-3xl text-red-500 transition-transform"
              [icon]="'alert-outline'"
              [ngClass]="{ 'scale-100': images.invalid && images.dirty }"
              nbPopover="Section contains invalid items!"
              nbPopoverTrigger="hover"
            />
            <nb-icon
              class="scale-0 text-3xl text-blue-400 transition-transform"
              [icon]="'pencil-outline'"
              [ngClass]="{ 'scale-100': images.pristine }"
              nbPopover="Section is incomplete!"
              nbPopoverTrigger="hover"
            />
          </div>
          <span class="mx-3 text-3xl">Images</span>
        </legend>
        <p class="mb-4">
          A thumbnail, and up to four additional images. You can drag slected images around to change their order, make sure the image in
          the thumbnail slot is your favorite, as it gets used very frequently in our UI.
        </p>
        <mom-map-image-selection innerFormControlName="images" icon="image-multiple-outline" />
        <div>
          <p class="mt-2 text-right text-lg text-red-400" *ngIf="images.errors?.['required'] && images.dirty">
            <b>Error: </b>Must include at least a thumbnail image.
          </p>
          <p class="mt-2 text-right text-lg text-red-400" *ngIf="images.errors?.['fileExtension']">
            <b>Error: </b>All images must be PNG or JPEG.
          </p>
          <p class="mt-2 text-right text-lg text-red-400" *ngIf="images.errors?.['fileMaxSize']">
            <b>Error: </b>Maximum allowed image file size is {{ MAX_MAP_IMAGE_SIZE / (1024 * 1024) }} MiB.
          </p>
          <p class="mt-2 text-right text-lg text-red-400" *ngIf="images.errors?.['imageFileDimensionsError']">
            <b>Error: </b>All images must be 2560x1440 - TODO: Docs link!
          </p>
          <p class="mt-2 text-right text-lg text-red-400" *ngIf="bsp.errors?.['imageFileReadError']"><b>Error: </b>Bad image file.</p>
          <p class="mt-2 text-right text-lg text-red-400" *ngIf="bsp.errors?.['fileReadError']"><b>Error: </b>Could not read file.</p>
        </div>
      </fieldset>

      <fieldset class="mt-10 rounded border-2 border-gray-700 bg-gray-900 p-4 pt-6">
        <legend
          class="ml-16 flex items-center before:h-3 before:border-r-2 before:border-gray-700 before:content-[''] after:h-3 after:border-l-2 after:border-gray-700 after:content-['']"
        >
          <div class="stack absolute -translate-x-16 rounded border-2 border-gray-700 bg-gray-800 p-2">
            <nb-icon
              class="scale-0 text-3xl text-green-500 transition-transform"
              [icon]="'check-outline'"
              [ngClass]="{ 'scale-100': credits.valid && credits.dirty }"
              nbPopover="Section is complete!"
              nbPopoverTrigger="hover"
            />
            <nb-icon
              class="scale-0 text-3xl text-red-500 transition-transform"
              [icon]="'alert-outline'"
              [ngClass]="{ 'scale-100': credits.invalid && credits.dirty }"
              nbPopover="Section contains invalid items!"
              nbPopoverTrigger="hover"
            />
            <nb-icon
              class="scale-0 text-3xl text-blue-400 transition-transform"
              [icon]="'pencil-outline'"
              [ngClass]="{ 'scale-100': credits.pristine }"
              nbPopover="Section is incomplete!"
              nbPopoverTrigger="hover"
            />
          </div>
          <span class="mx-3 text-3xl">Credits</span>
          <nb-icon icon="tooltip-question-outline" class="mr-3 align-middle" [nbPopover]="creditsInfo" nbPopoverTrigger="hover" />
          <ng-template #creditsInfo>
            <div class="prose prose-invert p-3">
              <p>Our credits system lets you link to the Momentum profile of everyone who's contributed to your map.</p>
              <p>
                If you know their Steam account but not their name in Momentum, search by their Steam Community ID - you can find that by
                pasting the full URL of their Steam profile into a <a href="https://steamid.io/">steamid.io</a> and copying the
                <b>steamID64</b> value.
              </p>
              <p>
                Anyone who has ever played Momentum or signed in to our website should have a Momentum account. But if they don't, you can
                submit a "placeholder" credit that will generate a placeholder user for the given alias, when the map is approved.
              </p>
              <p>Here are some general guidelines what user goes in what category:</p>
              <ul>
                <li>
                  <i>Authors: </i>the primary creator(s) of the map. Bonus creators should be included, but describe them as e.g. "Bonus 1",
                  and put them after main track authors.
                </li>
                <li><i>Contributors: TODO: IM BORED DOING TOMORROW</i></li>
              </ul>
            </div>
          </ng-template>
        </legend>
        <p class="mb-4">
          At least one author credit is required. For more info see the
          <nb-icon icon="tooltip-question-outline" class="mx-1 align-middle" /> icon!
        </p>
        <mom-map-credits-selection class="grid h-full min-h-[24rem] gap-4 md:grid-cols-1 lg:grid-cols-4" [formControl]="credits" />
      </fieldset>
    <div class="mt-4 flex">
      <div class="flex flex-grow flex-col" *ngIf="isUploading">
        <nb-progress-bar status="info" [value]="uploadPercentage" size="giant" [displayValue]="true" class="mr-6"> </nb-progress-bar>
        <p class="mt-2 text-center italic">{{ uploadStatusDescription }}</p>
      </div>
      <div class="ml-auto h-full">
        <button
          #submitButton
          class="btn flex h-auto items-center bg-green-500 !pl-4 text-xl disabled:bg-gray-500 disabled:opacity-50"
          type="button"
          [disabled]="form.invalid || isUploading"
          (click)="onSubmit()"
        >
          Submit Map
          <nb-icon class="ml-1 text-3xl" icon="upload" />
        </button>
      </div>
    </div>
  </nb-card-body>
  <nb-card-body *ngIf="!isMapperOrPorter && hasMapInSubmission" class="prose max-w-none">
    <p>
      You currently have a map in submission. As you don't yet have any approved maps, you are only allowed to have one map in submission at
      a time.
    </p>
    <p>
      Please either continue working on that submission (or waiting on its approval), or if you're not happy with that map, you can delete
      it and start a new submission.
    </p>
    <p>
      Once you've had a submission approved, thereby demonstrating your capability as a mapper, you'll be allowed to have an unlimited
      number of submissions at once.
    </p>
  </nb-card-body>
</nb-card>
