<m-card title="Admin Activity">
  <div header class="flex items-center gap-4" [formGroup]="filters">
    <p-multiSelect
      placeholder="Activity Types"
      [options]="AdminActivitiesFilters"
      optionLabel="text"
      optionValue="value"
      formControlName="types"
      [showHeader]="false"
      scrollHeight="auto"
      appendTo="body"
    />
    <m-user-select formControlName="user" />
  </div>
  <div [mSpinner]="loading">
    <m-accordion [autoClose]="false" [startFirstOpen]="true">
      @for (ca of compositeActivities; track ca.activity.id) {
        <m-accordion-item [hasContent]="!!ca.entry.diff">
          <m-admin-activity-entry-header header [activity]="ca.activity" [activityData]="ca.entry" />
          <m-admin-activity-entry [activityData]="ca.entry" />
        </m-accordion-item>
      } @empty {
        @if (!loading) {
          <p class="my-4 text-center text-2xl text-gray-100">
            @if (totalRecords === -1) {
              User is not an admin
            } @else {
              No activities found
            }
          </p>
        }
      }
    </m-accordion>
    <p-paginator
      (onPageChange)="pageChange.next($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [showCurrentPageReport]="true"
      [alwaysShow]="false"
    />
  </div>
</m-card>
