nb-list-item > * {
  flex-basis: 100%;
}

.search {
  gap: 1rem;
  .search-controls {
    gap: 1rem 2rem;

    input {
      width: 275px;
    }

    .search-toggles {
      gap: 2rem;
      margin-bottom: -0.5rem;
    }
  }
}
