nb-list-item > * {
  flex-basis: 100%;
}

.search {
  gap: 1em;
  .search-controls {
    gap: 1em 2em;

    input {
      width: 275px;
    }

    .search-toggles {
      gap: 1em;
      margin-bottom: -0.5rem;
    }
  }
}
