<nb-card>
  <nb-card-header>
    <h2 class="col-10">Utilities</h2>
  </nb-card-header>
  <nb-card-body>
    <h2 class="text-center">XP Systems</h2>
    <form class="row" *ngIf="xpSystems" [formGroup]="xpSystemsFormGroup">
      <div class="col-5" formGroupName="rankXP">
        <div class="row">
          <h4 class="text-center d-block m-auto">Rank XP</h4>
        </div>
        <div class="row">
          <div class="col-3" formGroupName="top10">
            <label>
              WR Points:
              <input nbInput type="number" formControlName="WRPoints">
            </label>
            <div formArrayName="rankPercentages">
              <div *ngFor="let _ of top10RankPercts.controls; let i=index">
                <label>
                  Rank {{i + 1}} Percentage:
                  <input nbInput type="number" [formControlName]="i">
                </label>
              </div>
            </div>
          </div>
          <div class="col-3" formGroupName="formula">
            <label>
              A:
              <input nbInput type="number" formControlName="A">
            </label>
            <label>
              B:
              <input nbInput type="number" formControlName="B">
            </label>
          </div>
          <div class="col-3" formGroupName="groups">
            <label>
              Max groups:
              <input nbInput type="number" formControlName="maxGroups">
            </label>
            <div formArrayName="groupScaleFactors">
              <div *ngFor="let _ of groupScaleFactors.controls; let i=index">
                <label>
                  Group {{i + 1}} Scale Factor:
                  <input nbInput type="number" [formControlName]="i">
                </label>
              </div>
            </div>

            <div formArrayName="groupExponents">
              <div *ngFor="let _ of groupExponents.controls; let i=index">
                <label>
                  Group {{i + 1}} Exponent:
                  <input nbInput type="number" [formControlName]="i">
                </label>
              </div>
            </div>

            <div formArrayName="groupMinSizes">
              <div *ngFor="let _ of groupMinSizes.controls; let i=index">
                <label>
                  Group {{i + 1}} Minimum Size:
                  <input nbInput type="number" [formControlName]="i">
                </label>
              </div>
            </div>

            <div formArrayName="groupPointPcts">
              <div *ngFor="let _ of groupPointPcts.controls; let i=index">
                <label>
                  Group {{i + 1}} WRPoints Percentage:
                  <input nbInput type="number" [formControlName]="i">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-7" formGroupName="cosXP">
        <div class="row">
          <h4 class="text-center d-block m-auto">Cosmetic XP</h4>
        </div>
        <div class="row">
          <div class="col-6" formGroupName="levels">
            <label>
              Max Levels:
              <input nbInput type="number" formControlName="maxLevels">
            </label>
            <label>
              Starting Value:
              <input nbInput type="number" formControlName="startingValue">
            </label>
            <label>
              Linear Scale Base Increase:
              <input nbInput type="number" formControlName="linearScaleBaseIncrease">
            </label>
            <label>
              Linear Scale Interval:
              <input nbInput type="number" formControlName="linearScaleInterval">
            </label>
            <label>
              Linear Scale Interval Multiplier:
              <input nbInput type="number" formControlName="linearScaleIntervalMultiplier">
            </label>
            <label>
              Static Scale Start Level:
              <input nbInput type="number" formControlName="staticScaleStart">
            </label>
            <label>
              Static Scale Base Multiplier:
              <input nbInput type="number" formControlName="staticScaleBaseMultiplier">
            </label>
            <label>
              Static Scale Interval:
              <input nbInput type="number" formControlName="staticScaleInterval">
            </label>
            <label>
              Static Scale Interval Multiplier:
              <input nbInput type="number" formControlName="staticScaleIntervalMultiplier">
            </label>
          </div>
          <div class="col-6" formGroupName="completions">
            <div class="row">
              <div class="col-6" formGroupName="unique">
                <div formGroupName="tierScale">
                  <label>
                      Unique Linear Scale:
                    <input nbInput type="number" formControlName="linear">
                  </label>
                  <label>
                      Unique Staged Scale:
                    <input nbInput type="number" formControlName="staged">
                  </label>
                </div>
              </div>
              <div class="col-6" formGroupName="repeat">
                <div formGroupName="tierScale">
                  <label>
                    Repeat Linear Scale:
                    <input nbInput type="number" formControlName="linear">
                  </label>
                  <label>
                    Repeat Staged Scale:
                    <input nbInput type="number" formControlName="staged">
                  </label>
                  <label>
                    Repeat Individual Stage Scale:
                    <input nbInput type="number" formControlName="stages">
                  </label>
                  <label>
                    Repeat Bonus Scale:
                    <input nbInput type="number" formControlName="bonus">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button nbButton class="d-block m-auto" type="button" (click)="submitXPSystems()">Submit</button>
    </form>
    <button class="btn btn-outline-danger mr-2" (click)="showResetCosXPConfigDialog()">Reset Cosmetic XP Globally
    </button>
    <button class="btn btn-outline-danger" (click)="showResetRankXPConfirmDialog()">Reset Rank XP Globally</button>
  </nb-card-body>
</nb-card>
