<div
  class="flex h-full max-h-[36rem] min-h-[16rem] w-full gap-4 transition-opacity"
  [ngClass]="{
    'pointer-events-none opacity-25': disabled
  }"
>
  <div class="md:w-full lg:w-1/2">
    <p class="mb-2 text-xl">Invite Private Testers</p>
    <m-user-search #searchInput (selected)="addUser($event, searchInput)" mTooltip tooltipEvent="noop" />
  </div>
  <div class="flex flex-col overflow-y-auto rounded bg-black bg-opacity-25 py-2 md:w-full lg:w-1/2">
    <div *ngFor="let user of users" class="flex items-center bg-white bg-opacity-0 p-2 px-4 transition-colors hover:bg-opacity-5">
      <m-avatar class="h-6" [url]="user.avatarURL" />
      <span class="mr-3 flex-grow">{{ user.alias }}</span>
      <button class="btn bg-red-900 transition-colors hover:bg-red-800" (click)="removeUser(user.id)">Delete</button>
    </div>
    <p class="mr-3 mt-auto self-end text-sm italic text-gray-200">
      {{ users.length }}/
      {{ MAX_TESTING_REQUESTS.toString() }}
      invites used
    </p>
  </div>
</div>
