<div class="d-flex flex-wrap justify-content-around text-center">

  <div class="base mx-1 mb-3">
    <h6>Total Jumps</h6>
    <h1>{{map?.stats?.baseStats.jumps || 0}}</h1>
  </div>

  <div class="base mx-1 mb-3">
    <h6>Total Strafes</h6>
    <h1>{{map?.stats?.baseStats.strafes || 0}}</h1>
  </div>

  <div class="base mx-1 mb-3">
    <h6>Total Completions</h6>
    <h1>{{map?.stats?.totalCompletions || 0}}</h1>
  </div>

  <div class="base mx-1 mb-3">
    <h6>Unique Completions</h6>
    <h1>{{map?.stats?.totalUniqueCompletions || 0}}</h1>
  </div>

  <!--<div class="base">-->
    <!--<h6>RUNS SUBMITTED</h6>-->
    <!--<h1>1,543</h1>-->
  <!--</div>-->

  <!--<div class="base">-->
    <!--<h6>TOTAL JUMPS</h6>-->
    <!--<h1>44,598</h1>-->
  <!--</div>-->

  <!--<div class="base">-->
    <!--<h6>TOTAL STRAFES</h6>-->
    <!--<h1>98,508</h1>-->
  <!--</div>-->

  <!--<div class="base">-->
    <!--<h6>AVERAGE SYNC</h6>-->
    <!--<h1>11:43</h1>-->
  <!--</div>-->
</div>
