<nb-card>
  <nb-card-header>
    <div class="row no-gutters">
      <h2 class="col-auto">{{ headerTitle }}</h2>
      <div class="col-auto ml-auto">
        <div class="d-flex align-items-center">
          <span class="mr-2">Filter:</span>
          <nb-select
            placeholder="All"
            [(selected)]="filterValue"
            (selectedChange)="filterActivites(activities)"
          >
            <nb-option [value]="ActivityType.ALL">All</nb-option>
            <nb-option [value]="ActivityType.MAP_APPROVED">Maps Only</nb-option>
            <nb-option [value]="ActivityType.PB_ACHIEVED">PBs Only</nb-option>
            <nb-option [value]="ActivityType.WR_ACHIEVED">WRs Only</nb-option>
          </nb-select>
        </div>
      </div>
    </div>
  </nb-card-header>
  <mom-activity-list
    [activities]="actsFiltered"
    [hasRequested]="initialAct"
    (showMore)="getMoreActivities()"
  ></mom-activity-list>
</nb-card>
