// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '@nebular/theme/styles/globals';

// global app font size
@import './font-size';

// ngx-pagination theme
@import './pagination';

@import '../components/search/search.component.theme';

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();

  @include mom-search-theme();
}

.nb-theme-dark input[type='number'] {
  padding-top: 0;
  padding-bottom: 0;
}

.nb-theme-dark .btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: nb-theme(layout-background-color);
}

.no-gutters {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

nb-sidebar:not(.expanded) .menu-icon {
  margin: 0 !important;
}

iframe {
  border: none;
}
