<nb-card>
  <nb-card-header>
    <div class="row">
      <h2 class="col title">EDIT PROFILE</h2>
      <div class="col">
        <button class="btn btn-outline-info return-btn" (click)="returnToProfile()">
          Return to Profile
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="onSubmit()">
      <nb-tabset>
        <nb-tab tabTitle="PROFILE" [formGroup]="profileEditFormGroup">
          <div class="form-group" [ngClass]="{'has-error':!profileEditFormGroup.controls['alias'].valid}">
            <label>
              Alias:
              <input class="form-control" formControlName="alias" type="text">
              <p class="alert alert-danger" *ngIf="profileEditFormGroup.controls['alias'].hasError('minlength')">
                Username must be at least 3 characters.
              </p>
              <p class="alert alert-danger" *ngIf="profileEditFormGroup.controls['alias'].hasError('maxlength')">
                Username cannot exceed 25 characters.
              </p>
              <p class="alert alert-danger" *ngIf="profileEditFormGroup.controls['alias'].hasError('required') && profileEditFormGroup.controls['alias'].dirty">
                Username is required.
              </p>
            </label>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!profileEditFormGroup.controls['bio'].valid}">
            <label>Bio:</label>
            <textarea class="form-control" formControlName="bio" type="bio"></textarea>
            <p class="alert alert-danger" *ngIf="profileEditFormGroup.controls['bio'].hasError('maxlength')">
              Text cannot exceed 500 characters.
            </p>
          </div>
        </nb-tab>
        <nb-tab *ngIf="isAdmin && user" [formGroup]="adminEditFg" tabTitle="ADMIN USER SETTINGS">
          <div class="row">
            <div class="col">
              <h2>Bans</h2>
              <nb-checkbox (change)="togglePerm(permissions.BANNED_ALIAS)" formControlName="banAlias">Ban changing alias</nb-checkbox>
              <br/>
              <nb-checkbox (change)="togglePerm(permissions.BANNED_BIO)" formControlName="banBio">Ban changing bio</nb-checkbox>
              <br/>
              <nb-checkbox (change)="togglePerm(permissions.BANNED_AVATAR)" formControlName="banAvatar">Ban avatar</nb-checkbox>
              <br/>
              <nb-checkbox (change)="togglePerm(permissions.BANNED_LEADERBOARDS)" formControlName="banLeaderboards">
                Ban submitting to leaderboards
              </nb-checkbox>
            </div>
            <div class="col">
              <h2>Permissions</h2>
              <nb-checkbox (change)="togglePerm(permissions.MAPPER)" formControlName="mapper">Mapper</nb-checkbox>
              <br/>
              <nb-checkbox *ngIf="isAdmin" (change)="togglePerm(permissions.MODERATOR)" formControlName="moderator">Moderator</nb-checkbox>
              <br/>
              <nb-checkbox *ngIf="isAdmin" (change)="togglePerm(permissions.ADMIN)" formControlName="admin">Admin</nb-checkbox>
            </div>
          </div>
        </nb-tab>
        <nb-tab *ngIf="isLocal && user" tabTitle="SOCIAL LINKS">
          <div class="form-group">
            <div>
              <span>Twitter:</span>
            </div>
            <div>
              <img *ngIf="!user.profile.twitterAuth" src="/assets/images/twitter_button.png" (click)="auth('twitter')">
              <div *ngIf="user.profile.twitterAuth">
                <span class="authorized">Authorized as {{user.profile.twitterAuth.displayName}}</span>
                <button class="btn btn-outline-danger" type="button" (click)="unAuth('twitter')">Unauthorize</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <span>Discord:</span>
            </div>
            <div>
              <img *ngIf="!user.profile.discordAuth" src="/assets/images/discord_button.png" (click)="auth('discord')">
              <div *ngIf="user.profile.discordAuth">
                <span class="authorized">Authorized as {{user.profile.discordAuth.displayName}}</span>
                <button class="btn btn-outline-danger" type="button" (click)="unAuth('discord')">Unauthorize</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <span>Twitch.tv</span>
            </div>
            <div>
              <img *ngIf="!user.profile.twitchAuth" src="/assets/images/twitch_button.png" (click)="auth('twitch')">
              <div *ngIf="user.profile.twitchAuth">
                <span class="authorized">Authorized as {{user.profile.twitchAuth.displayName}}</span>
                <button class="btn btn-outline-danger" type="button" (click)="unAuth('twitch')">Unauthorize</button>
                <div>
                  <span>
                    Note: You'll also have to manually disconnect "Momentum" from your <a href="https://www.twitch.tv/settings/connections">connections page</a>.<br/>
                    (Twitch is the only site that doesn't do this automatically.)
                  </span>
                </div>
              </div>
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
      <button class="btn btn-md btn-outline-primary" type="submit" [disabled]="(profileEditFormGroup.touched && !profileEditFormGroup.valid)">
        Save changes
      </button>
    </form>
  </nb-card-body>
</nb-card>
