<h2>EDIT PROFILE</h2>
<nb-card>
  <nb-card-body>
    <form [formGroup]="profileEditFormGroup" (ngSubmit)="onSubmit()">
      <nb-tabset>
        <nb-tab tabTitle="Profile">
          <div class="form-group">
            <label>
              Username:
              <input class="form-control" formControlName="alias" type="text">
            </label>
          </div>
          <div class="form-group">
            <label>Bio:</label>
            <textarea class="form-control" formControlName="bio"></textarea>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Social Links">
          <div class="form-group">
            <div>
              <span>Twitter:</span>
            </div>
            <div>
              <img *ngIf="profile && !profile.twitterAuth" src="/assets/images/signInTwit.png" (click)="auth('twitter')">
              <div *ngIf="profile && profile.twitterAuth">
                <span class="authorized">Authorized as {{profile.twitterAuth.displayName}}</span>
                <button class="btn btn-outline-danger" type="button" (click)="unAuth('twitter')">Unauthorize</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <span>Discord:</span>
            </div>
            <div>
              <button class="btn btn-outline-info" type="button" *ngIf="profile && !profile.discordAuth" (click)="auth('discord')">Link Discord Account</button>
              <div *ngIf="profile && profile.discordAuth">
                <span class="authorized">Authorized as {{profile.discordAuth.displayName}}</span>
                <button class="btn btn-outline-danger" type="button" (click)="unAuth('discord')">Unauthorize</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <span>Twitch.tv</span>
            </div>
            <div>
              <button class="btn btn-outline-info" type="button" *ngIf="profile && !profile.twitchAuth" (click)="auth('twitch')">Link Twitch Account</button>
              <div *ngIf="profile && profile.twitchAuth">
                <span class="authorized">Authorized as {{profile.twitchAuth.displayName}}</span>
                <button class="btn btn-outline-danger" type="button" (click)="unAuth('twitch')">Unauthorize</button>
                <div>
                  <span>
                    Note: You'll also have to manually disconnect "Momentum" from your <a href="https://www.twitch.tv/settings/connections">connections page</a>.<br/>
                    (Twitch is the only site that doesn't do this automatically.)
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>
              Youtube:
              <input class="form-control" type="text">
            </label>
          </div>
        </nb-tab>
      </nb-tabset>
      <button class="btn btn-md btn-primary" type="submit" [disabled]="!profileEditFormGroup.valid">
        Save changes
      </button>
    </form>
  </nb-card-body>
</nb-card>
