<div>
  <h1>SEARCH FOR A MAP</h1>
  <div>
    <nb-card>
      <nb-card-body>
        <form>
          <div class="input-group">
            <input type="text" class="form-control full-width" placeholder="Search Maps...">
            <button class="btn-dark" type="submit">
              <i class="fa fa-search fa-fw"></i>
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div>
  <h1>ALL AVAILABLE MAPS</h1>
  <nb-card>
    <nb-card-body>
      <div>
        <i><p>All available maps will appear here</p></i>
      </div>
    </nb-card-body>
  </nb-card>
</div>
