<div class="card card-image" style="background-size: cover; background: black url('../../../../../assets/images/logoBG.png') no-repeat fixed center center;">
<div class="row">

  <nb-card-header><h1>SEARCH FOR A MAP</h1></nb-card-header>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card class="inline-form-card">

      <nb-card-body>
        <form>
          <div class="input-group">
            <input type="text" class="form-control full-width" placeholder="Search Maps...">

            <button class="btn-dark" type="submit">
              <i class="fa fa-search fa-fw"></i>
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

  </div>
      <div class="col-md-12 col-lg-12">
        <nb-card-header><h1>ALL AVAILABLE MAPS</h1></nb-card-header>
    <nb-card>
      <nb-card-body>
        <div>
          <i><p>All available maps will appear here</p></i>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
</div>
