<div>
  <div>
    <nb-card>
      <nb-card-header><h2>BROWSE MAPS</h2></nb-card-header>
      <nb-card-body>
        <form [formGroup]="searchOptions" (ngSubmit)="loadMaps()">
          <div class="input-group">
            <input type="text" class="form-control full-width" placeholder="Search Maps..." formControlName="search">
            <button class="btn-dark" type="submit" (click)="loadMaps()">
              <i class="fa fa-search fa-fw"></i>
            </button>
          </div>
        </form>
        <nb-list>
          <nb-list-item *ngFor="let map of maps| paginate: {
            itemsPerPage: pageLimit,
            currentPage: currentPage,
            totalItems: mapCount
          }">
            <map-list-item [map]="map" [inLibrary]="map.libraryEntries && map.libraryEntries.length"></map-list-item>
          </nb-list-item>
        </nb-list>
        <pagination-controls (pageChange)="onPageChange($event)" [autoHide]="true"></pagination-controls>
      </nb-card-body>
    </nb-card>
  </div>
</div>
