.rank-xp {
  border-left: 3px solid coral;
}

.cos-xp {
  border-left: 3px solid palegreen;
}

.maps-completed {
  border-left: 3px solid deepskyblue;
}

.total-jumps {
  border-left: 3px solid yellow;
}

.total-strafes {
  border-left: 3px solid orangered;
}

.runs {
  border-left: 3px solid mediumpurple;
}
