<nb-card>
  <nb-card-header>
    <div class="flex flex-wrap items-center">
      <h2 class="col-auto">Live Streams</h2>
      <h4 class="relative max-w-full flex-1 flex-grow px-4 text-right">
        <a href="https://www.twitch.tv/directory/game/Momentum%20Mod" target="_blank">View&nbsp;Momentum on&nbsp;Twitch</a>
      </h4>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="text-center">
      <h3 class="m-0" *ngIf="streams.length === 0 && queriedStreams">
        <i>Nobody is currently streaming Momentum</i>
      </h3>
      <h3 class="m-0" *ngIf="!queriedStreams">Waiting for API response</h3>
    </div>
    <div class="m-0 flex flex-wrap">
      <div class="twitch-data my-3 w-full pl-4 pl-4 pl-4 pr-4 pr-4 pr-4 sm:w-1/2 md:w-1/3 xl:w-1/4" *ngFor="let stream of streams">
        <m-twitch-data [stream]="stream" />
      </div>
    </div>
  </nb-card-body>
</nb-card>
