@import '../../../@theme/styles/themes';

.masthead {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  z-index: 0;
}

.masthead h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  font-family: nb-theme(font-family-primary);
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.donate {
  margin: 1em auto 0;
  display: block;
  width: 340px;
}

.donate:visited .donateBody {
  color: white;
}

.donate:hover .donateBody {
  background-color: #2daee5;
  color: white;
}

.donate:active .donateBody {
  background-color: #0080b7;
  color: white;
}

.donateBody {
  height: 50px;
  border-radius: 50px;
  background-color: #1396d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px 0 20px;
}

.donateText {
  font-family: Montserrat-Regular, Montserrat, Arial;
  font-size: 12px;
  letter-spacing: 2px;
}

@media (max-width: 380px) {
  .donate {
    width: 220px;
  }
  .donateText {
    width: 150px;
  }
}

@media (max-width: 767.98px) {
  iframe {
    width: 100%;
  }
}

.banner-video {
  object-fit: cover;
  //any higher causes scrollbars
  //width: ;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  top: 50%;
  z-index: -2;
}

.gradient {
  //-webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  mask-image: linear-gradient(to bottom, rgba(22, 22, 22), transparent 92%);
  //mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/**
background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(22, 22, 22, 0.1)),
    color-stop(75%, rgba(22, 22, 22, 0.5)),
    to(#161616)
  );
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%);
  **/
