@use 'theme' as *;

.no-notifs {
  font-family: nb-theme(font-family-secondary);
}

.unread {
  background-color: nb-theme(notif-unread-bg);
}

nb-list-item {
  position: relative;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  .date {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.2rem;
    transform: translate(0, 1.45rem);
    transition: transform 0.15s ease-out;
  }

  button {
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    opacity: 0;
    transition: opacity 0.15s ease-out;
    padding: 2px 3px 1px;
  }

  &:hover {
    .date {
      transform: translate(0, 0);
    }

    button {
      opacity: 1;
    }
  }
}
