<!-- TODO: This component probably wants infinite scrolling and general cleanup,
     not worth doing until we rework notifications though. -->
<ul>
  @if (notifications.length === 0) {
    <li>
      <span class="italic">No notifications</span>
    </li>
  }
  @for (notification of notifications; track notification) {
    <li class="overflow-hidden" [ngClass]="{ 'bg-blue-500': !notification.read }">
      <m-activity-content
        [activity]="notification.activity"
        [dateNone]="true"
        (mouseenter)="onHoverNotif(notification)"
        (click)="onClickNotif(notification)"
      >
      </m-activity-content>
      <!-- TODO: Idiotic styling.  -->
      <div class="absolute bottom-1 left-0 right-0 translate-y-6 text-center transition-transform [:hover>&]:translate-y-0">
        {{ notification.activity.createdAt | timeAgo }}
      </div>
      <button
        class="m-btn m-btn-blue [:hover>&]:opacity-1 absolute right-[0.4rem] top-[0.4rem] px-[3px] py-[1px] pt-[2px] opacity-0 transition-opacity"
        (click)="removeNotif(notification)"
      >
        <m-icon icon="close-circle-outline" />
      </button>
    </li>
  }
</ul>
