@use 'theme' as *;

#mainNav {
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#mainNav .navbar-toggler {
  display: flex;
  align-items: center;
  font-size: 80%;
  padding: 0.75rem;
  color: #2e66a5;
  border: 1px solid #2e66a5;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #fff;
  font-weight: 700;
  padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(nb-theme(color-primary-500), 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-brand {
  padding: 0.5rem 0;
  color: rgba(255, 255, 255, 0.75);
}

#mainNav .nav-link {
  padding-top: 1rem;
  -webkit-transition: none;
  transition: none;
  color: rgba(255, 255, 255, 0.75);
}

#mainNav .nav-link:hover {
  color: nb-theme(color-primary-500);
}

#mainNav .nav-link:active {
  color: white;
}

#mainNav.navbar-shrink {
  background-color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-shrink .navbar-brand {
  color: white;
}

#mainNav.navbar-shrink .nav-link {
  color: white;
}

#mainNav.navbar-shrink .nav-link:hover {
  color: #2e66a5;
}

#mainNav.navbar-shrink .nav-link:active {
  color: #2e66a5;
}
#mainNav.navbar-shrink .nav-link.active {
  color: #2e66a5;
  outline: none;
  border-bottom: 0.25rem solid #2e66a5;
}

@media (min-width: 992px) {
  #mainNav {
    background-color: #2020208a;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .nav-link {
    padding: 1.5rem;
  }
  #mainNav .navbar-toggler {
    display: none;
  }
}
