.footer-section {
  padding: 6rem 0 9rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%,
    rgba(22, 22, 22, 0.5)), to(#161616)), url('../../../../assets/images/bg-bottom.jpg');
  background: linear-gradient(to bottom,
    rgb(22, 22, 22) 0%, rgba(22, 22, 22, 0) 20%, rgba(22, 22, 22, 0.5) 85%, #161616 100%),
    url('../../../../assets/images/bg-bottom.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-shadow: 0 0.25em 0.3em #161616;
}

.credits-row li {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.4;
}

.valve-mark {
  height: 55px;
}

.link {
  i {
    font-size: 3.75rem;
    margin-bottom: 0.5rem;
  }
  div {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.2;
  }
}

.justify-content-evenly {
  justify-content: space-evenly;
}

footer {
  padding: 2rem 0;
}

@media (max-width: 767.98px) {
  .valve-mark {
    height: 40px;
  }

  .link {
    i {
      font-size: 3.25rem;
    }
    div {
      font-size: 1.75rem;
    }
  }
}

@media (max-width: 575.98px) {
  .credits-row li {
      font-size: 1.2rem;
    }
}
