<section id="footer" class="footer-section">
  <div class="container">

    <div class="row">

      <div class="col-md-6 mb-3 mb-md-0">
        <div class="card py-4 h-100 bg-black">
          <div class="card-body text-center">
            <h4 class="text-uppercase m-0 text-white">Development</h4>
            <hr class="my-4 bg-white">

            <div class="text-white">
              <a href="https://github.com/momentum-mod/" target="_blank">
                GitHub <i class="ion ion-social-github"></i>
              </a>
            </div>

            <div class="text-white">
              <a href="https://trello.com/momentum_mod" target="_blank">
                Trello <i class="fab fa-trello"></i>
              </a>
            </div>

            <div class="text-white">
              <a href="https://poeditor.com/join/project/NsticU7iCc">
                POEditor
              </a>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6 mb-3 mb-md-0">
        <div class="card py-4 h-100 bg-black">
          <div class="card-body text-center">
            <h4 class="text-uppercase m-0 text-white">Community</h4>
            <hr class="my-4 bg-white">
            <div class="text-white">
              <a href="https://discordapp.com/invite/wQWkRb6" target="_blank">
                Discord <i class="fab fa-discord"></i></a>
            </div>
            <div class="text-white"><a href="https://twitter.com/momentummod" target="_blank">
              Twitter <i class="ion ion-social-twitter"></i></a>
            </div>
            <div class="text-white"><a href="https://blog.momentum-mod.org/" target="_blank">Dev Blog</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
  <div class="container">
    Copyright &copy; Momentum Mod 2019
  </div>
</footer>
