<section id="footer" class="footer-section">
  <div class="container">

    <div class="row">

      <div class="col-md-6 mb-3 mb-md-0">
        <div class="card py-4 h-100 bg-black">
          <div class="card-body text-center">
            <h4 class="text-uppercase m-0 text-white">Development</h4>
            <hr class="my-4 bg-white">
            <a href="https://github.com/momentum-mod/" target="_blank"><div class="text-white">GitHub <i class="ion ion-social-github"></i></div></a>
            <a href="https://trello.com/momentum_mod" target="_blank"><div class="text-white">Trello <img src="assets\images\trello.png" height="15px" width="15px"></div></a>
            <a href="https://poeditor.com/join/project/NsticU7iCc"><div class="text-white">POEditor</div></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-3 mb-md-0">
        <div class="card py-4 h-100 bg-black">
          <div class="card-body text-center">
            <h4 class="text-uppercase m-0 text-white">Community</h4>
            <hr class="my-4 bg-white">
            <a href="https://discordapp.com/invite/wQWkRb6" target="_blank"><div class="text-white">Discord <img src="assets\images\Discord-Logo-White.png" height="15px" width="15px"></div></a>
            <a href="https://twitter.com/momentummod" target="_blank"><div class="text-white">Twitter <i class="ion ion-social-twitter"></i></div></a>
             <a href="https://blog.momentum-mod.org/" target="_blank"><div class="text-white">Dev Blog</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
  <div class="container">
    Copyright &copy; Momentum Mod 2018
  </div>
</footer>
