@import '../../../@theme/styles/themes';

.header {
  margin: auto;
  text-align: center;

  .text {
    display: inline-block;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
}

.user-image {
  border-radius: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight);
  -moz-box-shadow: inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight);
  box-shadow: inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight);
  width: 25vh;
  height: 25vh;
  margin: auto;
}

