<div class= "row">
  <div class="col-sm-6">
    <ngx-profile-card [user]="(this.user$ | async)"></ngx-profile-card>
  </div>
  <div class="col-sm-6">
    <profile-info [userProfile]="(this.user$ | async)?.profile"></profile-info>
  </div>
</div>
<div class = "row">
  <div class="col-sm-2">
    <nb-card>
      <nb-card-header>
        <h4>Player Stats</h4>
      </nb-card-header>
      <nb-card-body>
        <h6>Maps Completed:</h6> <p>37</p>
        <h6>Totals Jumps:</h6> <p>411</p>
        <h6>Total Strafes:</h6> <p>102</p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-10" *ngIf="this.user$ | async">
    <activity-card [header]="'User Activity'" [userID]="(this.user$ | async)?.id"></activity-card>
  </div>
</div>
