@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

nb-tabset ::ng-deep .tabset {
  overflow-x: auto;
  padding-bottom: 0.25rem !important;

  .tab {
    margin-left: auto;
    margin-right: auto;
  }
}

nb-card-header {
  position: relative;

  .text {
    color: lightgray;
  }
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.verified {
  max-width: 2rem;
}

.flg {
  font-size: 2.5rem;
  position: absolute;
  left: 3px;
  top: 3px;
}

.socials {
  font-size: 2.5rem;

  a {
    padding: 0.4rem;
    text-decoration: none;
    color: nb-theme(text-control-color);
    transition: color ease-out 0.1s;

    &:hover {
      color: nb-theme(color-primary-default);
    }
  }
}

.badges {
  img {
    max-width: 3.5rem;
  }
}

.top-right-toolbar {
  right: 1.25rem;
  position: absolute;
  z-index: 500;
}

.user-image {
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid #2e66a5;
  width: 15rem;
  height: 15rem;
}

@include media-breakpoint-down(sm) {
  .user-image {
    width: 12rem;
    height: 12rem;
  }

  .badges {
    img {
      max-width: 2.75rem;
    }
  }
}

h5, h6 {
  color: lightgray;
}

.base {
  border-bottom: 0.5rem solid dodgerblue;
}
