@import '../../../@theme/styles/themes';

.header {
  margin: auto;
  text-align: center;
  position: relative;

  .text {
    display: inline-block;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
}

.user-name {
  display: inline-block;
}

.edit-profile {
  right: 0;
  position: absolute;
}

.user-image {
  border-radius: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight);
  -moz-box-shadow: inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight);
  box-shadow: inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight),
  inset 0 0 2vh nb-theme(user-fg-highlight);
  width: 25vh;
  height: 25vh;
  margin: auto;
}
h5 {
  color: lightgray;
}

.Spacing {
  margin-left: auto;
  margin-right: auto;
  text-align: Center;
}

p {
  font-size: 4rem;
  border-bottom: 0.5rem solid dodgerblue;
}
