<div class="row">
  <nb-card class="col-7" *ngIf="user">
    <nb-card-header>
      <div class="header">
        <span *ngIf="user.country && user.country.length === 2"
              class="flg flag-icon flag-icon-{{user.country.toLowerCase()}}"></span>
        <div *ngIf="canEdit()" class="edit-profile">
          <button class="btn btn-outline-info" type="button" (click)="onEditProfile()">Edit Profile</button>
        </div>
        <div class="row no-gutters">
          <div *ngIf="avatar_loaded" class="user-image col" [ngStyle]="{'background-image':'url(' + avatar_url + ')'}">
          </div>
          <div class="col-7 user-info">
            <div class="user-name row no-gutters">
              <div class="col">
                <span class="text"><h1>{{user.profile.alias}}</h1></span>
                <img *ngIf="isVerified" class="verified" src="assets/images/badges/BadgeVerified.png"
                     nbPopover="Verified" nbPopoverMode="hint" nbPopoverPlacement="bottom">
              </div>
            </div>
            <div class="badges">
              <div *ngIf="isMapper" class="badge">
                <img src="assets/images/badges/BadgeMapper.png" nbPopover="Mapper" nbPopoverMode="hint" nbPopoverPlacement="bottom">
              </div>
              <div *ngIf="isMod" class="badge">
                <img src="assets/images/badges/BadgeMod.png" nbPopover="Moderator" nbPopoverMode="hint" nbPopoverPlacement="bottom">
              </div>
              <div *ngIf="isAdmin" class="badge">
                <img src="assets/images/badges/BadgeAdmin.png" nbPopover="Admin" nbPopoverMode="hint" nbPopoverPlacement="bottom">
              </div>
            </div>
            <div class="user-rank">
              <span class="text"><h5>Rank TBD</h5></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="socials">
              <a href="https://steamcommunity.com/profiles/{{user.id}}" target="_blank" class="ion ion-steam"></a>
              <a *ngIf="user.profile?.twitchAuth" href="https://twitch.tv/{{user.profile?.twitchAuth.displayName}}"
                 target="_blank" class="ion ion-social-twitch"></a>
              <a *ngIf="user.profile?.twitterAuth" href="https://twitter.com/{{user.profile.twitterAuth.displayName}}"
                 target="_blank" class="ion ion-social-twitter"></a>
              <a *ngIf="user.profile?.discordAuth"
                 [href]="'https://discordapp.com/users/' + user.profile.discordAuth.discordID"
                 title="{{user.profile?.discordAuth.displayName}}" target="_blank">
                <img src="assets\images\Discord-Logo-White.png" height="35px" width="35px">
              </a>
              <a *ngIf="user.profile?.youtubeName" href="https://youtube.com/user/{{user.profile?.youtubeName}}"
                 target="_blank" class="ion ion-social-youtube"></a>
            </div>
          </div>
          <div class="col">
            <profile-follow *ngIf="!isLocal" [userSubj]="userSubj$"></profile-follow>
          </div>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <nb-tabset [fullWidth]="true">
        <nb-tab [tabTitle]="'INFO'">
          <span class="no-bio" *ngIf="!user.profile?.bio || user.profile?.bio?.length === 0"><h5><i>No bio found</i></h5></span>
          <markdown *ngIf="user.profile?.bio?.length > 0" [data]="user?.profile?.bio" ngPreserveWhitespaces></markdown>
        </nb-tab>
        <nb-tab [tabTitle]="'FOLLOWING (' + followingUsers.length + ')'">
          <nb-list>
            <nb-list-item *ngFor="let usr of followingUsers">
              <nb-user [name]="usr.followed?.profile.alias" [picture]="usr.followed?.profile.avatarURL" (click)="clickUser(usr.followed)"></nb-user>
            </nb-list-item>
          </nb-list>
        </nb-tab>
        <nb-tab [tabTitle]="'FOLLOWERS (' + followedByUsers.length + ')'">
          <nb-list>
            <nb-list-item *ngFor="let usr of followedByUsers">
              <nb-user [name]="usr.followee?.profile.alias" [picture]="usr.followee?.profile.avatarURL" (click)="clickUser(usr.followee)"></nb-user>
            </nb-list-item>
          </nb-list>
        </nb-tab>

        <nb-tab [tabTitle]="'STATISTICS'" *ngIf="user.stats">
          <div class="row">
            <div class="spacing"><h5>Maps Completed</h5> <p>{{user.stats.mapsCompleted}}</p></div>
            <div class="spacing"> <h5>Total Jumps</h5> <p>{{user.stats.totalJumps}}</p></div>
            <div class="spacing"><h5>Total Strafes</h5> <p>{{user.stats.totalStrafes}}</p></div>
            <div class="spacing"><h5>Runs Submitted</h5> <p>{{user.stats.runsSubmitted}}</p></div>
            <div class="spacing"> <h5>Rank XP</h5> <p>{{user.stats.rankXP}}</p></div>
            <div class="spacing"><h5>Cosmetic XP </h5> <p>{{user.stats.cosXP}}</p></div>
          </div>
        </nb-tab>
        <nb-tab *ngIf="isMapper" [tabTitle]="'MAPS'">
          <!--TODO put the map list of their maps in here-->
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
  <activity-card *ngIf="user" class="col-5" [header]="'USER ACTIVITY'" [userSubj]="userSubj$"></activity-card>
</div>

<nb-card class="comments-card" *ngIf="user">
  <nb-card-header>
    <h2>COMMENTS</h2>
  </nb-card-header>
  <nb-card-body>
    <disqus [url]="'https://momentum-mod.org/dashboard/profile/' + user.id" [identifier]="'users/' + user.id"></disqus>
  </nb-card-body>
</nb-card>
