<section id="gamemodes" class="gamemodes-section bg-black">
  <div class="container mx-auto sm:px-4">
    <div class="mb-5 flex flex-wrap justify-center lg:mb-12">
      <div class="mb-2 pl-4 pl-4 pl-4 pr-4 pr-4 pr-4 sm:w-full md:w-5/6 lg:mb-2 lg:w-4/5">
        <div class="gamemodes-header text-center text-4xl font-normal">Supported Game Modes</div>
      </div>
    </div>
    <div class="mb-5 flex flex-wrap justify-center lg:mb-12">
      <div
        class="gamemode w-1/4 pl-4 pl-4 pl-4 pr-4 pr-4 pr-4 sm:w-1/4 md:w-1/5 lg:w-1/6"
        *ngFor="let gamemode of gameModes; index as i"
        (click)="setCurrentGamemode(i)"
      >
        <div class="base-timer" *ngIf="gameModeIndex === i">
          <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <path
              id="base-timer-path-remaining"
              stroke-dasharray="283"
              class="base-timer__path-remaining"
              d="
                M 50, 50
                m -45, 0
                a 45,45 0 1,0 90,0
                a 45,45 0 1,0 -90,0
              "
            ></path>
          </svg>
        </div>
        <img
          class="gamemode-icon"
          [ngClass]="{ selected: this.gameModeIndex === i }"
          [src]="gamemode.iconUrl"
          [alt]="gamemode.modeTitle"
          *ngIf="gameModeSectionVisible"
        />
        <span *ngIf="!gamemode.isImplemented" class="gamemode-coming-soon">soon™</span>
      </div>
    </div>
    <div class="mb-5 flex flex-wrap justify-center lg:mb-12">
      <div class="display-5 gamemodes-header text-center font-normal">
        {{ this.currentGameMode.modeTitle }}
      </div>
    </div>
    <div class="mb-5 flex flex-wrap items-center justify-center lg:mb-12">
      <div class="mb-3 flex flex-wrap items-center pl-4 pl-4 pr-4 pr-4 sm:w-full md:mb-0 md:w-1/2">
        <ng-container *ngIf="this.currentGameMode.useYoutubeEmbed; then youtubeTemplate; else webmTemplate"></ng-container>
        <ng-template #webmTemplate>
          <video
            class="gamemode-video"
            [src]="this.currentGameMode.url"
            [poster]="this.currentGameMode.imageUrl"
            preload="metadata"
            loop
            autoplay
            *ngIf="gameModeSectionVisible"
          ></video>
        </ng-template>
        <ng-template #youtubeTemplate>
          <div
            *ngIf="!this.currentGameMode.playingYoutubeEmbed && gameModeSectionVisible"
            (click)="this.currentGameMode.playingYoutubeEmbed = true"
            class="gamemode-youtube-play-container"
          >
            <img src="https://i.ytimg.com/vi/{{ this.currentGameMode.youtubeVidID }}/sddefault.jpg" />
            <nb-icon icon="play-circle-outline"></nb-icon>
          </div>
          <iframe
            width="100%"
            height="305"
            [src]="this.currentGameMode.youtubeVidURL"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            *ngIf="gameModeSectionVisible && this.currentGameMode.playingYoutubeEmbed && this.currentGameMode.youtubeVidURL"
          >
          </iframe>
        </ng-template>
      </div>
      <div class="gamemode-description w-full pl-4 pr-4 md:w-1/2">
        {{ this.currentGameMode.modeDescription }}
      </div>
    </div>
  </div>
</section>
