<h5 class="m-0 text-center" *ngIf="loadedRuns && runHistory.length === 0">
  <i>No runs found</i>
</h5>
<div *ngIf="loadedRuns && runHistory.length > 0">
  <button class="mb-3" nbButton outline shape="round" size="small" status="info" [fullWidth]="true" (click)="showFilters = !showFilters">
    Filters
  </button>
  <div
    class="filter-content"
    [ngClass]="{ 'filter-active': showFilters }"
    [ngStyle]="{
      'max-height': showFilters ? filterContent.scrollHeight + 'px' : null
    }"
    #filterContent
  >
    <div class="row-cols-md-3 flex flex-wrap items-center p-6" [formGroup]="filterFG">
      <div class="pl-4 pr-4 md:w-1/5">
        <nb-checkbox formControlName="isPersonalBest">Is PB</nb-checkbox>
      </div>
      <div class="relative mb-2 text-left md:mb-0 md:flex-1 md:flex-grow md:text-center">
        <input
          nbInput
          class="mb-1 block w-full appearance-none rounded border border-gray-200 bg-white px-2 py-1 text-base leading-normal text-gray-800"
          type="text"
          placeholder="Map"
          formControlName="map"
        />
      </div>
      <div class="relative text-left md:flex-1 md:flex-grow md:text-center">
        <nb-select placeholder="Sort by" formControlName="orderBy">
          <nb-option [value]="OrderBy.DATE">Sort by Date</nb-option>
          <nb-option [value]="OrderBy.RUN_TIME">Sort by Time</nb-option>
        </nb-select>
        <nb-select placeholder="Order" formControlName="order">
          <nb-option [value]="Order.ASC">Ascending</nb-option>
          <nb-option [value]="Order.DESC">Descending</nb-option>
        </nb-select>
      </div>
      <div class="col-md-auto relative mr-6 mt-2 max-w-full flex-1 flex-grow px-4 md:mt-0">
        <button nbButton outline status="info" (click)="onFilterApply()">Apply</button>
      </div>
    </div>
  </div>
  <nb-list>
    <nb-list-item
      *ngFor="
        let run of runHistory
          | paginate
            : {
                id: 'run-history',
                itemsPerPage: pageLimit,
                currentPage: currentPage,
                totalItems: runCount
              }
      "
    >
      <div class="no-gutters flex flex-wrap items-center">
        <div class="icon w-1/5 pl-0 pl-4 pr-4 sm:w-1/6 md:pl-4">
          <nb-icon *ngIf="run.leaderboardRun" icon="trophy-outline" nbPopover="Personal Best" nbPopoverTrigger="hint" />
        </div>
        <div class="relative max-w-full flex-1 flex-grow px-4">
          <a routerLink="/dashboard/runs/{{ run.id }}">
            <span class="text">{{ run.time | timing }} on {{ run.map?.name }}</span>
          </a>
        </div>
        <div class="text col-auto ml-auto">{{ run.createdAt | timeAgo }}</div>
      </div>
    </nb-list-item>
  </nb-list>
  <div class="text-center">
    <pagination-controls id="run-history" (pageChange)="onPageChange($event)" [autoHide]="true" [responsive]="true"></pagination-controls>
  </div>
</div>
