@if (map) {
  <div class="grid gap-x-4 gap-y-2 [grid-template-columns:minmax(0,3fr)_minmax(0,7fr)]">
    <div class="flex gap-4">
      <!-- This negative margin is pretty evil, breaking the standard <main>
           padding. But vertical space is so precious here! -->
      <div class="-mt-4 flex h-24 flex-[1_1_auto] flex-col">
        <p class="card-title -mb-1 mt-auto text-[2rem] text-gray-200">{{ prefix }}</p>
        <p class="card-title" [fontSizeLerp]="{ chars: name.length, startAt: 12, baseRem: 4.5 }">
          {{ name }}
        </p>
      </div>
      <button type="button" class="mt-auto flex flex-[0_0_auto]" (click)="toggleMapBackground()" mTooltip="Toggle map backgrounds">
        <m-icon class="text-2xl text-gray-200 drop-shadow transition-colors hover:text-gray-50" icon="panorama" />
      </button>
    </div>
    <div class="ml-2 flex gap-2">
      @for (section of sections; track $index) {
        <button
          type="button"
          class="mr-2 self-end justify-self-start font-display text-4xl font-bold leading-none text-gray-100 opacity-90 drop-shadow transition-colors hover:text-gray-50"
          [ngClass]="{ '!text-white !opacity-100': currentSection === section }"
          (click)="currentSection = section"
        >
          {{ MapInfoSection[section] }}
        </button>
      }
      <div class="ml-auto flex items-end gap-2">
        @if ((isSubmitter && inSubmission) || localUserService.isReviewerOrAbove) {
          <a [routerLink]="'/map-edit/' + map.name" class="btn btn-green text-nowrap">Edit Map</a>
        }
        <button class="btn btn-blue pr-4 font-medium" type="button" mTooltip="Play Map - This doesn't work yet!!">
          <m-icon class="mr-2 pb-0.5" icon="play-circle" />
          Play
        </button>
        @if (map.currentVersion.downloadURL; as bsp) {
          <a (click)="downloadOverlay.show($event)" class="btn btn-purple" mTooltip="Download map file">
            <m-icon class="pb-0.5" icon="download" />
            <p-popover #downloadOverlay appendTo="body">
              <div class="max-w-lg">
                <p class="mb-1 text-sm italic text-gray-200">
                  For convenience we recommend downloading and launching maps through the in-game map browser!
                </p>
                <p>
                  <a class="link" [href]="bsp">Download BSP</a>
                </p>
                <p>
                  <a class="link cursor-pointer" (click)="downloadZoneFile(map)">Download Zones</a>
                </p>
                @if (map.currentVersion?.vmfDownloadURL; as vmf) {
                  <p><a class="link" [href]="vmf">Download VMF</a></p>
                }
              </div>
            </p-popover>
          </a>
        }
        @if (localUserService.isLoggedIn && !localUserService.isLimited) {
          <button
            class="btn btn-yellow"
            type="button"
            (click)="toggleFavorite()"
            mTooltip="{{ inFavorites ? 'Remove from favorites' : 'Add to favorites' }}"
          >
            <m-icon [icon]="inFavorites ? 'star' : 'star-outline'" />
          </button>
          <button
            class="btn btn-orange"
            type="button"
            (click)="editNotificationSettings()"
            mTooltip="{{ notifications ? 'Disable Notifications' : 'Enable Notifications' }}"
          >
            <m-icon [icon]="notifications ? 'bell-alert' : 'bell-outline'" />
          </button>
          @if (!isSubmitter && !localUserService.isModOrAdmin) {
            <m-report-button class="text-lg" mTooltip="Report map" [reportType]="ReportType.MAP_REPORT" [reportData]="map.id.toString()" />
          }
        }
      </div>
    </div>
    <div #sideBar>
      <div #card [mSpinner]="loading" class="card card--fancy flex w-auto flex-col overflow-hidden rounded-t border-none">
        <m-gallery #gallery [items]="images" [selectedItem]="selectedImage" (selectedItemChange)="selectedImage = $event" />
        <div>
          <div class="aspect-video">
            @if (selectedImage && selectedImage.type === 'image') {
              <button type="button" class="hover-white-overlay aspect-video cursor-zoom-in" (click)="gallery.show()">
                <img [src]="selectedImage.full" />
              </button>
            } @else if (selectedImage && selectedImage.type === 'youtube') {
              <div class="relative h-full w-full">
                <!-- Silly way to align fullscreen icon over youtube embed's -->
                <button type="button" (click)="gallery.show()" class="absolute bottom-[-3px] right-4 cursor-zoom-in">
                  <m-icon icon="fullscreen" class="h-8 w-8" />
                </button>
                <!--
                Note that between this and the m-gallery component, we create two
                different youtube iframes. This really sucks, but I don't know how to
                avoid it. ng-template + ngTemplateOutlet isn't helpful, just creates two
                instances. Should be possible to move the iframe around the DOM based on
                whether we have the fullscreen gallery open, but really really annoying
                to do.
                -->
                <iframe
                  class="h-full w-full"
                  type="text/html"
                  [width]="sideBar.offsetWidth"
                  [height]="sideBar.offsetWidth * (9 / 16)"
                  [src]="selectedImage.safeUrl"
                ></iframe>
              </div>
            }
          </div>
          @if (images.length > 1) {
            <div class="flex justify-center bg-black bg-opacity-20">
              @for (image of images; track $index) {
                <button type="button" class="hover-white-overlay aspect-video max-h-16" (click)="selectedImage = image">
                  <img class="aspect-video max-h-16 min-w-0" [src]="image.type === 'image' ? image.thumbnail : image.safeThumbnail" />
                </button>
              }
            </div>
          }
        </div>
        <div
          class="flex flex-wrap justify-between gap-4 bg-black bg-opacity-10 px-3.5 py-2 [border-bottom:1px_solid_rgb(0_0_0/0.1)] [border-inline:1px_solid_rgb(255_255_255/0.05)] [border-top:1px_solid_rgb(255_255_255/0.1)]"
        >
          <div class="flex items-center gap-1" mTooltip="{{ map.stats?.plays | plural: 'Play' }}">
            <m-icon class="mb-0.5 text-24 drop-shadow-md" icon="play-circle-outline"></m-icon>
            <p class="font-display text-24 drop-shadow-md">{{ map.stats?.plays | thousandsSuffix: 1 }}</p>
          </div>
          <div class="flex items-center gap-1" mTooltip="{{ map.stats?.favorites | plural: 'Favorite' }}">
            <m-icon class="mb-0.5 text-24 drop-shadow-md" icon="star"></m-icon>
            <p class="font-display text-24 drop-shadow-md">{{ map.stats?.favorites | thousandsSuffix: 1 }}</p>
          </div>
          <div class="flex items-center gap-1" mTooltip="{{ map.stats?.uniqueCompletions | plural: 'Unique Completion' }}">
            <m-icon class="text-24 drop-shadow-md" icon="run-fast"></m-icon>
            <p class="font-display text-24 drop-shadow-md">{{ map.stats?.uniqueCompletions | thousandsSuffix: 1 }}</p>
          </div>
          <div class="ml-auto"></div>
          @if (map.info.requiredGames.length > 0) {
            <div class="flex items-center" [mTooltip]="requiredGamesTooltip">
              @for (gameImage of requiredGamesImages; track $index) {
                <img
                  class="{{ !$last ? '-mr-3' : '' }} aspect-square h-6 rounded-md drop-shadow-[0_0_0.175rem_#000]"
                  [style]="{ zIndex: -$index }"
                  [src]="gameImage"
                />
              }
            </div>
            <ng-template #requiredGamesTooltip>
              <p class="text-right"><b>This map requires assets from these games:</b></p>
              <ul class="list-inside list-disc">
                @for (gameName of requiredGamesNames; track $index) {
                  <li>{{ gameName }}</li>
                }
              </ul>
            </ng-template>
          }
          <div class="flex items-center gap-1" [mTooltip]="dateTooltip">
            <p class="font-display text-24 drop-shadow-md">{{ map.info?.creationDate || map.createdAt | date }}</p>
            <m-icon class="text-24 drop-shadow-md" icon="calendar"></m-icon>
          </div>
          <ng-template #dateTooltip>
            <p class="text-right"><b>Created On - </b>{{ map.info?.creationDate | date }}</p>
            <p class="text-right"><b>Added in Momentum - </b>{{ map.createdAt | date }}</p>
            @if (map.info?.approvedDate) {
              <p class="text-right"><b>Released in Momentum - </b>{{ map.info?.approvedDate | date }}</p>
            }
            <p class="text-right"><b>Submitted By - </b>{{ map.submitter?.alias }}</p>
          </ng-template>
        </div>

        @if (inSubmission) {
          <div
            class="flex justify-center gap-2 bg-purple-500 bg-opacity-50 py-3 [border-bottom:1px_solid_rgb(0_0_0/0.2)] [border-inline:1px_solid_rgb(255_255_255/0.075)] [border-top:1px_solid_rgb(255_255_255/0.05)]"
          >
            <p>In Submission -</p>
            <i>{{ MapStatusName.get(map.status) }}</i
            ><m-icon
              class="my-auto text-lg"
              mTooltip="This map is currently in submission, and hasn't been approved yet. All runs submitted during review are wiped upon approval!"
              icon="help-circle"
            />
          </div>
        } @else if (map.status === MapStatus.DISABLED) {
          <div class="flex flex-col items-center gap-2 border border-red-500 bg-red-500 bg-opacity-50 p-3 text-center">
            <b>Map Disabled</b>
            @if (map.currentVersion?.bspHash) {
              <i>This map is currently disabled. It's only visible to moderators and admins, and can only be re-enabled by admins.</i>
            } @else {
              <i>
                This map is disabled and its files have been deleted. It's only visible to moderators and admins, and if we ever want to
                re-enable it, new files must be uploaded.
              </i>
            }
          </div>
        }

        <div class="flex flex-col gap-2 border-x border-white border-opacity-[0.0675] px-5 py-4">
          <p class="text-shadow mb-2 whitespace-pre-wrap">{{ map.info.description }}</p>
          <div class="scroll-thin flex max-h-[100rem] flex-col gap-2">
            <!-- This template setup is a bit overcomplicated but allows realigning everything into grids
               if we ever decide to change layout (see #website Jan 3rd 24) -->
            <ng-template #creditBlock let-type="type">
              @if (credits?.get(type).length > 0) {
                <div>
                  <p class="font-sm mb-1 font-bold uppercase text-gray-200">
                    {{ MapCreditNames.get(type) }}
                  </p>
                  <div class="grid grid-cols-2 place-items-start gap-1">
                    @for (credit of credits.get(type); track $index) {
                      @if (!credit.placeholder) {
                        <a routerLink="/profile/{{ credit.userID }}" class="flex">
                          <m-avatar class="mr-4 size-8 shrink-0" [url]="credit.avatarURL" />
                          <div class="flex flex-col" [ngClass]="!credit.description ? 'justify-center' : null">
                            <p class="text-shadow font-medium leading-none [overflow-wrap:anywhere]">{{ credit.alias }}</p>
                            <p class="font-gray-100 text-shadow col-start-2 text-sm italic [overflow-wrap:anywhere]">
                              {{ credit.description }}
                            </p>
                          </div>
                        </a>
                      } @else {
                        <div class="flex">
                          <div class="mr-4 inline-grid size-8 shrink-0 place-content-center" mTooltip="Placeholder user">
                            <p class="text-shadow-strong pointer-events-none font-display text-32 font-bold">?</p>
                          </div>
                          <div class="flex flex-col" [ngClass]="!credit.description ? 'justify-center' : null">
                            <p class="text-shadow font-medium leading-none [overflow-wrap:anywhere]">{{ credit.alias }}</p>
                            <p class="font-gray-100 text-shadow col-start-2 text-sm italic [overflow-wrap:anywhere]">
                              {{ credit.description }}
                            </p>
                          </div>
                        </div>
                      }
                    }
                  </div>
                </div>
              }
            </ng-template>
            <div class="flex flex-col gap-2">
              <ng-container *ngTemplateOutlet="creditBlock; context: { type: MapCreditType.AUTHOR }" />
              <ng-container *ngTemplateOutlet="creditBlock; context: { type: MapCreditType.CONTRIBUTOR }" />
            </div>
            <div class="flex flex-col gap-2">
              <ng-container *ngTemplateOutlet="creditBlock; context: { type: MapCreditType.SPECIAL_THANKS }" />
              <ng-container *ngTemplateOutlet="creditBlock; context: { type: MapCreditType.TESTER }" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="stack card card--fancy border-opacity-[0.0675] p-4">
        <m-map-submission [ngClass]="{ hidden: currentSection !== MapInfoSection.SUBMISSION }" [map]="map" />
        <m-map-leaderboard [ngClass]="{ hidden: currentSection !== MapInfoSection.LEADERBOARDS }" [map]="map" />
      </div>
    </div>
  </div>
} @else {
  <m-spinner />
}
