<mom-page-header [title]="map.name" titleSize="8rem">
  <ng-container *ngIf="!previewMap">
    <a routerLink="/edit" class="text-lg font-medium" *ngIf="isSubmitter || isModerator">Edit Map</a>
    <mom-report-button class="text-lg" *ngIf="!isSubmitter" [reportType]="ReportType.MAP_REPORT" [reportData]="map.id.toString()" />
    <button
      type="button"
      (click)="editNotificationSettings()"
      nbPopover="{{ mapNotifications ? 'Disable Notifications' : 'Enable Notifications' }}"
      nbPopoverTrigger="hint"
    >
      <mom-icon [icon]="mapNotifications ? 'bell-alert' : 'bell-outline'" />
    </button>
  </ng-container>
</mom-page-header>
<div class="card" *ngIf="previewMap || map">
  <nb-card-body>
    <div class="flex flex-wrap">
      <div class="mb-3 w-full pl-4 pr-4 lg:mb-0 lg:w-2/5">
        <gallery id="image-gallery" [skipInitConfig]="true" gallerize></gallery>
      </div>
      <div class="w-full pl-4 pr-4 lg:w-3/5">
        <nb-tabset [fullWidth]="true" class="mb-4 overflow-hidden shadow">
          <nb-tab tabTitle="Description" [tabIcon]="{ icon: 'file-outline', pack: 'mdi' }" responsive>
            <mom-map-info-description [map]="map" />
          </nb-tab>
          <nb-tab tabTitle="Credits" [tabIcon]="{ icon: 'account-multiple-outline', pack: 'mdi' }" responsive>
            <mom-map-info-credits [map]="map" />
          </nb-tab>
          <nb-tab tabTitle="Statistics" [tabIcon]="{ icon: 'chart-pie-outline', pack: 'mdi' }" responsive *ngIf="!previewMap">
            <mom-map-info-stats [map]="map" />
          </nb-tab>
        </nb-tabset>
        <div class="no-gutters flex flex-wrap">
          <div class="relative w-full sm:flex-1 sm:flex-grow">
            <h6>
              Added On:
              {{ previewMap ? '(some future date)' : (map.createdAt | date) }}
            </h6>
            <h6>Original Release Date: {{ map.info?.creationDate | date }}</h6>
            <h6>
              Submitted By:
              <a [routerLink]="'/' + map.submitter?.id">
                <nb-user
                  [name]="map.submitter?.alias"
                  [picture]="map.submitter?.avatarURL"
                  size="small"
                  class="inline-block align-middle"
                />
              </a>
            </h6>
          </div>
          <div *ngIf="!previewMap" class="relative w-full sm:flex-1 sm:flex-grow">
            <div class="mb-3 mt-1 flex flex-wrap justify-around sm:justify-end">
              <div class="stat" nbPopover="{{ map.stats?.subscriptions | plural: 'Library' : 'Libraries' }}" nbPopoverTrigger="hint">
                <mom-icon icon="folder"></mom-icon>
                {{ map.stats?.subscriptions | thousandsSuffix: 1 }}
              </div>
              <div class="stat sm:ml-6" nbPopover="{{ map.stats?.favorites | plural: 'Favorite' }}" nbPopoverTrigger="hint">
                <mom-icon icon="star"></mom-icon>
                {{ map.stats?.favorites | thousandsSuffix: 1 }}
              </div>
              <div class="stat sm:ml-6" nbPopover="{{ map.stats?.downloads | plural: 'Download' }}" nbPopoverTrigger="hint">
                <mom-icon icon="download-outline"></mom-icon>
                {{ map.stats?.downloads | thousandsSuffix: 1 }}
              </div>
              <div class="stat sm:ml-6" nbPopover="{{ map.stats?.plays | plural: 'Play' }}" nbPopoverTrigger="hint">
                <mom-icon icon="play-circle-outline"></mom-icon>
                {{ map.stats?.plays | thousandsSuffix: 1 }}
              </div>
            </div>
            <div class="relative inline-flex text-center align-middle sm:text-right">
              <button
                nbButton
                outline
                status="info"
                type="button"
                class="whitespace-no-wrap inline-block select-none rounded border px-3 py-1 text-center align-middle font-normal leading-normal no-underline"
                (click)="onLibraryUpdate()"
              >
                <span [ngClass]="{ 'c-anim-btn': mapInLibrary }">{{ mapInLibrary ? 'In Library' : 'Add Map to Library' }}</span>
                <span *ngIf="mapInLibrary">Remove from Library</span>
              </button>
              <button
                nbButton
                outline
                status="info"
                type="button"
                class="whitespace-no-wrap inline-block select-none rounded border px-3 py-1 text-center align-middle font-normal leading-normal no-underline"
                (click)="onFavoriteUpdate()"
                nbPopover="{{ mapInFavorites ? 'Remove from Favorites' : 'Add to Favorites' }}"
                nbPopoverTrigger="hint"
              >
                <mom-icon [icon]="mapInFavorites ? 'star' : 'star-outline'"></mom-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</div>

<mom-map-leaderboard *ngIf="!previewMap && map" [setMap]="map" />
