<m-card title="Report Queue">
  <ng-container header>
    <label>Resolved: </label>
    <select name="Resolved" (change)="filterChange.next()" [(ngModel)]="filters.resolved">
      <option value="true">Yes</option>
      <option selected="selected" value="false">No</option>
    </select>
  </ng-container>
  <div class="flex flex-wrap">
    <div class="w-1/6">ID</div>
    <div class="w-1/6">Type</div>
    <div class="w-1/6">Category</div>
    <div class="w-1/6">Reported Resource ID</div>
    <div class="w-1/6">Submitter</div>
    <div class="w-1/6">Resolver</div>
    <div class="w-1/5 text-center">Message</div>
    <div class="w-1/5 text-center">Resolution Message</div>
    <div class="w-1/5 text-center">Actions</div>
  </div>
  <ul [mSpinner]="loading">
    @for (report of reportQueue; track $index) {
      <li class="basis-full">
        <m-queued-report [report]="report" (reportUpdate)="refresh.next()" />
      </li>
    } @empty {
      @if (!loading) {
        <i>There are no reports that match the search criteria.</i>
      }
    }
  </ul>
  <p-paginator
    (onPageChange)="pageChange.next($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    [alwaysShow]="false"
  />
</m-card>
