# Private environment vars
.env

# Node
node_modules/

# Prisma
# Generated client is still platform dependent, so we shouldn't include it
libs/db/src/generated/
ERD.svg

# Postgres, Grafana, MinIO, etc.
/data

# Compiled output
/dist
/tmp
/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
*/pnpm-lock.yaml
yarn-error.log
testem.log
/typings
*.iml

# System Files
.DS_Store
Thumbs.db

.angular
.nx

# Discord bot config and storage
apps/discord-bot-internal/config/config.json
apps/discord-bot-internal/data/bot_data.db
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
