/dist
/coverage
/data
.angular
.github

# Prettier's YAML formatting is atrocious
**/*.yml

apps/frontend/src/app/theme/shared_styling

/.nx/workspace-data
/migrations.json

maptags-poeditor.json

# Prisma generated client
libs/db/src/generated