x-app: &app-default
  build:
    context: .
    dockerfile: dev/dev.Dockerfile
  environment:
    HOST: 0.0.0.0
  volumes:
    - .:/app
    - /app/node_modules # This is a anonymous volume, so node_modules is not persisted in the host machine (avoids issues with compatibility).
  ports:
    - "3000:3000"
    - "4200:4200"
  depends_on:
    postgres:
      condition: service_started
    valkey:
      condition: service_started
    minio:
      condition: service_started
    createbuckets:
      condition: service_completed_successfully

services:
  postgres:
    container_name: postgres
    image: postgres:18
    restart: unless-stopped
  valkey:
    image: valkey/valkey:8.1.3
    container_name: valkey
  minio:
    image: minio/minio:RELEASE.2025-03-12T18-04-18Z
    container_name: minio
  createbuckets:
    image: minio/mc:RELEASE.2025-03-12T17-29-24Z
    container_name: minio_create_buckets
    depends_on:
      minio:
        condition: service_healthy
  app-full:
    <<: *app-default
    profiles: [full]
    environment:
      MODE: full
  app-backend:
    <<: *app-default
    profiles: [backend]
    environment:
      MODE: backend
  app-frontend:
    <<: *app-default
    profiles: [frontend]
    environment:
      MODE: frontend
