version: '3.8'

services:
  minio:
    image: quay.io/minio/minio:RELEASE.2021-12-20T22-07-16Z
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./data:/data
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
      MINIO_SITE_REGION: us-east-1

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    
    # If you want to clear the bucket, add the following line before the "mb myminio/momentum" command:
    # /usr/bin/mc rm -r --force myminio/momentum;
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add myminio http://minio:9000 minio minio123;
      /usr/bin/mc mb myminio/momentum;
      /usr/bin/mc policy set public myminio/momentum;
      exit 0;
      "

  db:
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      MYSQL_DATABASE: 'momentum'
      MYSQL_USER: 'mom'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'root'

  api:
    environment:
      BASE_URL: 'http://localhost:3002'
      API_URL: 'http://localhost:3002'
      AUTH_URL: 'http://localhost:3002'
      CDN_URL: 'http://localhost:9000' # Accessible outside the docker container
      MOM_STORAGE_ENDPOINT_URL: 'http://minio:9000' # Must be minio:9000 to be reached by the S3 API running in this container
      MOM_STORAGE_BUCKET_NAME: 'momentum'
      MOM_STORAGE_REGION: 'us-east-1'
      AWS_ACCESS_KEY_ID: 'minio'
      AWS_SECRET_ACCESS_KEY: 'minio123'

    depends_on:
      - db
      - createbuckets
    env_file:
      - .env
    build:
      context: ./server
      dockerfile: dev.Dockerfile
    ports:
      - ${NODE_PORT}:3002
