version: '3.8'

services:
  postgres:
    container_name: postgres
    image: postgres:15
    restart: unless-stopped
  minio:
    image: minio/minio:RELEASE.2025-03-12T18-04-18Z
    container_name: minio
  createbuckets:
    image: minio/mc:RELEASE.2025-03-12T17-29-24Z
    container_name: minio_create_buckets
    depends_on:
      minio:
        condition: service_healthy
