version: '3.8'

services:
  db:
    platform: linux/x86_64
    volumes:
      - ./mysql-test:/var/lib/mysql
    environment:
      MYSQL_DATABASE: 'momentum_test'
      MYSQL_USER: 'mom_test'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'root'

  api:
    platform: linux/x86_64
    volumes:
      - ./scripts:/app/scripts
      - ./server:/app/server
      - /app/server/node_modules/
    build:
      context: ./server
      dockerfile: dev.Dockerfile
    entrypoint: sh -c "npm test"
