## Template .env file for the API, copy this to a new file in this directory called .env to use.
## The only value this is REQUIRED is STEAM_WEB_API_KEY - this needs to be defined for
## the API to load. The others can be left unmodified, and sensible defaults will be used.

# Required for dev, the Steam API web key (you can get it from https://steamcommunity.com/dev/apikey)
STEAM_WEB_API_KEY=

# Node related variables, change if you really want to!
NODE_ENV=development
NODE_PORT=3000

# The secret used for generating JWTs
JWT_SECRET=key

# Whether to use the authenticated tickets library, "true" enables it.
# This is only used in production, not relevant to developers.
STEAM_USE_ENCRYPTED_TICKETS=
# If the above is true, this value is the secret key to use for decrypting the ticket
STEAM_TICKETS_SECRET=

# Whether to prevent limited accounts from signing up
STEAM_PREVENT_LIMITED=

# URL used by Prisma's database connector. Pooling and other options may be passed in here - see
# https://www.prisma.io/docs/concepts/database-connectors/mysql
DATABASE_URL="mysql://root:root@localhost:3306/momentum?schema=public"

# This must correspond to the above DATABASE_URL.
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=momentum
MYSQL_PORT=3306

# The base endpoint URLs
BASE_URL=http://localhost:3000
API_URL=http://localhost:3000
AUTH_URL=http://localhost:3000
CDN_URL=http://localhost:9000

# Cloud storage variables - use these defaults for a local MinIO instance, but you can use any remote S3 bucket instead.
STORAGE_REGION=us-west-1
STORAGE_BUCKET_NAME=momtest
STORAGE_ACCESS_KEY_ID=miniouser
STORAGE_SECRET_ACCESS_KEY=miniouser123
# We use two variations of this for whether you're running the API in Docker mode or not, when using MinIO (if the API,
# is inside a Docker container, we need to use the MinIO container name, not localhost, to access the MinIO server).
# If you're using a remote bucket, just set both these variables to the bucket's endpoint URL.
STORAGE_ENDPOINT_URL=http://localhost:9000
STORAGE_ENDPOINT_URL_DOCKERIZED=http://minio:9000

# Used by local MinIO setup for dev
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

# Sentry details for logging
SENTRY_DSN=
SENTRY_DEBUG=

# The Twitter consumer Key and Secret for using their API
TWITTER_CONSUMER_KEY=key
TWITTER_CONSUMER_SECRET=key

# The Discord Client ID and Secret for using their API
DISCORD_CLIENT_ID=key
DISCORD_CLIENT_SECRET=key

# The Twitch Client ID and Secret for using their API
TWITCH_CLIENT_ID=key
TWITCH_CLIENT_SECRET=key

# A generated secret for express' sessions
# TODO: Hook this up with Nest cookie stuff, old API uses it in express.js L171
EXPRESS_SESSION_SECRET=

# Grafana
# TODO: this, obviously!
GRAFANA_ADMIN_PASSWORD=
GRAFANA_PORT=
