## Template .env file for the API, copy this to a new file in this directory called .env to use.
## The only value this is REQUIRED is STEAM_WEB_API_KEY - this needs to be defined for
## the API to load. The others can be left unmodified, and sensible defaults will be used.

# Required for dev, the Steam API web key (you can get it from https://steamcommunity.com/dev/apikey)
STEAM_WEB_API_KEY=

# Set this if you want the db:seed script can automatically make you an admin.
# Split with commas to add multiple.
ADMIN_STEAM_ID64S=

# Set this to any additional Docker Compose profiles you want to use, available are:
# pgadmin - pgAdmin 4 on localhost:5050 
COMPOSE_PROFILES=

# What mode to run the API in. In every all cases, leave this as `dev` and let NPM scripts
# or Docker Compose override it for you.
NODE_ENV=dev

# What address the Nest API instance listens on
NEST_PORT=3000

# How many processes to run in the cluster. For development you usually want 1.
NEST_CLUSTER_NUM_PROCESSES=1

# Root domain for everything, then specific sub-URLs.
# Only needed for production, in dev/tests we use localhost and hardcoded ports.
ROOT_DOMAIN=
FRONTEND_URL=
BACKEND_URL=
# Include the bucket name, defaults to https://localhost:9000/momtest
CDN_URL=

# The secret used for generating JWTs
JWT_SECRET=THIS_IS_NOT_A_SECURE_SECRET_DO_NOT_USE_IT_IN_PRODUCTION

# Whether to use the authenticated tickets library, "true" to enable.
# Requires a secret only visible to core team and is only used in production - not relevant to developers.
STEAM_USE_ENCRYPTED_TICKETS=
# If the above is true, this value is the secret key to use for decrypting the ticket
STEAM_TICKETS_SECRET=

# Whether to prevent limited accounts from signing up
STEAM_PREVENT_LIMITED=

# A generated secret for cookies and encrypted sessions
SESSION_SECRET=honga_suggested_it_make_some_cha

# Postgres config
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=momentum
POSTGRES_PORT=5432

# URL used by Prisma's database connector. This is only used in local mode,
# in Docker mode we use the above variables - see docker-compose.override.yml
DATABASE_URL=postgresql://root:root@localhost/momentum?schema=public

# Cloud storage variables - use these defaults for a local MinIO instance, but you can use any remote S3 bucket instead.
STORAGE_REGION=us-west-1
STORAGE_BUCKET_NAME=momtest
STORAGE_ACCESS_KEY_ID=minio
STORAGE_SECRET_ACCESS_KEY=minio123
STORAGE_ENDPOINT_URL=http://localhost:9000

# Valkey (Redis)
VALKEY_PORT=6379
# Leave empty to use localhost
VALKEY_HOST=

# MinIO-specific login stuff. Use http://localhost:9001 to view the bucket.
MINIO_SERVER_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

# Sentry (production only)
SENTRY_DSN=
SENTRY_ENABLE_TRACING=
SENTRY_TRACE_SAMPLE_RATE=
SENTRY_TRACE_PRISMA=
SENTRY_ENV=
