# Required for dev, the Steam API web key (you can get it from https://steamcommunity.com/dev/apikey)
STEAM_WEB_API_KEY=

# Node related variables, change if you really want to!
NODE_ENV=development
NODE_PORT=3002

# The secret used for generating JWTs
JWT_SECRET=key

# Whether to use the authenticated tickets library, "true" enables it
STEAM_USE_ENCRYPTED_TICKETS=
# If the above is true, this value is the secret key to use for decrypting the ticket
STEAM_TICKETS_SECRET=

# The database user, password, and root password
MOM_DATABASE_USER=
MOM_DATABASE_PW=
MYSQL_ROOT_PW=

# The base URL of your website
BASE_URL=
API_URL=
AUTH_URL=
CDN_URL=

# The Twitter consumer Key and Secret for using their API
TWITTER_CONSUMER_KEY=key
TWITTER_CONSUMER_SECRET=key

# The Discord Client ID and Secret for using their API
DISCORD_CLIENT_ID=key
DISCORD_CLIENT_SECRET=key

# The Twitch Client ID and Secret for using their API
TWITCH_CLIENT_ID=key
TWITCH_CLIENT_SECRET=key

# A generated secret for express' sessions
EXPRESS_SESSION_SECRET=

# Seq server address + API token
SEQ_ADDRESS=
SEQ_TOKEN=