<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo pointer" (click)="goToHome()">
      <img src="assets/images/site.png" width="150%">
    </div>
  </div>
</div>

<div class="header-container">
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <nb-action>
      <nb-user class="pointer" [nbContextMenu]="userMenu" [name]="user?.alias"
               [picture]="user?.avatarURL"></nb-user>
    </nb-action>
    <nb-action class="control-item" [icon]="getNotificationIconClass()"
               [nbPopover]="notifTempl8" nbPopoverPlacement="bottom"
               badgePosition="top" badgeStatus="danger"
               [badgeText]="numUnreadNotifs === 0 ? '' : +numUnreadNotifs"></nb-action>
    <ng-template #notifTempl8>
      <notifications [notifications]="notifications"></notifications>
    </ng-template>
    <nb-action class="control-item">
      <mom-search type="modal-drop" (click)="startSearch()"></mom-search>
    </nb-action>
  </nb-actions>
</div>
