@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  .header-container {
    display: flex;
    align-items: center;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      @include nb-ltr(border-right, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-left, 1px solid nb-theme(divider-color));
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 2rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      white-space: nowrap;
      text-decoration: none;
      img {
        height: 4.75rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    nb-user ::ng-deep .user-name {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
    }
    .logo > img {
      height: 3.6rem !important;
    }
  }

  @include media-breakpoint-down(xs) {
    .logo > img {
      height: auto !important;
      width: 100%;
    }
  }
}
