<nb-card>
  <nb-card-header>
    <h2>Map Queue</h2>
  </nb-card-header>
  <nb-tabset>
    <nb-tab tabTitle="Mapper Submissions">
      <nb-list class="overflow-hidden">
        <nb-list-item
          *ngFor="
            let map of priorityQueue
              | paginate
                : {
                    id: 'priority-page-ctrl',
                    itemsPerPage: pageLimit,
                    currentPage: priorityQueuePage,
                    totalItems: priorityQueueCount
                  }
          "
        >
          <mom-queued-map [map]="map" (statusUpdate)="loadMapQueue(true)" />
        </nb-list-item>
      </nb-list>
      <div class="text-center">
        <pagination-controls
          id="priority-page-ctrl"
          (pageChange)="onPageChange($event, true)"
          [autoHide]="true"
          [responsive]="true"
        ></pagination-controls>
      </div>
      <div class="text-center" *ngIf="!priorityQueue?.length">
        <h3 class="m-0">There are currently no maps in this queue.</h3>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Non-Mapper Submissions">
      <nb-list class="overflow-hidden">
        <nb-list-item
          *ngFor="
            let map of nonPriorityQueue
              | paginate
                : {
                    id: 'non-priority-page-ctrl',
                    itemsPerPage: pageLimit,
                    currentPage: nonPriorityQueuePage,
                    totalItems: nonPriorityQueueCount
                  }
          "
        >
          <mom-queued-map [map]="map" (statusUpdate)="loadMapQueue(false)" />
        </nb-list-item>
      </nb-list>
      <div class="text-center">
        <pagination-controls
          id="non-priority-page-ctrl"
          (pageChange)="onPageChange($event, false)"
          [autoHide]="true"
          [responsive]="true"
        />
      </div>
      <div class="text-center" *ngIf="!nonPriorityQueue?.length">
        <h3 class="m-0">There are currently no maps in this queue.</h3>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
