# Discord bot token
BOT_TOKEN=

# Twitch application credentials
TWITCH_API_CLIENT_ID=
TWITCH_API_CLIENT_SECRET=

# Sentry
SENTRY_DSN=
SENTRY_ENABLE_TRACING=
SENTRY_TRACE_SAMPLE_RATE=
SENTRY_ENABLE_NODE_PROFILING=