<div class="row no-gutters">
  <h1 class="col">UPLOADS</h1>
  <div class="col uploadBtn">
    <button class="btn btn-outline-info uploadBtn" type="button" routerLink="/dashboard/maps/uploads/new">Upload a Map</button>
  </div>
  <!--TODO: filter button in the header like activity card-->
</div>
<nb-card>
  <nb-card-body>
    <h1 *ngIf="(maps === undefined || maps?.length === 0) && fetchedMaps" class="noUpload">
      <i>You have not uploaded any maps. Try <a routerLink="/dashboard/maps/uploads/new">uploading a new one!</a></i>
    </h1>
    <div *ngIf="(maps?.length > 0) && fetchedMaps">
      <nb-card-body *ngFor="let map of maps | paginate: {
            itemsPerPage: pageLimit,
            currentPage: currentPage,
            totalItems: mapCount
          }">
        <map-status [map]="map"></map-status>
      </nb-card-body>
      <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </nb-card-body>
</nb-card>
