@if (notifications.length === 0) {
  <p class="mx-auto"><i>No notifications</i></p>
} @else {
  <div class="flex min-w-full flex-col">
    <div class="flex flex-row items-center py-2 pl-2">
      <p class="p-0 text-24">Notifications</p>
      <button type="button" class="btn ml-auto py-1" [disabled]="loading || notifications.length === 0" (click)="clearNotifications()">
        Clear All
      </button>
    </div>

    <div class="overflow-auto">
      <div class="flex flex-col gap-1 p-1" [inert]="loading || notifications.length === 0">
        @for (notif of notifications; track $index; let i = $index) {
          @switch (notif.type) {
            @case (NotificationType.ANNOUNCEMENT) {
              <m-announcement-notification [notification]="notif" (dismiss)="removeNotification(i)" />
            }
            @case (NotificationType.WR_ACHIEVED) {
              <!-- TODO WR -->
            }
            @case (NotificationType.MAP_STATUS_CHANGE) {
              <m-map-status-change-notification [notification]="notif" (dismiss)="removeNotification(i)" />
            }
            @case (NotificationType.MAP_TESTING_INVITE) {
              <m-map-testing-invite-notification
                [notification]="notif"
                (shouldBeLoading)="handleLoadingRequest($event)"
                (refreshNotifications)="handleRefreshRequest()"
              />
            }
            @case (NotificationType.MAP_REVIEW_POSTED) {
              <m-map-review-posted-notification [notification]="notif" (dismiss)="removeNotification(i)" />
            }
            @case (NotificationType.MAP_REVIEW_COMMENT_POSTED) {
              <m-map-review-comment-posted-notification [notification]="notif" (dismiss)="removeNotification(i)" />
            }
          }
        }
      </div>
    </div>
    <p-paginator
      (onPageChange)="pageChange.next($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="_unreadCount"
      [showCurrentPageReport]="true"
      [alwaysShow]="false"
    />
  </div>
}
