<nb-card-header>
  <h1>COMMUNITY</h1>
</nb-card-header>


<div class="col-md-12 col-lg-12 col-xxl-12">

  <nb-card class="inline-form-card">

    <nb-card-body>
      <form class="form-inline">
        <div class="input-group full-width">

          <nb-tabset>
            <nb-tab tabTitle="News">
              <community-news></community-news>
            </nb-tab>

            <nb-tab tabTitle="Twitch Streams">
              <community-twitch-stream></community-twitch-stream>
            </nb-tab>

            <nb-tab tabTitle="Activity">
              <community-activity></community-activity>
            </nb-tab>

          </nb-tabset>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>

