<div class="card card-image" style="background-size: cover; background: black url('../../../../assets/images/logoBG.png') no-repeat fixed center center;">

  <div class="col-xxl-12 ">

  </div>
  <nb-card-header>
    <h1>COMMUNITY</h1>
  </nb-card-header>


  <div class.containter="col-md-12 col-lg-12 col-xxl-12">

    <nb-card class="inline-form-card">

      <nb-card-body>
        <form class="form-inline">
          <div class="input-group full-width">

            <nb-tabset>
              <nb-tab tabTitle="News">
                <community-news></community-news>
              </nb-tab>

              <nb-tab tabTitle="Twitch Streams"><script src="http://player.twitch.tv/js/embed/v1.js"></script>
                <community-twitch-stream></community-twitch-stream>
              </nb-tab>

              <nb-tab tabTitle="Activity">
                <community-activity></community-activity>
              </nb-tab>

            </nb-tabset>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

