:host {
  display: block;
  height: 100vh;
  width: 100%;
}

:root {
  /*
  These vars need to be global so are set in styles.css.
  layout.service.ts handles flipping between the underlying vars. */
  --sidenav-width: var(--sidenav-width-wide);
}

.bg-image {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -10;

  & * {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scrollbar-gutter: stable;
  }

  & .default {
    background-image: url('/assets/images/BGDarkGray.png');
    z-index: 0;
  }

  & .custom {
    z-index: 1;

    filter: blur(4px) contrast(0.7) brightness(0.7);
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
}

.chungus {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-areas:
    'head head'
    'side main';
  grid-template-rows: 5rem 1fr;
  /* Remember, 1fr is equiv to minmax(auto, 1fr), so anything that can't fit on
     main will expand out to the right. Looks bad if this happens, but site is
     still usable, and better that clip/squishing etc. */
  grid-template-columns: auto 1fr;
}

m-header {
  grid-area: head;

  display: block;
  height: 5rem;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000; /* :D */

  box-shadow: 1px 0 16px rgba(0, 0, 0, 0.6);
}

m-sidenav {
  grid-area: side;
  display: block;
}

main {
  grid-area: main;
  display: block;

  scroll-behavior: smooth;
  overflow-y: scroll;

  padding: 48px;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1800px;
}
