<div class="row">
  <div class="col-sm-9">
    <ngx-profile-card [user]="(this.locUsrService.getLocal() | async)"></ngx-profile-card>
  </div>
  <div class="col-sm-3">
    <nb-card>
      <nb-card-body>
        <a href="/api/auth/steam" class="btn btn-hero-info main-btn">
          <i class="ion ion-social-github"></i> <span>Support Us</span>
        </a>
        <br><br>
        Momentum Mod is an ever growing community, we would love to have you a part of it.
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-xxl-12">
    <activity-card [header]="'Followed Activity'" [follow]="true"></activity-card>
  </div>
</div>
