@if (user) {
  <m-card title="Edit Profile">
    <button type="button" header class="btn btn-blue" (click)="returnToProfile()">Return to Profile</button>
    <form class="m-6" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="mb-4 flex flex-col gap-4">
        <div [ngClass]="{ 'has-error': !alias.valid }">
          <p class="text-lg">Alias</p>
          <div class="relative flex w-full items-stretch gap-2">
            <input class="textinput mb-1" formControlName="alias" type="text" />
            @if (!hasBan(Ban.ALIAS) || isModOrAdmin) {
              <div class="input-group-append">
                <button class="btn" type="button" (click)="resetAlias()">Reset To Steam Alias</button>
              </div>
            }
          </div>
          @if (alias.hasError('minlength')) {
            <p class="bg-dark-800 mb-0 mt-2 border border-red-600 px-3 py-2 text-red-600">Username must be at least 3 characters.</p>
          }
          @if (alias.hasError('maxlength')) {
            <p class="bg-dark-800 mb-0 mt-2 border border-red-600 px-3 py-2 text-red-600">Username cannot exceed 32 characters.</p>
          }
          @if (alias.hasError('pattern')) {
            <p class="bg-dark-800 mb-0 mt-2 border border-red-600 px-3 py-2 text-red-600">Invalid alias.</p>
          }
          @if (alias.hasError('required') && alias.dirty) {
            <p class="bg-dark-800 mb-0 mt-2 border border-red-600 px-3 py-2 text-red-600">Username is required.</p>
          }
        </div>

        <div>
          <p class="text-lg">Country</p>
          <p-select
            formControlName="country"
            [options]="AlphabeticalCountryCodes"
            optionValue="code"
            optionLabel="label"
            appendTo="body"
            [filter]="true"
          />
        </div>

        @if (!hasBan(Ban.AVATAR) || isModOrAdmin) {
          <div>
            <p class="text-lg">Avatar</p>
            <button class="btn" type="button" (click)="resetAvatar()">Update from Steam</button>
          </div>
        }

        <div [ngClass]="{ 'has-error': !bio.valid }">
          <div class="flex items-end justify-between">
            <p class="text-lg">Bio</p>
            <span class="mb-2">{{ MAX_BIO_LENGTH - description.value.length | plural: 'character' }} remaining</span>
          </div>
          <textarea rows="6" class="textinput mb-1 w-full" formControlName="bio" type="bio" #description></textarea>
          @if (bio.hasError('maxlength')) {
            <p class="bg-dark-800 mb-0 mt-2 border border-red-600 px-3 py-2 text-red-600">
              Text cannot exceed {{ MAX_BIO_LENGTH }} characters.
            </p>
          }
        </div>

        <div>
          <p class="text-lg">Socials</p>
          <div class="grid gap-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5" formGroupName="socials">
            @for (social of SocialsData | unsortedKeyvalue; track social) {
              <div [mTooltip]="'Example: ' + social.value.example">
                <div class="ml-1 flex items-center gap-2">
                  <m-icon class="h-5 w-5" [icon]="social.value.icon" pack="si" />
                  <h4>{{ social.key }}</h4>
                </div>
                <input [formControlName]="social.key" class="textinput" type="text" />
              </div>
            }
          </div>
        </div>
      </div>
      <div class="flex gap-2">
        <button class="btn btn-green" type="submit" [disabled]="form.touched && !form.valid">Save changes</button>
        <button type="button" header class="btn btn-blue mr-4" (click)="returnToProfile()">Return to Profile</button>
      </div>
    </form>
  </m-card>
}
