<m-card *ngIf="user" title="Edit Profile">
  <button header class="m-btn m-btn-blue" (click)="returnToProfile()">Return to Profile</button>
  <form class="m-6" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="flex flex-wrap">
      <div class="w-full">
        <div class="mb-4" [ngClass]="{ 'has-error': !alias.valid }">
          <h3>Alias</h3>
          <div class="relative flex w-full items-stretch">
            <input class="m-textinput mb-1" formControlName="alias" type="text" />
            <div class="input-group-append" *ngIf="hasBan(Ban.ALIAS)">
              <button class="m-btn" type="button" (click)="resetAlias()">Reset To Steam Alias</button>
            </div>
          </div>
          <nb-alert class="mb-0 mt-3 px-3 py-2 text-red-600" outline="danger" *ngIf="alias.hasError('minlength')">
            Username must be at least 3 characters.
          </nb-alert>
          <nb-alert class="mb-0 mt-3 px-3 py-2 text-red-600" outline="danger" *ngIf="alias.hasError('maxlength')">
            Username cannot exceed 32 characters.
          </nb-alert>
          <nb-alert class="mb-0 mt-3 px-3 py-2 text-red-600" outline="danger" *ngIf="alias.hasError('required') && alias.dirty">
            Username is required.
          </nb-alert>
        </div>

        <div class="mb-4">
          <h3>Country</h3>
          <p-dropdown formControlName="country" [options]="AlphabeticalCountryCodes" optionValue="code" optionLabel="label" />
        </div>

        <div class="mb-4" [ngClass]="{ 'has-error': !bio.valid }">
          <h3>Bio</h3>
          <textarea rows="6" class="m-textinput mb-1 w-full" formControlName="bio" type="bio" #description></textarea>
          <nb-alert class="mb-0 mt-2 px-3 py-2 text-red-600" outline="danger" *ngIf="bio.hasError('maxlength')">
            Text cannot exceed 1000 characters.
          </nb-alert>
          <span class="mr-2 mt-2 flex justify-end">{{ 1000 - description.value.length | plural: 'character' }} remaining</span>
        </div>

        <div class="mb-4">
          <h3>Socials</h3>
          <div class="flex flex-wrap" formGroupName="socials">
            <div
              *ngFor="let social of SocialsData | unsortedKeyvalue"
              class="mb-8 px-4 md:w-1/3 lg:w-1/4 xl:w-1/5"
              [mTooltip]="'Example: ' + social.value.example"
            >
              <div class="mb-1 ml-1 mt-2 flex items-center">
                <m-icon class="mb-2 h-5 w-5" [icon]="social.value.icon" pack="si" />
                <h4>{{ social.key }}</h4>
              </div>
              <input [formControlName]="social.key" class="m-textinput mb-1" type="text" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isAdmin" [formGroup]="adminEditForm">
      <h1>Admin Settings</h1>
      <div class="flex flex-wrap">
        <div class="relative max-w-full flex-1 flex-grow px-4">
          <h2>Bans</h2>
          <ul class="list-unstyled whitespace-nowrap">
            <li>
              <input type="checkbox" class="m-checkbox" (change)="toggleBan(Ban.ALIAS)" formControlName="banAlias" />Ban changing alias
            </li>
            <li><input type="checkbox" class="m-checkbox" (change)="toggleBan(Ban.BIO)" formControlName="banBio" />Ban changing bio</li>
            <li><input type="checkbox" class="m-checkbox" (change)="toggleBan(Ban.AVATAR)" formControlName="banAvatar" />Ban avatar</li>
            <li>
              <input type="checkbox" class="m-checkbox" (change)="toggleBan(Ban.LEADERBOARDS)" formControlName="banLeaderboards" />Ban
              submitting to leaderboards >
            </li>
            <li>
              <input type="checkbox" class="m-checkbox" (change)="toggleBan(Ban.MAP_SUBMISSION)" formControlName="banMapSubmission" />Ban
              submitting maps
            </li>
          </ul>
        </div>
        <div class="relative max-w-full flex-1 flex-grow px-4 pl-4 pr-4 md:w-1/4">
          <h2>Roles</h2>
          <ul class="list-unstyled whitespace-nowrap">
            <li><input type="checkbox" class="m-checkbox" (change)="toggleRole(Role.VERIFIED)" formControlName="verified" />Verified</li>
            <li><input type="checkbox" class="m-checkbox" (change)="toggleRole(Role.MAPPER)" formControlName="mapper" />Mapper</li>
            <li>
              <input
                type="checkbox"
                class="m-checkbox"
                *ngIf="isAdmin"
                (change)="toggleRole(Role.MODERATOR)"
                formControlName="moderator"
              />Moderator
            </li>
            <li>
              <input type="checkbox" class="m-checkbox" *ngIf="isAdmin" (change)="toggleRole(Role.ADMIN)" formControlName="admin" />Admin
            </li>
          </ul>
        </div>
        <div class="relative max-w-full flex-1 flex-grow px-4">
          <div class="mb-3" *ngIf="hasRole(Role.PLACEHOLDER)">
            <h5 class="whitespace-nowrap">Merge to Real User:</h5>
            <m-user-search (selected)="selectMergeUser($event)" *ngIf="!mergeUser" />
            <div *ngIf="mergeErr" class="mt-2 text-center text-red-600">
              {{ mergeErr }}
            </div>
            <div *ngIf="mergeUser">
              <nb-user [name]="mergeUser.alias" [picture]="mergeUser.avatarURL" class="mb-2" />
              <button class="m-btn mr-2 mt-1" type="button" (click)="cancelMerge()">Cancel</button>
              <button type="button" class="m-btn m-btn-orange" (click)="mergeUsers()">Merge To User</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <button class="m-btn m-btn-red" type="button" *ngIf="!hasRole(Role.DELETED)" status="danger" (click)="deleteUser()">
        Delete User
      </button>
    </div>
    <button class="m-btn m-btn-green" type="submit" [disabled]="form.touched && !form.valid">Save changes</button>
  </form>
</m-card>
