<div
  class="flex h-full max-h-[36rem] min-h-[16rem] w-full gap-4 transition-opacity"
  [ngClass]="{
    'pointer-events-none opacity-25': disabled
  }"
>
  <div class="md:w-full lg:w-1/2">
    <m-user-search #searchInput (selected)="addUser($event, searchInput)" mTooltip tooltipEvent="noop" />
  </div>
  <div class="flex flex-col overflow-y-auto rounded bg-black bg-opacity-25 py-2 md:w-full lg:w-1/2">
    @for (user of users; track user) {
      <div class="flex items-center bg-white bg-opacity-0 p-2 px-4 transition-colors hover:bg-opacity-5">
        <m-user [user]="user" aliasClass="text-base ml-1" />
        <button class="m-btn m-btn-red ml-auto py-1" (click)="removeUser(user.id)">Delete</button>
      </div>
    }
    <p class="mr-3 mt-auto self-end text-sm italic text-gray-200">
      {{ users.length }} /
      {{ MAX_TESTING_REQUESTS.toString() }}
      invites used
    </p>
  </div>
</div>
