<div class="mb-1 flex w-full items-center gap-4">
  <input
    class="m-textinput flex-grow"
    [nbSpinner]="search.status === 'PENDING'"
    nbPopover
    nbPopoverTrigger="noop"
    [placeholder]="searchBySteam ? 'Search by SteamID...' : 'Search by username...'"
    [formControl]="search"
    type="text"
  />
  <m-icon
    class="h-6 w-6 opacity-40 transition-opacity hover:opacity-60"
    [ngClass]="{ '!opacity-100 hover:!opacity-80': searchBySteam }"
    pTooltip="Search by SteamID (SteamID 64, e.g. 76561198039308694)"
    icon="steam"
    pack="si"
    (click)="searchBySteam = !searchBySteam"
  />
</div>
<div
  *ngFor="let user of foundUsers"
  class="rounded border-2 border-dashed border-blue-500 border-opacity-0 p-2 transition-colors hover:border-opacity-100"
  (click)="confirmUser(user)"
>
  <m-user-search-result [user]="user" />
</div>
<p-paginator
  (onPageChange)="pageChange.next($event)"
  [first]="first"
  [rows]="rows"
  [totalRecords]="totalRecords"
  [showCurrentPageReport]="true"
/>
