@import 'themes';

.drop_zone {
  border: 0.25rem dashed nb-theme(file-upload-border-color);
  border-radius: 0.5rem;
}

.files-ready {
  border: 0.25rem solid nb-theme(file-upload-border-color-hover);
}
