@import '../../../../@theme/styles/themes';

.icon {
  font-size: 2rem;
  line-height: 2rem;
  color: silver;
}

.text {
  color: white;
  font-family: nb-theme(font-family-secondary);
}

nb-list-item > * {
  flex-basis: 100%;
}

.filter-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out,
              margin-bottom 0.2s ease-out 0.1s;
  background-color: nb-theme(background-basic-color-4);

  &.filter-active {
    margin-bottom: 1rem;
  }
}
