.icon {
  font-size: 2rem;
  line-height: 2rem;
  color: silver;
}

.text {
  color: white;
  font-family: 'Exo', sans-serif;
}

.filter-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out,
              margin-bottom 0.2s ease-out 0.1s;
  background-color: #181818;

  &.filter-active {
    margin-bottom: 1rem;
  }
}
