.icon {
  font-size: 2rem;
  color: silver;
  margin-left: 1rem;
}
.text {
  color: white;
  text-align: center;
  font-family: 'Exo', serif;
}

.filter-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #181818;
  margin-bottom: 2%;

  .filter-active {
    background-color: #555;
  }
}

.filter-controls {
  padding: 3%;
}
