<nb-card>
  <nb-card-header>
    <h6>Edit Notification Settings</h6>
  </nb-card-header>
  <nb-card-body>
    <div class="mb-3">Notify me when this user</div>
    <ul class="list-unstyled m-0">
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.pb.checked"> achieves a personal best </nb-checkbox>
      </li>
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.wr.checked"> achieves a world record </nb-checkbox>
      </li>
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.approved.checked"> gets a map approved </nb-checkbox>
      </li>
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.uploaded.checked"> uploads a map </nb-checkbox>
      </li>
    </ul>
  </nb-card-body>
  <nb-card-footer>
    <div class="no-gutters flex flex-wrap">
      <div class="w-1/2 pr-1">
        <button nbButton status="danger" class="w-full" (click)="close()">Close</button>
      </div>
      <div class="w-1/2 pl-1">
        <button nbButton status="primary" class="w-full" (click)="submit()">Submit</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
