<nb-card>
  <nb-card-header>
    <h6>Edit Notification Settings</h6>
  </nb-card-header>
  <nb-card-body>
    <div class="mb-3">Notify me when this user</div>
    <ul class="m-0 list-unstyled">
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.pb.checked">
          achieves a personal best
        </nb-checkbox>
      </li>
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.wr.checked">
          achieves a world record
        </nb-checkbox>
      </li>
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.approved.checked">
          gets a map approved
        </nb-checkbox>
      </li>
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.uploaded.checked">
          uploads a map
        </nb-checkbox>
      </li>
    </ul>
  </nb-card-body>
  <nb-card-footer>
    <div class="row no-gutters">
      <div class="col-6 pr-1">
        <button nbButton status="danger" class="w-100" (click)="close()">
          Close
        </button>
      </div>
      <div class="col-6 pl-1">
        <button nbButton status="primary" class="w-100" (click)="submit()">
          Submit
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
