<section id="about" class="about-section bg-black">
<div class="container text-center">
  <div class="row about-row">
    <div class="col-lg-8 col-xl-6 mb-5 mb-xl-0 mx-auto align-self-center">
      <iframe class="mb-5 mb-xl-0 shadow" width="560" height="315" src="https://www.youtube.com/embed/RnTVMuZ5Fg8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-8 col-xl-6 mx-auto font-weight-light about-text align-self-center">
      <div class="display-4 font-weight-normal mb-3">About the Mod</div>
      <div class="text-white-50">
        <div>
          Momentum Mod is a free, standalone game built on the Source Engine that aims to faithfully recreate, centralize, and improve upon
          the movement game modes found in Counter-Strike, Team Fortress, Half-Life 2, and Titanfall.
        </div>
        <div class="mb-3">
          We aim to provide the best experience found from all of your favorite servers, all in one convenient place, all for free.
        </div>
        <div class="mb-3 text-white lead">
          But it gets better!
        </div>
        <div class="mb-2">
          With access to the native code of the Source Engine itself, favorite features from plugins and completely original features can be natively implemented and included with the base game.
          This means absolutely no extra requirements or dependencies needed; no server/plugin setup tutorials need be followed; it's all here when you click "Install Game"!
        </div>
        <div class="mb-2">
          Being a standalone game means we can optimize for the supported game modes, giving Momentum Mod a smoother, native feel and the subsequent performance of being a game made for them,
          compared to traditional multiplayer servers with network latency and hefty, high-level plugin code running all on top of the game itself.
        </div>
        <div>
          We are actively taking feedback from the community at large to develop a game that feels perfect, runs smoothly, and most importantly, is fun to play!
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="display-5 mb-5">Some of Momentum Mod's features:</div>
      <ul class="d-inline-block mb-0 mx-auto text-left text-white-50 features-list">
        <li>Single-player client - no multiplayer game server connection required!</li>
        <li>Client-side auto-hop - no lag when jumping!</li>
        <li>Surf ramp bug fixes - no more random ramp bugs!</li>
        <li>Slope jump fixes - consistent speed gained from jumping down slopes!</li>
        <li>Original entities - easier mapping and interesting new opportunities for game modes!</li>
        <li>Replays and analytics - for every run submitted!</li>
        <li>Global leaderboards - for every map submitted!</li>
        <li>Integrated map selector - easy browsing and one-click downloads for maps, all from in-game!</li>
        <li>Hassle-free multiplayer - one-click multiplayer with Steam Lobbies (with community-focused dedicated servers coming later!)</li>
      </ul>
    </div>
  </div>
</div>
</section>
