<section id="about" class="about-section text-center">
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1 class="text-white mb-4">About the Mod</h1>
      <p class="text-white-50">As Momentum Mod is still early in its development timeline, we can't say for sure what will be in the mod and what won't be. We can promise Momentum Mod will offer everything current SourceMod surf and bhop servers have and more, and will be free to play!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h5 class="text-white mb-4">Some of Momentum Mod's confirmed features:</h5>
      <ul style="text-align:left" class="text-white-50">
      <li>Singleplayer client - no server connection needed!</li>
      <li>Client-side autobhop - no lag!</li>
      <li>Surf ramp bug fix - no more random ramp bugs!</li>
      <li>Proper slope boost fix</li>
      <li>Replays and analytics for every run</li>
      <li>Global leaderboards for every map</li>
      <li>Entity output timing fixed - Boosters that rely on entity output timing now work as intended every time!</li>
      <li>Play all of your favorite maps - maps compiled for CS:S will work with momentum mod without needing to do any modifications! If you own CS:S, the game's content will be automatically mounted, and you can play any CS:S map using the map command! Maps from other games are not directly supported and may be ported in the future.</li>
    </ul>
    </div>
  </div>
  <img src="assets/images/main-screen.png" class="img-fluid" alt="">
</div>
</section>
