@import 'themes';

.follow-status {
  margin-top: -2rem;
}

.btn-group {
  display: block;

  button {
    &:first-of-type {
      justify-content: flex-start;
      flex-direction: column;
      padding-top: 0;
    }

    height: 3em;
    font: normal normal 500 1em/3em nb-theme(font-family-secondary);
    overflow: hidden;
    padding: 0;

    span,
    nb-icon {
      color: white;
      display: block;
    }

    .c-anim-btn {
      transition: 0.3s;
      margin-top: 0;
    }

    &:hover .c-anim-btn {
      margin-top: -3em;
    }
  }
}
