<div class="follow-status mb-2 text-center text-gray-600" *ngIf="targetFollowStatus">
  <span [nbPopover]="'Following since: ' + (targetFollowStatus?.createdAt | date)" nbPopoverTrigger="hint"> Follows You </span>
</div>
<div class="text-center" *ngIf="checked" [ngClass]="{ 'btn-group': localFollowStatus }">
  <button
    nbButton
    status="primary"
    class="whitespace-no-wrap inline-block select-none rounded border px-3 py-1 text-center align-middle font-normal leading-normal no-underline"
    (click)="followClick()"
  >
    <span [ngClass]="{ 'c-anim-btn': localFollowStatus }">{{ localFollowStatus ? 'Following' : 'Follow' }}</span>
    <span *ngIf="localFollowStatus">Unfollow</span>
  </button>
  <button
    nbButton
    status="primary"
    class="whitespace-no-wrap inline-block select-none rounded border px-3 py-1 text-center align-middle font-normal leading-normal no-underline"
    *ngIf="localFollowStatus"
    (click)="editNotificationSettings()"
  >
    <nb-icon [icon]="localFollowStatus?.notifyOn === 0 ? 'bell-outline' : 'bell-alert'"></nb-icon>
  </button>
</div>
