<div class="mb-4 flex items-start gap-4">
  <p class="card-title flex text-nowrap text-48">
    Beta Maps <m-icon class="ml-2 size-5 self-start pt-1" icon="help-circle" [mTooltip]="infoTooltip" />
  </p>
  <ng-template #infoTooltip>
    <div class="prose p-3">
      <p>Beta maps are maps currently in the submission pipeline.</p>
      <p>You can play any of these maps in-game, leave reviews, and submit runs for them.</p>
      <p>However, they may be subject to change in the future, and any runs you submit will be wiped when the map is released.</p>
    </div>
  </ng-template>
  <form class="ml-auto flex flex-col gap-2" [formGroup]="filters">
    <div class="flex flex-wrap-reverse items-center justify-end gap-x-4 gap-y-2">
      <div class="flex items-center gap-2">
        <p class="font-display text-24">Submitter</p>
        <m-user-select formControlName="submitter" />
      </div>
      <input class="textinput w-64 backdrop-blur-lg" type="text" placeholder="Map Name" formControlName="name" />
      <button (click)="resetFilters()" type="button" class="btn size-8 p-0">
        <m-icon icon="filter-remove" class="size-5" />
      </button>
    </div>
    <div class="flex flex-wrap-reverse items-center justify-end gap-x-4 gap-y-2">
      <div class="flex items-center gap-2">
        <p class="font-display text-24">Status</p>
        <p-multiSelect
          formControlName="status"
          [options]="StatusDropdown"
          optionLabel="label"
          optionValue="type"
          [showHeader]="false"
          appendTo="body"
          [maxSelectedLabels]="2"
        />
      </div>
      <m-dropdown [entries]="MapSortOptions" [entryNameFn]="MapSortNameFn" formControlName="sortType" />
    </div>
  </form>
</div>
<m-map-list [maps]="maps" [loadMore]="loadMore" [loading]="loading" [isSubmissionPage]="true" />
