<div class="mb-4 flex flex-col items-start gap-4 lg:flex-row">
  <p class="card-title flex text-nowrap text-40 md:text-48">
    Beta Maps <m-icon class="ml-2 size-5 self-start pt-1" icon="help-circle" [mTooltip]="infoTooltip" />
  </p>
  <ng-template #infoTooltip>
    <div class="prose p-3">
      <p>Beta maps are maps currently in the submission pipeline.</p>
      <p>You can play any of these maps in-game, leave reviews, and submit runs for them.</p>
      <p>However, they may be subject to change in the future, and any runs you submit will be wiped when the map is released.</p>
    </div>
  </ng-template>
  <form class="flex w-full flex-col gap-2 lg:ml-auto lg:w-auto" [formGroup]="filters">
    <div class="flex flex-wrap items-center gap-x-4 gap-y-2 md:flex-wrap-reverse md:justify-end">
      <input
        class="textinput order-1 min-w-0 flex-1 backdrop-blur-lg md:order-none md:w-64 md:flex-none"
        type="text"
        placeholder="Map Name"
        formControlName="name"
      />
      <div class="order-3 flex w-full items-center gap-2 md:order-none md:w-auto">
        <m-user-select class="min-w-0 flex-1 md:flex-none" formControlName="credit" />
        <m-dropdown class="shrink-0" [entries]="MapCreditOptions" [nameFn]="MapCreditNameFn" formControlName="creditType" />
      </div>
      <button (click)="filters.reset({ status: [] })" type="button" class="btn order-2 size-10 p-0 md:order-none md:size-8">
        <m-icon icon="filter-remove" class="size-5" />
      </button>
    </div>
    <div class="flex flex-wrap items-center gap-x-4 gap-y-2 md:flex-wrap-reverse md:justify-end">
      <div class="flex w-full items-center gap-2 md:w-auto">
        <p class="font-display text-24">Status</p>
        <p-multiSelect
          class="min-w-0 flex-1 md:flex-none"
          formControlName="status"
          [options]="StatusDropdown"
          optionLabel="label"
          optionValue="type"
          [showHeader]="false"
          scrollHeight="auto"
          appendTo="body"
        />
      </div>
      <m-n-state-button
        class="size-10 p-0 md:size-8"
        [states]="[
          { icon: 'check-bold', color: 'pale' },
          { icon: 'check-bold', color: 'green' },
          { icon: 'check-bold', color: 'red' }
        ]"
        mTooltip="Has Approving Reviews"
        formControlName="hasApprovingReviews"
      />
      <m-dropdown class="max-md:ml-auto" [entries]="MapSortOptions" [nameFn]="MapSortNameFn" formControlName="sortType" />
    </div>
  </form>
</div>
<m-map-list [maps]="maps" [loadMore]="loadMore" [loading]="loading" [isSubmissionPage]="true" />
