<div class="grid grid-flow-col grid-cols-[minmax(auto,14rem)_1fr] grid-rows-[auto_auto] gap-4">
  <p class="card-title text-nowrap text-48">Your Maps</p>
  <div class="flex flex-col gap-4">
    @if (hasSubmissionBan) {
      <p>You are banned from map submission</p>
    } @else {
      <m-card title="Map Summary">
        @if (summaryLoading || summary?.length > 0) {
          <div class="flex flex-col gap-1" [mSpinner]="summaryLoading">
            @for (item of summary; track item.status) {
              <p class="text-gray-300">{{ MapStatusName.get(item.status) }}</p>
              <p class="mb-1 text-gray-50">{{ item.statusCount }}</p>
            }
          </div>
        } @else {
          <p>No maps submitted</p>
        }
      </m-card>
      <button class="btn btn-blue" type="button" routerLink="/map-edit/submit">Submit a Map</button>
    }
  </div>

  <div class="flex items-end self-end">
    <form class="ml-auto flex flex-col gap-2" [formGroup]="filters">
      <div class="flex flex-wrap-reverse items-center justify-end gap-x-4 gap-y-2">
        <input class="textinput w-64 backdrop-blur-lg" type="text" placeholder="Map Name" formControlName="name" />
        <div class="flex items-center gap-2">
          <m-user-select formControlName="credit" />
          <m-dropdown [entries]="MapCreditOptions" [nameFn]="MapCreditNameFn" formControlName="creditType" />
        </div>
        <button (click)="resetFilters()" type="button" class="btn size-8 p-0">
          <m-icon icon="filter-remove" class="size-5" />
        </button>
      </div>
      <div class="flex flex-wrap-reverse items-center justify-end gap-x-4 gap-y-2">
        <div class="flex items-center gap-2">
          <p class="font-display text-24">Status</p>
          <p-multiSelect
            formControlName="status"
            [options]="StatusDropdown"
            optionLabel="label"
            optionValue="type"
            [showHeader]="false"
            scrollHeight="auto"
            appendTo="body"
          />
        </div>
        <m-dropdown [entries]="MapSortOptions" [nameFn]="MapSortNameFn" formControlName="sortType" />
      </div>
    </form>
  </div>
  <m-map-list [maps]="maps" [loadMore]="loadMore" [loading]="loading" [isSubmissionPage]="true" />
</div>
