<h5 class="text-center" *ngIf="loadedCredits && mapCredits.length === 0"><i>No credits found</i></h5>
<nb-list>
  <nb-list-item *ngFor="let mapCredit of mapCredits | paginate: {
     itemsPerPage: pageLimit,
     currentPage: currentPage,
     totalItems: creditCount
  }">
    <div class="text-center">
      <span class="col">{{mapCredType[mapCredit.type]}} on</span>
      <a routerLink="/dashboard/maps/{{mapCredit.map?.id}}">
        <img class="map-image" [src]="mapCredit.map?.thumbnail?.small">
        <span class="col">{{mapCredit.map?.name}}</span>
      </a>
    </div>
  </nb-list-item>
</nb-list>
<div class="text-center">
  <pagination-controls (pageChange)="onPageChange($event)" [autoHide]="true" [responsive]="true"></pagination-controls>
</div>
