<nb-card>
  <nb-card-header><h2>Statistics</h2></nb-card-header>
  <nb-card-body>
    <div class="flex flex-wrap justify-around text-center">
      <div class="cos-xp mx-1 my-2 pl-3 pt-2">
        <h4>{{ userStats?.cosXP || 0 }}</h4>
        <h6>Cos XP</h6>
      </div>

      <div class="maps-completed mx-1 my-2 pl-3 pt-2">
        <h4>{{ userStats?.mapsCompleted || 0 }}</h4>
        <h6>Maps Completed</h6>
      </div>

      <div class="total-jumps mx-1 my-2 pl-3 pt-2">
        <h4>{{ userStats?.totalJumps || 0 }}</h4>
        <h6>Total Jumps</h6>
      </div>

      <div class="total-strafes mx-1 my-2 pl-3 pt-2">
        <h4>{{ userStats?.totalStrafes || 0 }}</h4>
        <h6>Total Strafes</h6>
      </div>

      <div class="runs mx-1 my-2 pl-3 pt-2">
        <h4>{{ userStats?.runsSubmitted || 0 }}</h4>
        <h6>Runs Submitted</h6>
      </div>
    </div>
  </nb-card-body>
</nb-card>
