<ul [mSpinner]="loading">
  @for (credit of credits; track $index) {
    <li class="basis-full">
      <div class="flex flex-wrap items-center justify-center">
        <div class="max-w-[20rem] flex-grow lg:text-xl">
          <div class="mb-3">{{ MapCreditType[credit.type] }} ON</div>
          <a class="text-lg" routerLink="/maps/{{ credit.map?.id }}">{{ credit.map?.name }}</a>
        </div>
        <div>
          <a routerLink="/maps/{{ credit.map?.id }}">
            <img class="h-14 rounded lg:h-16" [ngSrc]="credit.map?.thumbnail?.small" />
          </a>
        </div>
      </div>
    </li>
  } @empty {
    @if (!loading) {
      <i>No credits found</i>
    }
  }
</ul>
<p-paginator
  (onPageChange)="pageChange.next($event)"
  [first]="first"
  [rows]="rows"
  [totalRecords]="totalRecords"
  [showCurrentPageReport]="true"
  [alwaysShow]="false"
/>
