.type-col {
  max-width: 20rem;
}

.text {
  font-size: 1.25rem;

  a {
    font-size: 1.2rem;
  }
}

.map-image {
  height: 4rem;
}

@media (max-width: 575.98px) {
  .text {
    font-size: 1rem;
  }

  .map-image {
    height: 3.5rem;
  }
}

nb-list-item > * {
  flex-basis: 100%;
}
