<h5 class="m-0 text-center" *ngIf="loadedCredits && mapCredits.length === 0">
  <i>No credits found</i>
</h5>
<nb-list class="overflow-hidden">
  <nb-list-item
    *ngFor="
      let mapCredit of mapCredits
        | paginate
          : {
              id: 'credits',
              itemsPerPage: pageLimit,
              currentPage: currentPage,
              totalItems: creditCount
            }
    "
    class="basis-full"
  >
    <div class="flex flex-wrap items-center justify-center">
      <div class="max-w-[20rem] flex-grow lg:text-xl">
        <div class="mb-3">{{ MapCreditType[mapCredit.type] }} ON</div>
        <a class="text-lg" routerLink="/maps/{{ mapCredit.map?.id }}">{{ mapCredit.map?.name }}</a>
      </div>
      <div>
        <a routerLink="/maps/{{ mapCredit.map?.id }}">
          <img class="h-14 rounded lg:h-16" [ngSrc]="mapCredit.map?.thumbnail?.small" />
        </a>
      </div>
    </div>
  </nb-list-item>
</nb-list>
<div class="text-center">
  <pagination-controls id="credits" (pageChange)="onPageChange($event)" [autoHide]="true" [responsive]="true"></pagination-controls>
</div>
