<div class="inputlike flex flex-wrap items-center gap-1.5 px-2 py-1.5">
  <button
    (click)="op.toggle($event)"
    [mTooltip]="available.length > 0 ? 'Add ' + name : null"
    [disabled]="available.length === 0"
    type="button"
    class="grid h-7 w-7 rounded bg-white bg-opacity-10 p-0.5 text-white opacity-50 transition-colors [&:not(:disabled)]:hover:bg-opacity-20 [&:not(:disabled)]:hover:opacity-80"
  >
    <m-icon icon="plus-thick" class="h-6 w-6" />
    <p-overlayPanel #op [classList]="'p-0'">
      <div class="flex flex-wrap gap-2">
        @for (chip of available; track $index) {
          <button
            (click)="add(chip) && op.hide()"
            class="rounded bg-white bg-opacity-10 px-2 py-1.5 transition-colors hover:bg-opacity-20"
            type="button"
          >
            <span class="text-white">{{ chip }}</span>
          </button>
        }
      </div>
    </p-overlayPanel>
  </button>
  @for (chip of selected; track $index) {
    <div class="flex h-7 items-center gap-1 rounded bg-blue-400 bg-opacity-50 py-2 pl-2.5 pr-1.5 transition-colors hover:bg-opacity-60">
      <span class="pointer-events-none font-medium text-gray-50">{{ chip }}</span>
      <button
        (click)="remove(chip)"
        class="flex items-center rounded-full bg-white bg-opacity-0 p-0.5 text-gray-50 transition-colors hover:bg-opacity-20"
        type="button"
      >
        <m-icon icon="close-thick" class="h-4 w-4" />
      </button>
    </div>
  }
</div>
