<fieldset class="card-inset mb-6 flex flex-col">
  <legend class="text-shadow-strong font-display text-4xl font-bold text-gray-50">Details</legend>

  <p class="mt-1 text-sm font-medium uppercase text-gray-200">Submitted By</p>
  <m-user [user]="map.submitter" avatarClass="!h-5" />

  <p class="mt-4 text-sm font-medium uppercase text-gray-200">
    Type
    <m-icon [mTooltip]="subType" class="ml-0.5 pt-0.5 text-sm" icon="help-circle" />
    <ng-template #subType><m-submission-type-info /></ng-template>
  </p>
  <p class="text-lg">{{ MapSubmissionType[map.submission.type] | titlecase }}</p>

  <p class="mt-4 text-sm font-medium uppercase text-gray-200">Timeline</p>
  <ul class="flex flex-wrap gap-x-8">
    @for (date of map.submission.dates; track $index) {
      <li [mTooltip]="'Authored by ' + (date.user ? date.user.alias : 'N/A')">
        <p class="font-medium">{{ MapStatusName.get(date.status) }}</p>
        <p class="text-sm text-gray-200">{{ date.date | date: 'yyyy-MM-dd HH:mm' }}</p>
      </li>
    }
  </ul>

  <div class="mt-5 grid grid-flow-row grid-cols-[auto_auto_auto_auto_minmax(auto,1fr)] items-center gap-x-5">
    <p class="text-sm font-medium uppercase text-gray-200">Suggestions</p>
    <p class="justify-self-center text-sm font-medium uppercase text-gray-250">Tier</p>
    <p class="justify-self-center text-sm font-medium uppercase text-gray-250">Ranked</p>
    <p class="text-sm font-medium uppercase text-gray-250">Tags</p>
    <p class="text-sm font-medium uppercase text-gray-250">{{ hasComments ? 'Comment' : '' }}</p>

    @for (gamemode of suggestions | unsortedKeyvalue; track $index) {
      @if (gamemode.value.get(TrackType.MAIN)?.[0]; as mainSugg) {
        <p class="text-sm font-medium text-gray-100">{{ GamemodeInfo.get(gamemode.key).name }} - Main</p>
        <p class="justify-self-center text-sm font-medium">{{ mainSugg.tier ?? '' }}</p>
        <m-icon class="justify-self-center text-xl" [icon]="mainSugg.type === LeaderboardType.RANKED ? 'check' : 'close'" />
        <p class="text-sm text-gray-50">{{ mainSugg.tags?.map(mapTagEnglishName)?.join(', ') }}</p>
        <p class="text-sm text-gray-50">{{ mainSugg.comment }}</p>
      }

      @for (bonus of gamemode.value.get(TrackType.BONUS); track $index) {
        <p class="text-sm font-medium text-gray-100">{{ GamemodeInfo.get(gamemode.key).name }} - Bonus {{ bonus.trackNum }}</p>
        <p class="justify-self-center text-sm font-medium">{{ bonus.tier ?? '' }}</p>
        <m-icon class="justify-self-center text-xl" [icon]="bonus.type === LeaderboardType.RANKED ? 'check' : 'close'" />
        <p class="text-sm text-gray-50">{{ bonus.tags?.map(mapTagEnglishName)?.join(', ') }}</p>
        <p class="text-sm text-gray-50">{{ bonus.comment }}</p>
      }
    }
  </div>
</fieldset>

<fieldset class="card-inset scroll-thin mb-6 flex max-h-[50vh] flex-col overflow-y-scroll">
  <legend class="text-shadow-strong font-display text-4xl font-bold text-gray-50">Versions</legend>

  @for (version of versions.slice(0, visibleVersions); track version.versionNum) {
    <p class="mt-1 text-sm font-medium uppercase text-gray-200">Version {{ version.versionNum }}</p>
    @if (version.changelog) {
      <p class="mt-2 whitespace-pre-wrap text-sm">{{ version.changelog }}</p>
    }
    <p class="mb-4 mt-1 last:mb-0">
      <a class="link mr-4 text-sm font-medium" [href]="version.downloadURL">Download BSP</a>
      <a class="link mr-4 text-sm font-medium" [href]="getLumperUrl(version)">Open in Lumper</a>
      <a class="link mr-4 cursor-pointer text-sm font-medium" (click)="downloadOlderZoneFile(version.id)">Download Zones</a>
      @if (version.vmfDownloadURL) {
        <a class="link text-sm font-medium" [href]="version.vmfDownloadURL">Download VMF</a>
      }
    </p>
  }

  @if (visibleVersions < versions.length) {
    <p>
      {{ versions.length - visibleVersions | plural: 'more version' }} -
      <a class="link cursor-pointer font-medium" (click)="visibleVersions = visibleVersions + 5">Load more</a>
    </p>
  }
</fieldset>

<fieldset class="card-inset">
  <legend class="mb-2 flex w-full items-center">
    <p class="text-shadow-strong font-display text-4xl font-bold text-gray-50">Reviews</p>
    <div class="h-[1px] flex-grow bg-white bg-opacity-10"></div>
  </legend>
  <m-map-review-list class="flex flex-col gap-4" [map]="map" />
</fieldset>
