<fieldset class="m-card-inset mb-6 flex flex-col">
  <legend class="font-display text-4xl font-bold text-gray-50">Details</legend>

  <p class="mt-1 text-sm font-medium uppercase text-gray-200">Submitted By</p>
  <m-user [user]="map.submitter" avatarClass="!h-5" />

  <p class="mt-4 text-sm font-medium uppercase text-gray-200">
    Type
    <m-icon [mTooltip]="subType" class="ml-0.5 pt-0.5 text-sm" icon="help-circle" />
    <ng-template #subType><m-submission-type-info /></ng-template>
  </p>
  <p class="text-lg">{{ MapSubmissionType[map.submission.type] | titlecase }}</p>

  <p class="mt-4 text-sm font-medium uppercase text-gray-200">Timeline</p>
  <ul class="flex flex-wrap gap-x-8">
    @for (date of map.submission.dates; track $index) {
      <li>
        <p class="font-medium">{{ MapStatusName.get(date.status) }}</p>
        <p class="text-sm">{{ date.date | date }}</p>
      </li>
    }
  </ul>

  <p class="mt-5 text-sm font-medium uppercase text-gray-200">Suggestions</p>
  <div class="flex flex-wrap gap-x-16 gap-y-4">
    @for (gamemode of suggestions | unsortedKeyvalue; track $index) {
      <div class="grid grid-flow-col grid-rows-[auto_repeat(3,1.375rem)] items-center justify-items-center gap-x-5">
        <p class="justify-self-start font-bold text-gray-50">{{ GamemodeName.get(gamemode.key) }}</p>
        <p class="justify-self-start text-sm uppercase text-gray-200">Tier</p>
        <p class="justify-self-start text-sm uppercase text-gray-200">Ranked</p>
        <p class="justify-self-start text-sm uppercase text-gray-200">Comment</p>

        @if (gamemode.value.get(TrackType.MAIN)?.[0]; as mainSugg) {
          <p class="w-[1.75rem] font-medium text-gray-50">Main</p>
          <p class="font-medium">{{ mainSugg.tier ?? '' }}</p>
          @if (mainSugg.ranked) {
            <m-icon class="text-xl" icon="check" />
          } @else {
            <m-icon class="text-xl" icon="close" />
          }
          @if (mainSugg.comment) {
            <m-icon class="text-xl" icon="tooltip-question-outline" [mTooltip]="mainSugg.comment" />
          } @else {
            <span></span>
          }
        }

        @for (bonus of gamemode.value.get(TrackType.BONUS); track $index) {
          <p class="w-[1.75rem] text-center font-medium text-gray-50">B{{ bonus.trackNum + 1 }}</p>
          <p class="font-medium">{{ bonus.tier ?? '' }}</p>
          @if (bonus.ranked) {
            <m-icon class="text-xl" icon="check" />
          } @else {
            <m-icon class="text-xl" icon="close" />
          }
          @if (bonus.comment) {
            <m-icon class="text-xl" icon="tooltip-question-outline" [mTooltip]="bonus.comment" />
          } @else {
            <span></span>
          }
        }
      </div>
    }
  </div>
</fieldset>

@if (map.submission.versions?.length > 1) {
  <fieldset class="m-card-inset scroll-thin mb-6 flex max-h-[50vh] flex-col overflow-y-scroll">
    <legend class="font-display text-4xl font-bold text-gray-50">Versions</legend>

    @for (version of versions.slice(0, visibleVersions); track $index) {
      <p class="mt-1 text-sm font-medium uppercase text-gray-200">Version {{ versions.length - $index }}</p>
      <p class="mt-2 whitespace-pre-wrap text-sm">{{ version.changelog }}</p>
      <p class="mb-4 mt-1 last:mb-0">
        <a class="m-link text-sm font-medium" [href]="version.downloadURL">Download BSP</a>
        @if (version.vmfDownloadUrl) {
          <a class="m-link text-sm font-medium" [href]="version.vmfDownloadUrl">Download VMF</a>
        }
      </p>
    }

    @if (visibleVersions < versions.length) {
      <p>
        {{ versions.length - visibleVersions | plural: 'more version' }} -
        <a class="m-link cursor-pointer font-medium" (click)="visibleVersions = visibleVersions + 5">Load more</a>
      </p>
    }
  </fieldset>
}

<fieldset class="m-card-inset">
  <legend class="mb-2 flex w-full items-center">
    <p class="font-display text-4xl font-bold text-gray-50">Reviews</p>
    <div class="h-[1px] flex-grow bg-white bg-opacity-10"></div>
  </legend>
  <m-map-review-list class="flex flex-col gap-4" [map]="map" />
</fieldset>
