@use 'theme' as *;

$image-height: 105px;

img {
  max-height: $image-height;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

li {
  font-family: nb-theme(font-family-secondary);
  list-style: none;
  white-space: nowrap;

  a {
    color: white;
  }
}

.button-group > button {
  border-radius: 8px !important;
}

.map-image-container {
  overflow: hidden;
  height: $image-height;
}

.icon {
  font-size: 1.25rem;
}

@mixin map-status-col($color) {
  .mapStatus {
    color: #{$color};
  }
  &.outer {
    border: 1px solid #{$color};
  }

  &.outer:hover {
    box-shadow: 0 2px 8px 0 #{$color};
  }
}

.Pending {
  @include map-status-col(orange);
}

.Approved {
  @include map-status-col(green);
}

.Rejected {
  @include map-status-col(red);
}
