<div class="row">
  <div class="col-6 col-sm-3">
    <h6>Authors:</h6>
    <ul class="list-unstyled">
      <li *ngFor="let credit of filterMapCredits(map?.credits, MapCreditType.AUTHOR)">
        <a [routerLink]="'/dashboard/profile/' + credit?.user.id">
          <nb-user [name]="credit?.user.alias" [picture]="credit?.user.avatarURL" size="small"></nb-user>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-6 col-sm-3">
    <h6>Contributors:</h6>
    <ul class="list-unstyled">
      <li *ngFor="let credit of filterMapCredits(map?.credits, MapCreditType.CONTRIBUTOR)">
        <a [routerLink]="'/dashboard/profile/' + credit?.user.id">
          <nb-user [name]="credit?.user.alias" [picture]="credit?.user.avatarURL" size="small"></nb-user>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-6 col-sm-3">
    <h6>Testers:</h6>
    <ul class="list-unstyled">
      <li *ngFor="let credit of filterMapCredits(map?.credits, MapCreditType.TESTER)">
        <a [routerLink]="'/dashboard/profile/' + credit?.user.id">
          <nb-user [name]="credit?.user.alias" [picture]="credit?.user.avatarURL" size="small"></nb-user>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-6 col-sm-3">
    <h6>Special Thanks:</h6>
    <ul class="list-unstyled">
      <li *ngFor="let credit of filterMapCredits(map?.credits, MapCreditType.SPECIAL_THANKS)">
        <a [routerLink]="'/dashboard/profile/' + credit?.user.id">
          <nb-user [name]="credit?.user.alias" [picture]="credit?.user.avatarURL" size="small"></nb-user>
        </a>
      </li>
    </ul>
  </div>
</div>
