<div class="row">
  <div *ngFor="let type of MapCreditNames | keyvalue" class="col-6 col-md-3">
    <h6>{{ type.value }}</h6>
    <ul class="list-unstyled">
      <li *ngFor="let credit of filterMapCredits(map?.credits, type.key)">
        <a class="credit-entry" [routerLink]="'/dashboard/profile/' + credit?.user.id">
          <nb-user class="avatar" [picture]="credit?.user.avatarURL" onlyPicture />
          <div class="main">
            <span class="name">{{ credit.user.alias }}</span>
            <span class="description">{{ credit.description }}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
