nb-list-item {
  border: 2px solid transparent;

  &:first-child {
    border: 2px solid transparent;
  }

  &:hover {
    border: 2px dashed gray;
  }
}

nb-list-item > * {
  flex-basis: 100%;
}

nb-icon {
  position: relative;
  animation: icon-enter 0.2s forwards ease-in-out;
}

@keyframes icon-enter {
  0% {
    opacity: 0;
    left: -10px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
