<section id="gamemodes" class="gamemodes-section bg-black">
<div class="container">
  <div class="row justify-content-center mb-5 mb-lg-5">
    <div class="col-sm-12 col-md-11 col-lg-10 mb-2 mb-lg-2">
      <div class="display-4 font-weight-normal gamemodes-header text-center" (deferLoad)="onGameModeSectionVisible()">
        Supported Game Modes
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-5 mb-lg-5">
    <div class="col-3 col-sm-3 col-md-2 col-lg-1" *ngFor="let gamemode of gameModes; index as i" (click)="setCurrentGamemode(i)">
      <span *ngIf="!gamemode.isImplemented" class="gamemode-coming-soon">soon™</span>
      <img width="100%" [ngClass]="(this.gameModeIndex == i) ? 'gamemode-icon-selected' : 'gamemode-icon'"
           [src]="gamemode.iconUrl"
           *ngIf="gameModeSectionVisible">
    </div>
  </div>
  <div class="row justify-content-center mb-5 mb-lg-5">
    <div class="display-4 font-weight-normal gamemodes-header text-center">
      {{this.currentGameMode.modeTitle}}
    </div>
  </div>
  <div class="row justify-content-center mb-5 mb-lg-5 gamemode-data-section">
    <div class="col-sm-12 col-md-6 mb-3">
      <ng-container *ngIf="this.currentGameMode.useYoutubeEmbed; then youtubeTemplate; else webmTemplate"></ng-container>
      <ng-template #webmTemplate>
        <video class="gamemode-video" [src]="this.currentGameMode.url" [poster]="this.currentGameMode.imageUrl" preload="metadata" loop autoplay
               *ngIf="gameModeSectionVisible">
        </video>
      </ng-template>
      <ng-template #youtubeTemplate>
        <iframe width="100%" height="305" [src]='this.currentGameMode.safeYoutubeUrl' frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                *ngIf="gameModeSectionVisible">
        </iframe>
      </ng-template>
    </div>
    <div class="col-12 col-md-6 gamemode-description">
      {{this.currentGameMode.modeDescription}}
    </div>
  </div>
</div>
</section>
