<section id="gamemodes" class="gamemodes-section bg-black">
<div class="container">
  <div class="display-4 text-center gamemodes-header">Gamemodes</div>
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="d-flex flex-column align-items-center">
        <div class="display-5 mb-4">Current Modes</div>
        <div class="mode-header mb-4">Surf</div>
        <div class="mode-header mb-4">Bunnyhop</div>
        <div class="mode-header mb-4">RocketJump</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="d-flex flex-column align-items-center">
        <div class="display-5 mb-4">Future Modes</div>
        <div class="mode-header mb-4">KZ Climb</div>
        <div class="mode-header mb-4">TrickSurf</div>
        <div class="mode-header mb-4">Trikz</div>
      </div>
    </div>
  </div>
</div>
</section>
