@import '../../../@theme/styles/themes';

.gamemodes-section {
  padding: 5rem 0 0.5rem;
}

.lead {
  min-height: 5rem;
}

.gamemode {
  min-width: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.gamemode-icon {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 0.25;
  transition: opacity 0.5s;
}

.gamemode-icon:hover {
  opacity: 0.8;
}

.gamemode-icon.selected {
  opacity: 1;
}

.gamemode-description {
  margin: auto;
  border-left: solid;
  border-color: nb-theme(color-primary-100);
  font-size: 2em;
  line-height: 1.25em;
}

.gamemode-coming-soon {
  background-color: nb-theme(color-primary-500);
  font-size: 1em;
  text-align: center;
  border-radius: 2px;
  z-index: 1000;
  width: 55%;
  position: absolute;
  top: 5px;
  right: -8px;
  padding: 3px;
  transform: rotate(30deg);
  user-select: none;
}

.gamemode-youtube-play-container {
  width: 100%;

  img {
    width: 100%;
    height: 305px;
    position: relative;
  }

  &:hover {
    nb-icon {
      color: nb-theme(color-primary-500);
    }
  }

  nb-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
  }
}

.gamemode-data-section {
  min-height: 320px;
}

.gamemode-video {
  width: 100%;
}

.base-timer {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -15px;
  margin-left: -15px;
}

.base-timer__svg {
  transform: scaleX(-1);
  position: absolute;
  fill: none;
	top: 0;
	left: 0;
}

.base-timer__path-remaining {
  stroke-width: 4px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
  color: nb-theme(color-primary-500);
}
