@import '../../../@theme/styles/themes';

.gamemodes-section {
  padding: 5rem 0 0.5rem;
}

.lead {
  min-height: 5rem;
}

.gamemode {
  min-width: 50px;
}

.gamemode-icon {
  opacity: 25%;
  transition: opacity 0.5s;
}

.gamemode-icon:hover {
  opacity: 80%;
}

.gamemode-icon.selected {
  opacity: 100%;
}

.gamemode-description {
  margin: auto;
  border-left: solid;
  border-color: nb-theme(color-primary-100);
  font-size: 2em;
  line-height: 1.25em;
}

.gamemode-coming-soon {
  background-color: nb-theme(color-primary-500);
  font-size: 1em;
  text-align: center;
  border-radius: 2px;
  z-index: 1000;
  width: 55%;
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 3px;
  transform: rotate(30deg);
  user-select: none;
}

.gamemode-data-section {
  min-height: 320px;
}

.gamemode-video {
  width: 100%;
}

.base-timer {
  position: absolute;
  top: -14px;
  left: 4px;
  width: 90px;
  height: 90px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 4px;
  stroke: transparent;
}

.base-timer__path-remaining {
  stroke-width: 4px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
  color: nb-theme(color-primary-500);
}
