<p>This will set the map to disabled and delete all files.</p>
<p>
  Effectively it deletes the map, and should only be used for cases like DMCAs, offensive content etc. If it has any chance of being
  re-enabled, just set the map status to <b>disabled</b> instead.
</p>
<p>
  To confirm, please enter the following code: <b class="select-none">{{ randomCode }}</b>
</p>
<div class="relative mt-1 flex w-full items-stretch">
  <input (keyup)="onCodeInput($event)" type="text" class="textinput mb-1" placeholder="Verification code" />
</div>
<div class="grid grid-cols-2 gap-2">
  <button class="btn" (click)="ref.close(false)">Cancel</button>
  <button class="btn btn-red" (click)="submit()" [disabled]="!this.isCodeValid">Delete</button>
</div>
