<p>
  This will <b>permanently</b> and <b>irrevocably</b> delete your account. If you do so, you will <b><i>never</i></b> be able to sign up
  from the same Steam account.
</p>
<p>
  This feature only exists for privacy reasons, to give users the ability to delete all data identifiable to them from our systems. Unless
  you really want to do that, don't use this feature!
</p>
<p>
  Again, we are <b><i>not</i></b> going to help you recover your account if you do this.
</p>
<p>
  To confirm, please enter the following code: <b class="select-none">{{ randomCode }}</b>
</p>
<div class="relative mt-1 flex w-full items-stretch">
  <input (keyup)="onCodeInput($event)" type="text" class="textinput mb-1" placeholder="Verification code" />
</div>
<div class="grid grid-cols-2 gap-2">
  <button type="button" class="btn" (click)="ref.close(false)">Cancel</button>
  <button type="button" class="btn btn-red" (click)="submit()" [disabled]="!this.isCodeValid">Delete</button>
</div>
