<div class="d-flex flex-wrap justify-content-around text-center">
  <div class="base mx-1 mb-3">
    <h6>Total Jumps</h6>
    <h1>{{ map?.stats?.baseStats?.jumps || 0 }}</h1>
  </div>

  <div class="base mx-1 mb-3">
    <h6>Total Strafes</h6>
    <h1>{{ map?.stats?.baseStats?.strafes || 0 }}</h1>
  </div>

  <div class="base mx-1 mb-3">
    <h6>Total Completions</h6>
    <h1>{{ map?.stats?.completions || 0 }}</h1>
  </div>

  <div class="base mx-1 mb-3">
    <h6>Unique Completions</h6>
    <h1>{{ map?.stats?.uniqueCompletions || 0 }}</h1>
  </div>
</div>
