<input
  class="textinput mb-2 w-full flex-grow"
  [mSpinner]="search.status === 'PENDING'"
  [placeholder]="'Search by map name...'"
  [formControl]="search"
  type="text"
/>
@if (search.status === 'INVALID' && search.value.length > 0 && found.length === 0) {
  <p class="p-3 text-lg text-gray-200">
    {{ getFirstError() }}
  </p>
}
@for (map of found; track map) {
  <div class="flex items-center gap-4 rounded bg-white bg-opacity-0 p-2 transition-colors hover:bg-opacity-5" (click)="onSelected(map)">
    <img class="aspect-video h-12" [src]="map.thumbnail.small" />
    <p class="mr-1 text-lg font-bold">{{ map.name }}</p>
  </div>
}
<p-paginator
  (onPageChange)="pageChange.next($event)"
  [first]="first"
  [rows]="rows"
  [totalRecords]="totalRecords"
  [showCurrentPageReport]="true"
  [alwaysShow]="false"
/>
