<div class="search" (keyup.escape)="emitClose()">
  <button (click)="emitClose()">
    <nb-icon icon="close-circle-outline"></nb-icon>
  </button>
  <div class="form-wrapper">
    <form class="form" (keyup.enter)="submitSearch(searchInput.value)" (submit)="retFalse()">
      <div class="form-content">
        <input class="search-input" #searchInput autocomplete="off" [attr.placeholder]="placeholder" tabindex="-1" (blur)="focusInput()" />
      </div>
      <span class="info">{{ hint }}</span>
      <div class="mx-auto mt-4 content">
        <div class="row justify-content-center results">
          <div class="col-10 col-md-6" *ngIf="users?.length">
            <mom-search-results
              [usersResults]="true"
              [onlyMaps]="onlyMaps"
              [onlyUsers]="onlyUsers"
              [elems]="users"
              (selectedURL)="selectedElem($event)"
            />
          </div>
          <div class="col-10 col-md-6" *ngIf="maps?.length">
            <mom-search-results
              [usersResults]="false"
              [onlyMaps]="onlyMaps"
              [onlyUsers]="onlyUsers"
              [elems]="maps"
              (selectedURL)="selectedElem($event)"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
