<nb-card [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
  <nb-card-header>
    <h2>MAP QUEUE</h2>
  </nb-card-header>
  <nb-tabset>
    <nb-tab tabTitle="MAPPER SUBMISSIONS">
      <nb-list class="overflow-hidden">
        <nb-list-item *ngFor="let map of priorityQueue | paginate: {
          id: 'priority-page-ctrl',
          itemsPerPage: pageLimit,
          currentPage: priorityQueuePage,
          totalItems: priorityQueueCount
        }">
          <queued-map [map]="map" (onStatusUpdate)="loadMapQueue(true)"></queued-map>
        </nb-list-item>
      </nb-list>
      <div class="text-center">
        <pagination-controls id="priority-page-ctrl" (pageChange)="onPageChange($event, true)" [autoHide]="true" [responsive]="true"></pagination-controls>
      </div>
      <div class="text-center" *ngIf="!priorityQueue?.length">
        <h3 class="m-0">There are currently no maps in this queue.</h3>
      </div>
    </nb-tab>
    <nb-tab tabTitle="NON-MAPPER SUBMISSIONS">
      <nb-list class="overflow-hidden">
        <nb-list-item *ngFor="let map of nonPriorityQueue | paginate: {
          id: 'non-priority-page-ctrl',
          itemsPerPage: pageLimit,
          currentPage: nonPriorityQueuePage,
          totalItems: nonPriorityQueueCount
        }">
          <queued-map [map]="map" (onStatusUpdate)="loadMapQueue(false)"></queued-map>
        </nb-list-item>
      </nb-list>
      <div class="text-center">
        <pagination-controls id="non-priority-page-ctrl" (pageChange)="onPageChange($event, false)" [autoHide]="true" [responsive]="true"></pagination-controls>
      </div>
      <div class="text-center" *ngIf="!nonPriorityQueue?.length">
        <h3 class="m-0">There are currently no maps in this queue.</h3>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
