<div class="row">
  <div class="col-md-12 col-lg-12">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-header><h1>Submit a Map</h1></nb-card-header>

          <nb-card-body>
            <input class= "form-control" placeholder="Map File" disabled="disabled" [value]="fileToUpload?.name" #uploadFile/>
            <div class="fileUpload btn btn-outline-info">
              <span>Browse</span>
              <input id="uploadBtn" type="file" accept=".bsp" class="upload" (change)="onFileSelected($event);"/>
            </div>

            <div class="form-group">
              <input type="text" placeholder="Map Name" class="form-control"/>
            </div>

            <div class="row full-name-inputs">
              <div class="col-sm-6 form-group">
                <input type="text" placeholder="Author's Name" class="form-control"/>
              </div>

              <div class="col-sm-6 input-group">
                <input type="text" placeholder="Co-authors" class="form-control"/>
              </div>
            </div>

            <div class="form-group">
              <input type="text" placeholder="Testers" class="form-control"/>
            </div>

            <div class="form-group">
              <input type="text" placeholder="Special Thanks" class="form-control"/>
            </div>

            <div class="form-group">
              <input type="text" placeholder="Date Created" class="form-control"/>
            </div>

            <div class="form-group">
              <textarea rows="5" placeholder="Map Description" class="form-control"></textarea>
            </div>

            <div class="form-group validation-checkboxes row">
              <nb-checkbox status="success" class="col-sm-4">I created this map</nb-checkbox>
            </div>

            <div>
              <button type="button" class="btn btn-outline-info btn-block">Submit Map</button>
            </div>

          </nb-card-body>
    </nb-card>
  </div>
</div>
</div>
