<div class="row">
  <div class="col-md-12 col-lg-6">
    <nb-card class="nb-icons">
      <nb-card-header>
        Submitted Maps
      </nb-card-header>
      <nb-card-body>
        <div class="icons"
             *ngFor="let icon of icons.nebular">
          <i class="{{ icon }}" [nbPopover]="icon"><p>Your submitted maps will appear here!</p></i>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6">
    <nb-card class="nb-icons">
      <nb-card-header>
        Approved Maps
      </nb-card-header>
      <nb-card-body>
        <div class="icons"
             *ngFor="let icon of icons.nebular">
          <i class="{{ icon }}" [nbPopover]="icon"><p>Your approved maps will appear here!</p></i>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
