<div class="row">
  <div class="col-md-12 col-lg-6">
    <nb-card>
      <nb-card-header><h1>Pending Approval</h1></nb-card-header>
      <nb-card-body>
        <div>
          <i><p>Maps pending approval will appear here</p></i>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6">
    <nb-card>
      <nb-card-header><h1>Approved Maps</h1></nb-card-header>
      <nb-card-body>
        <div>
          <i><p>Maps already approved will appear here</p></i>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
