<div class="row no-gutters">
  <nb-card class="col-9">
    <nb-card-header>
      <h2>BLOG POSTS</h2>
    </nb-card-header>
    <nb-card-body>
      <div *ngFor="let blogPost of blogPosts">
        <div class="row">
          <h4 class="col-8">{{blogPost.title}}</h4>
          <h5 class="col">{{blogPost.timestamp | date}}</h5>
        </div>

        <p>
          {{blogPost.body}}
          <a [href]="blogPost.post_url">Read More</a>
        </p>
      </div>
      <h3 *ngIf="loadedPosts">Read more official posts <a href="https://blog.momentum-mod.org">here</a>!</h3>
    </nb-card-body>
  </nb-card>
  <div class="col-3 socials">
    <div>
      <iframe src="https://discordapp.com/widget?id=235111289435717633&theme=dark" width="auto" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
    <div>
      <ngx-twitter-timeline [data]="twitterData" [opts]="twitterOpts"></ngx-twitter-timeline>
    </div>
  </div>
</div>
