<div *ngIf="map" class="no-gutters outer flex flex-wrap items-center py-2 sm:pt-0 lg:pb-0" [ngClass]="isUpload ? status : ''">
  <div class="mb-3 w-full pl-4 pr-4 lg:mb-0 lg:w-1/2">
    <div class="flex flex-wrap sm:items-center">
      <div class="mb-3 h-[105px] w-full overflow-hidden pl-4 pr-4 text-center sm:mb-0 sm:w-1/3 sm:text-left lg:w-2/5">
        <a [routerLink]="'/maps/' + map?.id">
          <img [ngSrc]="map.thumbnail?.small" priority width="186" height="105" class="h-[105px]" />
        </a>
      </div>
      <div class="w-1/2 pl-4 pr-4 text-right sm:w-1/3 sm:text-left lg:w-1/4">
        <ul>
          <li>Map Name:</li>
          <li>Submitted:</li>
          <li>Submitted By:</li>
        </ul>
      </div>
      <div class="w-1/2 pl-4 pr-4 sm:w-1/3 lg:w-1/4">
        <ul>
          <li>
            <a [routerLink]="'/maps/' + map?.id">{{ map.name }}</a>
          </li>
          <li>{{ map.createdAt | date }}</li>
          <li>
            <a [routerLink]="'/profile/' + map.submitter?.id">
              <nb-user class="inline-block" [name]="map.submitter?.alias" [picture]="map.submitter?.avatarURL" size="small"></nb-user>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-full pl-4 pr-4 lg:w-1/2">
    <div class="no-gutters flex flex-wrap sm:items-center">
      <div class="relative mb-3 w-full text-center sm:mb-0 sm:flex-1 sm:flex-grow" *ngIf="isUpload">
        <span class="mapStatus">{{ status }}</span>
      </div>
      <div class="relative mb-2 w-full text-center sm:mb-0 sm:flex-1 sm:flex-grow" *ngIf="showDownloadButton">
        <a #mapFileDownloadLink class="allowed"></a>
        <button nbButton outline status="info">DOWNLOAD</button>
      </div>
      <div class="col-auto mx-auto sm:mr-2">
        <div class="button-group flex lg:flex-col">
          <button
            nbButton
            status="primary"
            type="button"
            class="mr-2 lg:mb-2 lg:mr-0"
            (click)="toggleMapInFavorites()"
            size="large"
            [nbPopover]="mapInFavorites ? 'Remove map from favorites' : 'Add map to favorites'"
            nbPopoverTrigger="hint"
          >
            <mom-icon [icon]="mapInFavorites ? 'star' : 'star-outline'"></mom-icon>
          </button>
          <button
            nbButton
            type="button"
            class="whitespace-no-wrap inline-block select-none rounded border bg-gray-900 px-3 py-1 text-center align-middle font-normal leading-normal text-white no-underline hover:bg-gray-900"
            (click)="toggleMapInLibrary()"
            size="large"
            [nbPopover]="libraryPopover"
            nbPopoverTrigger="hint"
          >
            <mom-icon [icon]="mapInLibrary ? 'folder' : 'folder-outline'"></mom-icon>
          </button>
          <ng-template #libraryPopover>
            <nb-card class="library-popover mb-0">
              <nb-card-header>{{ mapInLibrary ? 'Remove map from library' : 'Add map to library' }}</nb-card-header>
              <nb-card-body>Maps in your library are automatically downloaded in-game. </nb-card-body>
            </nb-card>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
