<div *ngIf="map" class="outer flex flex-wrap items-center py-2 sm:pt-0 lg:pb-0" [ngClass]="isUpload ? status : ''">
  <div class="mb-3 w-full pl-4 pr-4 lg:mb-0 lg:w-1/2">
    <div class="flex flex-wrap sm:items-center">
      <div class="mb-3 h-[105px] w-full overflow-hidden pl-4 pr-4 text-center sm:mb-0 sm:w-1/3 sm:text-left lg:w-2/5">
        <a [routerLink]="'/maps/' + map?.id">
          <img [ngSrc]="map.thumbnail?.small" priority width="186" height="105" class="h-[105px]" />
        </a>
      </div>
      <div class="w-1/2 pl-4 pr-4 text-right sm:w-1/3 sm:text-left lg:w-1/4">
        <ul>
          <li>Map Name:</li>
          <li>Submitted:</li>
          <li>Submitted By:</li>
        </ul>
      </div>
      <div class="w-1/2 pl-4 pr-4 sm:w-1/3 lg:w-1/4">
        <ul>
          <li>
            <a [routerLink]="'/maps/' + map?.id">{{ map.name }}</a>
          </li>
          <li>{{ map.createdAt | date }}</li>
          <li>
            <a [routerLink]="'/profile/' + map.submitter?.id" class="flex items-center">
              <m-avatar [url]="map.submitter?.avatarURL" />
              <p>{{ map.submitter?.alias }}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-full pl-4 pr-4 lg:w-1/2">
    <div class="flex flex-wrap sm:items-center">
      <div class="relative mb-3 w-full text-center sm:mb-0 sm:flex-1 sm:flex-grow" *ngIf="isUpload">
        <span class="mapStatus">{{ status }}</span>
      </div>
      <div class="relative mb-2 w-full text-center sm:mb-0 sm:flex-1 sm:flex-grow" *ngIf="showDownloadButton">
        <a #mapFileDownloadLink class="allowed"></a>
        <button class="m-btn m-btn-blue">Download</button>
      </div>
      <div class="col-auto mx-auto sm:mr-2">
        <div class="button-group flex lg:flex-col">
          <button
            type="button"
            class="m-btn m-btn-blue mr-2 lg:mb-2 lg:mr-0"
            (click)="toggleMapInFavorites()"
            mTooltip="mapInFavorites ? 'Remove map from favorites' : 'Add map to favorites'"
          >
            <m-icon [icon]="mapInFavorites ? 'star' : 'star-outline'"></m-icon>
          </button>
          <button type="button" class="m-btn" (click)="toggleMapInLibrary()" mTooltip="libraryTooltip">
            <m-icon [icon]="mapInLibrary ? 'folder' : 'folder-outline'"></m-icon>
          </button>
          <ng-template #libraryTooltip>
            <div class="library-popover mb-0">
              <p class="font-bold">{{ mapInLibrary ? 'Remove map from library' : 'Add map to library' }}</p>
              <p>Maps in your library are automatically downloaded in-game.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
