<div class="container mx-auto mb-3 max-w-full sm:px-4">
  <form
    class="flex flex-wrap items-center justify-between gap-4"
    [formGroup]="searchOptions"
    (ngSubmit)="onPageChange(1)"
    (change)="onPageChange(1)"
  >
    <div class="flex flex-wrap items-center gap-x-8 gap-y-4">
      <input class="m-textinput w-64" type="text" placeholder="Map Name" formControlName="search" />
      <!-- TODO: Enable when map credits get reworked (#415) -->
      <!-- <div class="form-col w-full sm:w-4/5 pr-4 pl-4 md:w-1/2 pr-4 pl-4 lg:w-1/3 pr-4 pl-4 xl:w-1/4 pr-4 pl-4 mt-3 md:mt-0">
        <input nbInput fullWidth class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" type="text" placeholder="Author" formControlName="author">
      </div> -->
      <p-dropdown
        placeholder="Game Mode"
        formControlName="type"
        [options]="types"
        optionLabel="text"
        optionValue="value"
        (onChange)="onPageChange(1)"
      />
      <p-dropdown
        placeholder="Status"
        formControlName="status"
        [options]="statuses"
        optionLabel="text"
        optionValue="value"
        (onChange)="onPageChange(1)"
        *ngIf="isUpload"
      />
      <div class="-mb-2 flex gap-8">
        <nb-toggle class="test" formControlName="inLibrary" labelPosition="left" *ngIf="!isUpload">In Library</nb-toggle>
        <nb-toggle class="test" formControlName="inFavorites" labelPosition="left" *ngIf="!isUpload">Favorites </nb-toggle>
      </div>
    </div>
    <button class="m-btn m-btn-green" type="submit">Search</button>
  </form>
</div>
<div *ngIf="requestSent && maps?.length">
  <nb-list class="overflow-hidden">
    <nb-list-item
      *ngFor="
        let map of maps
          | paginate
            : {
                itemsPerPage: pageLimit,
                currentPage: currentPage,
                totalItems: mapCount
              }
      "
      class="basis-full"
    >
      <m-map-list-item
        [map]="map"
        [inLibrary]="isMapInLibrary(map)"
        (libraryUpdate)="libraryUpdate()"
        [isUpload]="isUpload"
        [inFavorites]="isMapInFavorites(map)"
        (favoriteUpdate)="favoriteUpdate()"
      />
    </nb-list-item>
  </nb-list>
  <div class="text-center">
    <pagination-controls (pageChange)="onPageChange($event)" [autoHide]="true" [responsive]="true"></pagination-controls>
  </div>
</div>
<div class="text-center" *ngIf="requestSent && maps?.length === 0 && !isSearchFiltered()">
  <h3 class="m-0">
    <ng-template *ngIf="isUpload; else elseBlock">
      <i>You have not uploaded any maps. Try <a routerLink="/maps/uploads/new">uploading a new one!</a></i>
    </ng-template>
    <ng-template #elseBlock>
      <h3>No maps found!</h3>
    </ng-template>
  </h3>
</div>
<div class="text-center" *ngIf="requestSent && maps?.length === 0 && isSearchFiltered()">
  <h3 class="m-0">{{ noMapsText }}</h3>
</div>
<div class="text-center" *ngIf="!requestSent">
  <h3 class="m-0">Waiting for API response</h3>
</div>
