<div class="row">
  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <mom-map-credit
      category="Authors"
      [editable]="editable"
      [type]="MapCreditType.AUTHOR"
      [credits]="credits"
      (creditChange)="creditChange.emit($event)"
    />
  </div>
  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <mom-map-credit
      category="Co-Authors"
      [editable]="editable"
      [type]="MapCreditType.COAUTHOR"
      [credits]="credits"
      (creditChange)="creditChange.emit($event)"
    />
  </div>
  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <mom-map-credit
      category="Testers"
      [editable]="editable"
      [type]="MapCreditType.TESTER"
      [credits]="credits"
      (creditChange)="creditChange.emit($event)"
    />
  </div>
  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <mom-map-credit
      category="Special Thanks"
      [editable]="editable"
      [type]="MapCreditType.SPECIAL_THANKS"
      [credits]="credits"
      (creditChange)="creditChange.emit($event)"
    />
  </div>
</div>
