<div class="row">
  <div *ngFor="let type of MapCreditNames | keyvalue" class="col-12 col-md-6 col-lg-3 mb-4">
    <h4>{{ type.value }}</h4>
    <ng-container *ngIf="credits[type.key].length > 0">
      <nb-list cdkDropList (cdkDropListDropped)="drop($event, type.key)">
        <nb-list-item *ngFor="let credit of credits[type.key]" cdkDrag>
          <nb-user class="avatar" [picture]="credit.user.avatarURL" onlyPicture />
          <div class="main">
            <span class="name">{{ credit.user.alias }}</span>
            <span class="description" *ngIf="!editable">{{ credit.description }}</span>
            <input class="description" *ngIf="editable" nbInput [(ngModel)]="credit.description" />
          </div>
          <button nbButton class="delete" status="danger" outline size="tiny" *ngIf="editable" (click)="removeUser(type.key, credit.user)">
            <nb-icon icon="close-thick" />
          </button>
        </nb-list-item>
      </nb-list>
    </ng-container>
    <div class="search-wrapper" *ngIf="searchStates[type.key] !== SearchState.HIDDEN">
      <div class="selected-warning" *ngIf="searchStates[type.key] === SearchState.USER_ALREADY_SELECTED">User already selected!</div>
      <mom-user-search (selectedUserEmit)="addUser(type.key, $event)" />
      <button class="cancel" nbButton status="danger" (click)="hideUserSearch(type.key)">Cancel</button>
    </div>
    <button
      class="new-user"
      *ngIf="editable && searchStates[type.key] === SearchState.HIDDEN"
      nbButton
      status="primary"
      (click)="showUserSearch(type.key)"
    >
      <nb-icon icon="plus-thick" />
    </button>
  </div>
</div>
