<div class="row">
  <map-credit class="col" [editable]="editable" category="Authors"
              [credType]="creditType.AUTHOR"
              [creditArr]="creditArr"
              (creditChange)="creditChange.emit($event)">
  </map-credit>
  <map-credit class="col" [editable]="editable" category="Co-Authors"
              [credType]="creditType.COAUTHOR"
              [creditArr]="creditArr"
              (creditChange)="creditChange.emit($event)">
  </map-credit>
  <map-credit class="col" [editable]="editable" category="Testers"
              [credType]="creditType.TESTER"
              [creditArr]="creditArr"
              (creditChange)="creditChange.emit($event)">
  </map-credit>
  <map-credit class="col" [editable]="editable" category="Special Thanks"
              [credType]="creditType.SPECIAL_THANKS"
              [creditArr]="creditArr"
              (creditChange)="creditChange.emit($event)">
  </map-credit>
</div>
