<div class="row no-gutters">
  <div class="col-auto profile">
    <a routerLink="/dashboard/profile/{{activity.user.id}}">
      <nb-user [name]="activity.user.alias" [picture]="activity.user.avatarURL"></nb-user>
    </a>
  </div>
  <div class="col-auto text">
    <span>{{actionText}} <span [ngStyle]="{'color': eventColor, 'cursor': eventLink ? 'pointer' : 'auto'}"
                               [routerLink]="eventLink ? eventLink : null"><b>{{eventText}}</b></span>!
    </span>
  </div>
  <div class="col-auto text icon" [ngStyle]="{'color': eventColor}">
    <i [class]="activityIcon"></i>
  </div>
  <div class="col-auto text date" [ngClass]="dateAbs ? 'date-abs' : ''">
    <span>{{activity.createdAt | timeAgo}}</span>
  </div>
</div>
