.spacing {
  margin-right: auto;
  margin-left: auto;
  text-align: Center;
  padding-left: 0.8%;
}

.players {
  border-left: 3px solid coral;
}

.active-players {
  border-left: 3px solid palegreen;
}

.top-map {
  border-left: 3px solid deepskyblue;
}

.total-jumps {
  border-left: 3px solid yellow;
}

.total-strafes {
  border-left: 3px solid orangered;
}

.runs {
  border-left: 3px solid mediumpurple;
}
