<nb-card>
  <nb-card-header><h2>STATISTICS</h2></nb-card-header>
  <nb-card-body>
    <div class="d-flex flex-wrap justify-content-around text-center">

      <div class="mx-1 my-2 pt-2 pl-3 cos-xp">
        <h4>{{userStats?.cosXP || 0}}</h4>
        <h6>Cos XP</h6>
      </div>

      <div class="mx-1 my-2 pt-2 pl-3 maps-completed">
        <h4>{{userStats?.mapsCompleted || 0}}</h4>
        <h6>Maps Completed</h6>
      </div>

      <div class="mx-1 my-2 pt-2 pl-3 total-jumps">
        <h4>{{userStats?.totalJumps || 0}}</h4>
        <h6>Total Jumps</h6>
      </div>

      <div class="mx-1 my-2 pt-2 pl-3 total-strafes">
        <h4>{{userStats?.totalStrafes || 0}}</h4>
        <h6>Total Strafes</h6>
      </div>

      <div class="mx-1 my-2 pt-2 pl-3 runs">
        <h4>{{userStats?.runsSubmitted || 0}}</h4>
        <h6>Runs Submitted</h6>
      </div>

    </div>
  </nb-card-body>
</nb-card>
