<div>
<h1>Global Statistics</h1>
  <nb-card class="spacing">
      <nb-card-body class="row col-auto">
        <div class ="spacing players">
          <h4>1,245</h4>
          <h6>Total Players</h6>
        </div>

        <div class ="spacing active-players">
          <h4>52</h4>
          <h6>Active Players</h6>
        </div>

        <div class ="spacing top-map">
          <h4>Lego Land</h4>
          <h6>Top Played Map</h6>
        </div>

        <div class ="spacing total-jumps">
          <h4>321</h4>
          <h6>Total Jumps</h6>
        </div>

        <div class ="spacing total-strafes">
          <h4>47</h4>
          <h6>Total Strafes</h6>
        </div>

        <div class ="spacing runs">
          <h4>991</h4>
          <h6>Runs Submitted</h6>
        </div>
      </nb-card-body>
  </nb-card>
</div>
