<nb-accordion>
  <nb-accordion-item [expanded]="true">
    <nb-accordion-item-header>
      <h2>SUBMITTED MAPS STATUS</h2>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="content row col-auto">
        <div class ="spacing approved">
          <h4>{{submittedMapStatusSummary[MapUploadStatus.APPROVED] || 0}} <br>Approved</h4>
        </div>
        <div class ="spacing pending">
          <h4>{{submittedMapStatusSummary[MapUploadStatus.PENDING] || 0}} <br>Pending</h4>
        </div>
        <div class ="spacing rejected">
          <h4>{{submittedMapStatusSummary[MapUploadStatus.REJECTED] || 0}} <br> Rejected</h4>
        </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
