<h1>MY MAPS</h1>

<div class="col-6">
<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header><h4>Status</h4></nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="row col-auto">
      <div class ="Spacing approved">
        <h4>13</h4>
        <h3>Approved</h3>
      </div>

      <div class ="Spacing pending">
        <h4>2</h4>
        <h3>Pending</h3>
      </div>

      <div class ="Spacing rejected">
        <h4>1</h4>
        <h3>Rejected</h3>
      </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
</div>
<br>
