<h1>MY MAPS</h1>

<div>
<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header><h3>Status</h3></nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="row col-auto">
      <div class ="Spacing approved">
        <h4>13 <br>Approved</h4>
      </div>

      <div class ="Spacing pending">
        <h4>2 <br>Pending</h4>
      </div>

      <div class ="Spacing rejected">
        <h4>1 <br> Rejected</h4>
      </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
</div>
<br>
