.spacing {
  margin-left: auto;
  margin-right: auto;
  text-align: Center;
}

.approved {
  border-bottom: 3px solid green;
}

.pending {
  border-bottom: 3px solid darkorange;
}

.rejected {
  border-bottom: 3px solid red;
}

.width {
  width: 50%;
}

.content {
  padding-bottom: 5%;
}

