<div class="modal-header">
  <span>Edit User</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
	<span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Steam ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="form.id" name="id" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Alias</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="form.alias" name="alias">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Avatar URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="form.avatarUrl" name="avatarUrl">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12">Permissions/Roles</label>
      <div class="col-sm-3">
        <nb-checkbox [(ngModel)]="form.perms.mapper.checked" name="mapper">Mapper</nb-checkbox>
        <nb-checkbox [(ngModel)]="form.perms.moderator.checked" name="moderator">Moderator</nb-checkbox>
        <nb-checkbox [(ngModel)]="form.perms.admin.checked" name="admin">Admin</nb-checkbox>
      </div>
      <div class="col-sm-4">
        <nb-checkbox [(ngModel)]="form.perms.leaderboardBanned.checked" name="leaderboardBanned">Leaderboard Banned</nb-checkbox>
        <nb-checkbox [(ngModel)]="form.perms.aliasBanned.checked" name="aliasBanned">Alias Banned</nb-checkbox>
        <nb-checkbox [(ngModel)]="form.perms.avatarBanned.checked" name="avatarBanned">Avatar Banned</nb-checkbox>
      </div>
      <div class="col-sm-4">
        <nb-checkbox>Team Developer</nb-checkbox>
        <nb-checkbox>Team Mapper</nb-checkbox>
        <nb-checkbox>Team Artist</nb-checkbox>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="onSubmit()">Save changes</button>
</div>
