<nb-card *ngIf="run">
  <nb-card-header>
    <div class="row">
      <div class="col row no-gutters">
        <div class="col-auto user">
          <nb-user [routerLink]="'/dashboard/profile/' + run.user.id" [picture]="run.user.profile.avatarURL"
                   [name]="run.user.profile.alias" size="large"></nb-user>
        </div>
        <div class="col d-block m-auto">
          <h2>on <a [routerLink]="'/dashboard/maps/' + run.mapID">{{run.map.name}}</a></h2>
        </div>
      </div>
      <div class="col text-right">
        <div *ngIf="personalBestRun.id !== run.id" class="row">
          <h4 class="col notice">Note: Not viewing their current PB!</h4>
          <div class="col-auto">
            <button class="btn btn-outline-info" type="button" routerLink="/dashboard/runs/{{personalBestRun.id}}">Go to PB run</button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="base">
        <h5>Time</h5>
        <h1>{{run.time | timing}}</h1>
      </div>

      <div class="base">
        <h5>Jumps</h5>
        <h1>{{run.stats.zoneStats[0].baseStats.jumps}}</h1>
      </div>

      <div class="base">
        <h5>Strafes</h5>
        <h1>{{run.stats.zoneStats[0].baseStats.strafes}}</h1>
      </div>

      <div class="base">
        <h5>Rank</h5>
        <h1>TODO</h1>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <h3>Comments</h3>
  </nb-card-header>
  <nb-card-body *ngIf="run">
    <disqus [url]="'https://momentum-mod.org/dashboard/runs'" [identifier]="'runs/' + run.id"></disqus>
  </nb-card-body>
</nb-card>
