<nb-card>
  <nb-card-header>
    <h2>Salty Pepper > Lego Land</h2>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="base">
        <h5>Jumps</h5>
        <h1>143</h1>
      </div>

      <div class="base">
        <h5>Strafes</h5>
        <h1>448</h1>
      </div>

      <div class="base">
        <h5>XP</h5>
        <h1>98</h1>
      </div>

      <div class="base">
        <h5>Time</h5>
        <h1>11:43</h1>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <h3>Comments</h3>
  </nb-card-header>
  <nb-card-body>
    <div>
      <input class="form-control" type="text" placeholder="Add a comment!"><br>
    </div>
    <hr>
  </nb-card-body>
</nb-card>
