.base {
  margin-left: auto;
  margin-right: auto;
  text-align: Center;
  border-bottom: 0.5rem solid dodgerblue;
}

h5 {
  color: gray;
}

hr {
  background-color: #555;
}

.notice {
  display: block;
  margin: auto;
  color: orange;
}

.user {
  padding-right: 1%;
}

nb-user {
  font-size: 2rem;
  cursor: pointer;
}
