<nb-list nbInfiniteList [threshold]="0" (bottomThreshold)="loadMore()" listenWindowScroll>
  <nb-list-item class="" *ngIf="activities.length === 0 && hasRequested">
    <h4 class="m-0 basis-full text-center text-gray-400"><i>No activities found</i></h4>
  </nb-list-item>
  <nb-list-item *ngIf="!hasRequested">
    <h4 class="m-0 basis-full text-center text-gray-400">Waiting for API response</h4>
  </nb-list-item>
  <nb-list-item *ngFor="let act of activities" class="first:border-t-0 last:border-b-0">
    <mom-activity-content class="basis-full" [activity]="act" />
  </nb-list-item>
</nb-list>
