.track-selector {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 1rem;
  width: 100%;

  & .main {
    flex: 0 0 auto;
  }

  & .stages,
  & .bonuses {
  }

  & .main,
  & .stages,
  & .bonuses {
    flex: 0 0 auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    /*overflow: hidden;*/
    box-shadow: 1px 2px 8px rgb(0 0 0 / 0.1);
    border-radius: 0.25rem;
    @apply transition-all;
    background: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(208, 208, 208, 0.25)
    );

    & .left,
    & .right {
      @apply font-display;
      @apply transition-all;
      font-size: 1.875rem;
      color: rgba(255, 255, 255, 0.9);
      padding: 0 0.75rem;
      border-color: rgba(255, 255, 255, 0.05);
      border-width: 1px;
    }
  }

  & .stages {
    & .right {
      display: flex;
      flex-wrap: wrap;

      & p {
        @apply font-display;
        @apply transition-all;
        font-size: 1.875rem;
        color: rgba(255, 255, 255, 0.9);
        padding: 0 0.75rem;
        border-color: rgba(255, 255, 255, 0.05);
        border-width: 1px;
      }
    }
  }

  & .main,
  & .bonuses {
    &.selected,
    & .selected {
      background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(208, 208, 208, 0.5)
      );
    }

    & .left {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      border-right-width: 0 !important;
    }

    & .right {
      font-weight: 700;

      border-left-width: 0 !important;

      &:last-of-type {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }
  }
}

.leaderboard-entry {
  margin-top: 0.375rem;
  display: flex;
  border-radius: 0.25rem;
  align-items: center;
  padding: 0.5rem 1rem;

  border: 1px solid rgba(255, 255, 255, 0.05);

  @apply shadow transition-colors;

  background-color: rgba(255, 255, 255, 0.1);

  &:nth-child(odd) {
    background-color: rgba(208, 208, 208, 0.1);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}
