<nb-card *ngIf="run">
  <nb-card-header>
    <div class="flex flex-wrap items-center">
      <div class="flex-1">
        <div class="flex flex-wrap items-center">
          <a [routerLink]="'/profile/' + run.user.id">
            <nb-user [picture]="run.user.avatarURL" [name]="run.user.alias" size="large" />
          </a>
          <h2 class="ml-2">on</h2>
          <h2 class="ml-2">
            <a [routerLink]="'/maps/' + run.mapID">{{ run.map.name }}</a>
          </h2>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="flex flex-wrap justify-around text-center">
      <div class="base mx-1 mb-3">
        <h5>Time</h5>
        <h1>{{ run.time | timing }}</h1>
      </div>

      <ng-container *ngIf="run.leaderboardRun">
        <div class="mx-1 mb-3 border-b-2 border-blue-500">
          <h5>Jumps</h5>
          <h1>{{ run.leaderboardRun?.stats?.overall?.jumps }}</h1>
        </div>

        <div class="mx-1 mb-3 border-b-2 border-blue-500">
          <h5>Strafes</h5>
          <h1>{{ run.leaderboardRun?.stats?.overall?.strafes }}</h1>
        </div>

        <div class="mx-1 mb-3 border-b-2 border-blue-500">
          <h5>Rank</h5>
          <h1>{{ run?.leaderboardRun?.rank || 'N/A' }}</h1>
        </div>
      </ng-container>
    </div>
  </nb-card-body>
</nb-card>
