<m-card *ngIf="run">
  <div header class="mb-2 flex flex-wrap items-center gap-2">
    <a class="text-xl" [routerLink]="'/profile/' + run.user.id">
      <nb-user [picture]="run.user.avatarURL" [name]="run.user.alias" size="large" />
    </a>
    <p class="text-xl">on</p>
    <p class="text-xl">
      <a [routerLink]="'/maps/' + run.mapID">{{ run.map.name }}</a>
    </p>
  </div>
  <div>
    <div class="flex flex-wrap justify-around text-center">
      <div class="base mx-1 mb-3">
        <h5>Time</h5>
        <h1>{{ run.time | timing }}</h1>
      </div>
      <ng-container *ngIf="run.leaderboardRun">
        <div class="mx-1 mb-3 border-b-2 border-blue-500">
          <h5>Jumps</h5>
          <h1>{{ run.leaderboardRun?.stats?.overall?.jumps }}</h1>
        </div>

        <div class="mx-1 mb-3 border-b-2 border-blue-500">
          <h5>Strafes</h5>
          <h1>{{ run.leaderboardRun?.stats?.overall?.strafes }}</h1>
        </div>

        <div class="mx-1 mb-3 border-b-2 border-blue-500">
          <h5>Rank</h5>
          <h1>{{ run?.leaderboardRun?.rank || 'N/A' }}</h1>
        </div>
      </ng-container>
    </div>
  </div>
</m-card>
