<div>
  <nb-card>
    <nb-card-header><h2>BASE STATISTICS</h2></nb-card-header>
    <nb-card-body class="row col-auto">
      <div class="base">
        <h5>Total Maps</h5>
        <h1>{{globalMapStats?.totalMaps}}</h1>
      </div>

      <div class="base">
        <h5>Runs submitted</h5>
        <h1>{{globalBaseStats?.runsSubmitted || 0}}</h1>
      </div>

      <div class="base">
        <h5>Total Jumps</h5>
        <h1>{{globalBaseStats?.totalJumps || 0}}</h1>
      </div>

      <div class="base">
        <h5>Total Strafes</h5>
        <h1>{{globalBaseStats?.totalStrafes || 0}}</h1>
      </div>

    </nb-card-body>
  </nb-card>
</div>
