<section id="footer" class="footer-section">
  <div class="container text-center">
    <div class="row mt-3">
      <div class="col">
        <div class="display-4 font-weight-normal mb-3">Links</div>
        <div class="d-flex flex-wrap justify-content-evenly">
          <div class="mt-4 mx-1 link">
            <a href="https://github.com/momentum-mod/" target="_blank">
              <i class="fab fa-github"></i>
              <div>GitHub</div>
            </a>
          </div>
          <div class="mt-4 mx-1 link">
            <a href="https://discord.gg/n4v52uv" target="_blank">
              <i class="fab fa-discord"></i>
              <div>Discord</div>
            </a>
          </div>
          <div class="mt-4 mx-1 link">
            <a href="https://twitter.com/momentummod" target="_blank">
              <i class="fab fa-twitter"></i>
              <div>Twitter</div>
            </a>
          </div>
          <div class="mt-4 mx-1 link">
            <a href="https://blog.momentum-mod.org/" target="_blank">
              <nb-icon icon="book-open-outline"></nb-icon>
              <div>Dev Blog</div>
            </a>
          </div>
          <div class="mt-4 mx-1 link">
            <a href="https://docs.momentum-mod.org/" target="_blank">
              <nb-icon icon="file-text-outline"></nb-icon>
              <div>Docs</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="bg-black text-center text-white-50">
  <div class="container">
    Copyright &copy; Momentum Mod {{ getYear() }}
  </div>
</footer>
