<!-- Some styling in CSS due to complex borders + radial gradients -->
<a [routerLink]="'/maps/' + map?.name" class="group flex h-full flex-col shadow">
  <div class="stack aspect-video">
    <img
      [src]="map.thumbnail?.small"
      class="h-full w-full rounded-t border-b border-black border-opacity-5 transition-all group-hover:brightness-110"
    />
    @if (localUserService.user | async) {
      <button
        type="button"
        class="m-2 mb-auto ml-auto text-white opacity-80 transition-opacity [filter:drop-shadow(0_1px_1px_rgb(0_0_0_/_0.5))_drop-shadow(0_2px_8px_rgb(0_0_0_/_0.7))]"
        [ngClass]="{ '!opacity-90': inFavorites }"
        (click)="toggleMapInFavorites($event)"
        [mTooltip]="inFavorites ? 'Remove map from favorite' : 'Add map to favorites'"
      >
        <m-icon class="h-8 w-8" [icon]="inFavorites ? 'star' : 'star-outline'" />
      </button>
    }
    @if (isReleasedMap(map) && !isAdminPage) {
      @if (map.currentModeLeaderboards; as lb) {
        <div class="m-2 mb-auto mr-auto flex flex-wrap gap-2">
          <!-- prettier-ignore -->
          <div
          class="flex h-10 min-w-[2.5rem] rounded border border-white border-opacity-10 px-2 backdrop-blur-md shadow"
          [ngStyle]="{
            background:
              'linear-gradient(' +
                'color-mix(in srgb, rgb(var(--tier-' + lb.tier + ') / 0.7), 5% white),' +
                                   'rgb(var(--tier-' + lb.tier + ') / 0.75))'
          }"
          [mTooltip]="'Tier ' + lb.tier"
        >
          <p 
          class="text-shadow-strong m-auto font-display font-bold text-28 leading-none">T{{ lb.tier }}</p>
        </div>
          @if (lb.bonuses?.length > 0) {
            <p
              class="text-shadow-strong flex h-10 items-center rounded border border-white border-opacity-10 bg-gray-400 bg-opacity-50 px-2 pb-0.5 font-display text-20 backdrop-blur-md"
            >
              {{ lb.bonuses?.length | plural: 'bonus' : 'bonuses' }}
            </p>
          }
          @if (lb.type === LeaderboardType.UNRANKED) {
            <p
              class="text-shadow-strong flex h-10 items-center rounded border border-white border-opacity-10 bg-gray-400 bg-opacity-50 px-2 pb-0.5 font-display text-20 backdrop-blur-md"
              mTooltip="The leaderboard for this gamemode does not provide ranked points."
            >
              Unranked
            </p>
          }
        </div>
        <div class="m-2 mr-auto mt-auto flex flex-wrap gap-2">
          @for (tag of lb.tags; track $index) {
            <p
              class="text-shadow flex h-8 items-center rounded border border-white border-opacity-10 bg-blue-500 bg-opacity-75 px-2 pb-0.5 font-display text-20 backdrop-blur-md"
            >
              {{ mapTagEnglishName(tag) }}
            </p>
          }
        </div>
      } @else {
        <div
          class="m-2 mb-auto mr-auto flex h-10 flex-wrap gap-2 rounded border border-white border-opacity-10 bg-gray-500 bg-opacity-50 p-1 shadow backdrop-blur-md"
        >
          @for (leaderboard of map.groupedLeaderboards; track $index) {
            @if (!leaderboard.allHidden) {
              <img
                class="h-8 drop-shadow-sm"
                [ngClass]="{ 'ml-auto': $first }"
                [mTooltip]="GamemodeInfo.get(leaderboard.gamemode).name"
                [src]="'assets/images/gamemodes/' + GamemodeInfo.get(leaderboard.gamemode).icon + '.png'"
              />
            }
          }
        </div>
      }
    }
  </div>
  <div
    class="border-t-none flex grow flex-col rounded-b border border-white border-opacity-5 bg-white bg-opacity-5 p-4 pt-3.5 backdrop-blur-xl transition-colors group-hover:bg-opacity-10"
  >
    <div class="mb-2 flex min-h-[2rem] flex-wrap items-center gap-y-2">
      <p class="contents min-h-[2rem]" [fontSizeLerp]="{ chars: name.length + prefix?.length, startAt: 26, baseRem: 2 }">
        @if (prefix) {
          <span class="mr-1 font-display font-bold leading-none text-gray-250">{{ prefix }}</span>
        }
        <span class="font-display font-bold leading-none text-gray-50">{{ name }}</span>
      </p>
    </div>
    <div class="flex grow flex-col !text-14">
      <p class="inline-block text-gray-300" (click)="$event.stopPropagation(); $event.preventDefault()">
        By
        @if (authors[0]?.id) {
          <a class="link text-gray-50" [routerLink]="'/profile/' + authors[0]?.id">{{ authors[0].alias }}</a>
        } @else {
          <span class="text-gray-200">{{ authors[0].alias }}</span>
        }
        <!-- prettier-ignore -->
        @if (authors.length > 1) {,
            @if (authors[1]?.id) {
              <a class="link text-gray-50" [routerLink]="'/profile/' + authors[0]?.id">{{ authors[1].alias }}</a>
            } @else {
              <span class="text-gray-200">{{ authors[1].alias }}</span>
            }
          }
        <!-- prettier-ignore -->
        @if (authors.length > 2) {, + {{ authors.length - 1 | plural: 'author' }}}
      </p>
      @if (isSubmission) {
        @if (!isSubmitterAnAuthor(map)) {
          <p class="inline-block text-gray-300" (click)="$event.stopPropagation(); $event.preventDefault()">
            Submitted by
            <a class="link text-gray-50" [routerLink]="'/profile/' + map.submitterID">{{ map.submitter.alias }}</a>
          </p>
        }
      }
      @if (isAdminPage || isSubmission) {
        <p>
          @if (map.status !== MapStatus.DISABLED) {
            <span class="text-gray-300">Current Status: </span>
            <span class="font-medium text-purple-200">{{ MapStatusName.get(map.status) }}</span>
          } @else {
            <span class="text-gray-300">Current Status: </span>
            <span class="font-medium text-red-200">{{ MapStatusName.get(map.status) }}</span>
            @if (!map.currentVersion?.bspHash) {
              <span class="ml-2 font-bold text-red-500">Files deleted!</span>
            }
          }
        </p>
      }
      <!-- TODO: This should be the new date thingy for approved maps -->
      <p class="mt-auto text-right text-gray-100">Added {{ map.createdAt | timeAgo }}</p>
    </div>
  </div>
</a>
