<!-- Some styling in CSS due to complex borders + radial gradients -->
<a [routerLink]="'/maps/' + map?.name">
  <img [src]="map.thumbnail?.small" />
  <div class="flex flex-col">
    <p class="mb-4 text-center font-display text-5xl font-bold text-gray-50">{{ map.name }}</p>
    <p-carousel
      [ngClass]="{ 'mx-4': modes.length === 1 }"
      [value]="modes"
      [numVisible]="1"
      [numScroll]="1"
      [showNavigators]="modes.length > 1"
      [showIndicators]="modes.length > 1"
      [circular]="true"
      (click)="$event.stopPropagation()"
    >
      <ng-template let-mode pTemplate="item">
        <div class="flex h-full items-center justify-center">
          @if (!filterGamemode) {
            <div class="flex w-1/3 flex-col items-center">
              <p class="text-center font-display text-4xl !leading-none" [ngClass]="{ '!text-2xl': mode.gamemodeName.length > 8 }">
                {{ mode.gamemodeName }}
              </p>
              <!-- TODO: This would fit better as an icon-->
              <!--            @if (!mode.ranked) {-->
              <!--            <p class="text-center italic leading-none text-gray-200">Unranked</p>-->
              <!--            }-->
            </div>
          }

          <div class="flex w-1/3 flex-col">
            <p class="text-center text-sm italic leading-none text-gray-200">Tier</p>
            <p class="text-center font-display text-4xl font-bold leading-none">{{ mode.tier }}</p>
          </div>

          @if (mode.bonuses > 0) {
            <div class="flex w-1/3 flex-col">
              <p class="text-center text-sm italic leading-none text-gray-200">Bonuses</p>
              <p class="text-center font-display text-4xl font-bold leading-none">{{ mode.bonuses }}</p>
            </div>
          }
        </div>
      </ng-template>
    </p-carousel>
  </div>
</a>
