$timing-func: cubic-bezier(0, 0, 0.2, 1);

nb-list {
  border-top: 1px solid black;
}

nb-list-item:first-child {
  border-top: none;
}

nb-list-item > * {
  flex-basis: 100%;
}

.cdk-drag {
  cursor: move;
  transition: box-shadow 0.2s $timing-func;
}

.cdk-drag-preview {
  background: #222;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 0.25s $timing-func;
}

.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 0.25s $timing-func;
}
