:host {
  /* styling */
  background-color: #18181b;
  border: 1px solid rgb(255 255 255 / 0.05);
  border-radius: 4px;
  box-shadow:
    0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
  margin: 0.5rem 0;
  padding: 0.75rem;
  inset: auto;

  /* positioning */
  position-try-fallbacks:
    flip-block,
    flip-inline,
    flip-block flip-inline;
  position-try-order: most-width;
  position-visibility: anchors-visible; /* for some reason doesn't work on firefox */
  position-area: bottom span-right;
  position: absolute;

  /* animations */
  animation: fadeIn 0.1s ease-in;
}

/*TODO: animation, popover caret*/
