:host ::ng-deep a {
  color: #fff;

    &:focus, &:hover {
    text-decoration: none;
    color: #2e66a5;
  }
}

:host ::ng-deep .bg-black {
  background-color: #161616 !important;
}

:host ::ng-deep .display-4,
:host ::ng-deep .display-5 {
  font-family: Exo, sans-serif;
}

:host ::ng-deep .display-5 {
  font-size: 2.5rem;
  line-height: 1.2;
}

nb-layout-column {
  padding: 0;
}
