<div
  [ngStyle]="{ 'background-color': levelColor }"
  [ngClass]="[textColor, prestige ? 'pl-1' : 'pl-2']"
  class="flex items-center gap-1 rounded pr-2 font-display shadow"
  [mTooltip]="'Prestige ' + prestige + ' - Level ' + level"
>
  <!-- Display prestige icon if available -->
  <img *ngIf="prestige" [ngClass]="imageClass" class="h-5 w-5 drop-shadow-sm" [src]="prestigeIcon" alt="Prestige Icon" />

  <!-- Display the level -->
  <b class="pointer-events-none text-xl drop-shadow-sm">{{ level }}</b>
</div>
