<p class="card-title text-8xl">Map Submission</p>

@if (isMapperOrPorter || !hasMapInSubmission || true) {
  <m-alert class="alert--fancy my-8 bg-blue-700 bg-opacity-20">
    <p class="max-w-[70rem] pr-6">
      If this is your first time submitting a map, please check our
      <a href="https://docs.momentum-mod.org/guide/map_submission/map_submission/">docs page</a>, plus you can hover over
      <m-icon class="h-4 w-4 translate-y-1" icon="tooltip-question" mTooltip="Hello :)" /> icons for guidance. Reviewing maps is a community
      effort; please respect everyones's time by reading the guide first, plus we're happy to answer any questions in our
      <a href="https://discord.gg/momentummod">Discord</a>!
    </p>
  </m-alert>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" preventEnterSubmit>
    <div class="mt-4 flex flex-col">
      <!--  Evil fake fieldset using negative margins. Backdrop-filter extends
            to the header section of a real fieldset, looks like shite    -->
      <div class="z-10 -mb-12 ml-4 mt-4 flex items-center gap-4">
        <div class="stack rounded border border-white border-opacity-20 bg-gray-800 bg-opacity-25 p-2 shadow backdrop-blur">
          <m-icon
            class="scale-0 text-3xl text-green-500 transition-transform"
            [icon]="'check-outline'"
            [ngClass]="{ 'scale-100': FormUtils.groupIsComplete(files) }"
            mTooltip="Section is complete!"
          />
          <m-icon
            class="scale-0 text-3xl text-red-500 transition-transform"
            [icon]="'alert-outline'"
            [ngClass]="{ 'scale-100': FormUtils.groupIsActuallyInvalid(files) }"
            mTooltip="Section contains invalid items!"
          ></m-icon>
          <m-icon
            class="scale-0 text-3xl text-blue-400 transition-transform"
            [icon]="'pencil-outline'"
            [ngClass]="{ 'scale-100': FormUtils.groupIsIncomplete(files) }"
            mTooltip="Section is incomplete!"
          />
        </div>
        <p class="card-title ml-2 text-5xl">Files</p>
      </div>
      <div class="card card--fancy mt-6 grid gap-4 p-4 pt-6 md:grid-cols-1 lg:grid-cols-3" [formGroup]="files">
        <div class="flex flex-col">
          <p class="mt-2 text-center text-xl font-medium">
            BSP File
            <m-icon icon="asterisk" class="mb-1 p-0.5 align-middle" mTooltip="Required" />
          </p>
          <p class="mb-6 mt-3 block w-auto flex-grow text-balance px-3 text-center text-sm">
            This is the main map file for your map. It should have all custom assets packed into it, and must be
            <a class="link" href="https://docs.momentum-mod.org/guide/map_submission/map_porting/#step-4-compress-the-map">compressed</a>.
          </p>
          <div>
            @if (bsp.errors?.['required'] && bsp.dirty) {
              <p class="mb-1 text-right text-lg text-red-400"><b>Error: </b>A BSP file is required.</p>
            }
            @if (bsp.errors?.['fileName']) {
              <p class="mb-1 text-right text-lg text-red-400">
                <b>Error: </b>File name must be alphanumeric + hyphens + underscores, and end in <b>.bsp</b>.
              </p>
            }
            @if (bsp.errors?.['fileMaxSize']) {
              <p class="mb-1 text-right text-lg text-red-400">
                <b>Error: </b>Maximum allowed file size is {{ MAX_BSP_SIZE / (1024 * 1024) }} MB.
              </p>
            }
            @if (bsp.errors?.['bspFileNotCompressed']) {
              <p class="mb-1 text-right text-lg text-red-400">
                <b>Error: </b>BSP file is not compressed.
                <a href="https://docs.momentum-mod.org/guide/map_submission/map_porting/#step-4-compress-the-map">Docs</a>
              </p>
            }
            @if (bsp.errors?.['bspFileReadError']) {
              <p class="mb-1 text-right text-lg text-red-400"><b>Error: </b>Could not parse file, are you sure it's a valid BSP?</p>
            }
            @if (bsp.errors?.['fileReadError']) {
              <p class="mb-1 text-right text-lg text-red-400"><b>Error: </b>Could not read file.</p>
            }
          </div>
          <m-file-upload [formControl]="bsp" typeName="BSP" acceptExtensions=".bsp" icon="land-plots" />
        </div>
        <div class="flex flex-col">
          <h5 class="mt-1 text-center text-xl font-medium">
            Zones File
            <m-icon icon="asterisk" class="mb-1 p-0.5 align-middle" mTooltip="Required" />
          </h5>
          <p class="mb-6 mt-3 block w-auto flex-grow text-balance px-3 text-center text-sm">The zones for your map</p>
          <div>
            @if (zon.errors?.['required'] && zon.dirty) {
              <p class="mb-1 text-right text-lg text-red-400"><b>Error: </b>A zone file is required.</p>
            }
            @if (zon.errors?.['zoneFileValidationError']) {
              <p class="mb-1 text-right text-lg text-red-400"><b>Error: </b> {{ zon.errors?.['zoneFileValidationError'][0].message }}.</p>
            }
            @if (zon.errors?.['zonFileNotJsonError']) {
              <p class="mb-1 text-right text-lg text-red-400"><b>Error: </b>Could not parse file, it's not valid JSON!</p>
            }
            @if (zon.errors?.['fileReadError']) {
              <p class="mb-1 text-right text-lg text-red-400"><b>Error: </b>Could not read file.</p>
            }
          </div>
          <m-file-upload [formControl]="zon" typeName=".json" icon="vector-polygon" acceptExtensions=".json" />
        </div>
        <div class="flex flex-col">
          <p class="mt-1 text-center text-xl font-medium">VMF File(s)</p>
          <p class="mb-6 mt-3 block w-auto flex-grow text-balance px-3 text-center text-sm">
            The VMF source files your map. Not required, but helps us archive file maps, and may be helpful for other mappers!
          </p>
          <div>
            @if (vmfs.errors?.['fileExtension']) {
              <p class="mb-1 text-right text-lg text-red-400"><b>Error: </b>File extension must end in <b>.vmf</b>.</p>
            }
            @if (vmfs.errors?.['fileMaxSize']) {
              <p class="mb-1 text-right text-lg text-red-400">
                <b>Error: </b>Maximum allowed file size is {{ MAX_VMF_SIZE / (1024 * 1024) }} MB.
              </p>
            }
            @if (vmfs.errors?.['vdfFileValidationError']) {
              <p class="mb-1 text-right text-lg text-red-400"><b>Error: </b>Could not parse file, it's not a valid VDF/KeyValues file!</p>
            }
            @if (vmfs.errors?.['fileReadError']) {
              <p class="mb-1 text-right text-lg text-red-400"><b>Error: </b>Could not read file.</p>
            }
          </div>
          <m-multi-file-upload [formControl]="vmfs" typeName="VMF" acceptExtensions=".vmf" icon="hammer" [max]="20" />
        </div>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="z-50 -mb-12 ml-4 mt-12 flex items-center gap-4">
        <!--        TODO: VALIDATION NOT RIGHT D:<-->
        <div class="stack rounded border border-white border-opacity-20 bg-gray-800 bg-opacity-25 p-2 shadow backdrop-blur">
          <m-icon
            class="scale-0 text-3xl text-green-500 transition-transform"
            [icon]="'check-outline'"
            [ngClass]="{ 'scale-100': FormUtils.groupIsComplete(details) }"
            mTooltip="Section is complete!"
          />
          <m-icon
            class="scale-0 text-3xl text-red-500 transition-transform"
            [icon]="'alert-outline'"
            [ngClass]="{ 'scale-100': FormUtils.groupIsActuallyInvalid(details) }"
            mTooltip="Section contains invalid items!"
          />
          <m-icon
            class="scale-0 text-3xl text-blue-400 transition-transform"
            [icon]="'pencil-outline'"
            [ngClass]="{ 'scale-100': FormUtils.groupIsIncomplete(details) }"
            mTooltip="Section is incomplete!"
          />
        </div>
        <p class="card-title ml-2 text-5xl">Details</p>
      </div>
      <div class="card card--fancy mt-6 p-4 pt-10">
        <m-map-details-form [formGroup]="details" [isModOrAdmin]="isModOrAdmin" />
      </div>
    </div>

    <div class="flex flex-col">
      <div class="z-10 -mb-12 ml-4 mt-12 flex items-center gap-4">
        <div class="stack rounded border border-white border-opacity-20 bg-gray-800 bg-opacity-25 p-2 shadow backdrop-blur">
          <m-icon
            class="scale-0 text-3xl text-green-500 transition-transform"
            [icon]="'check-outline'"
            [ngClass]="{ 'scale-100': images.valid && images.dirty }"
            mTooltip="Section is complete!"
          />
          <m-icon
            class="scale-0 text-3xl text-red-500 transition-transform"
            [icon]="'alert-outline'"
            [ngClass]="{ 'scale-100': images.invalid && images.dirty }"
            mTooltip="Section contains invalid items!"
          />
          <m-icon
            class="scale-0 text-3xl text-blue-400 transition-transform"
            [icon]="'pencil-outline'"
            [ngClass]="{ 'scale-100': images.pristine }"
            mTooltip="Section is incomplete!"
          />
        </div>
        <span class="card-title ml-2 text-5xl">Images</span>
      </div>

      <div class="card card--fancy mt-6 p-4 pt-10">
        <p class="mb-2">
          A thumbnail, and up to four additional images. Images <i>must </i> be 2560x1440px PNGs; you can use the
          <i>mom_official_screenshot</i> command ingame to take one, even if you don't have a 1440p monitor.
        </p>
        <p class="mb-6">
          Drag selected images around to change their order, and make sure the image in the thumbnail slot is your favorite, as it will be
          used very frequently in the UI.
        </p>
        <m-map-image-selection [formControlPassthrough]="images" icon="image-multiple-outline" [previewFullscreenBackground]="true" />
        <div>
          @if (images.errors?.['required'] && images.dirty) {
            <p class="mt-2 text-right text-lg text-red-400"><b>Error: </b>Must include at least a thumbnail image.</p>
          }
          @if (images.errors?.['fileExtension']) {
            <p class="mt-2 text-right text-lg text-red-400"><b>Error: </b>All images must be PNG.</p>
          }
          @if (images.errors?.['fileMaxSize']) {
            <p class="mt-2 text-right text-lg text-red-400">
              <b>Error: </b>Maximum allowed image file size is {{ MAX_MAP_IMAGE_SIZE / (1024 * 1024) }} MiB.
            </p>
          }
          @if (images.errors?.['imageFileDimensionsError']) {
            <p class="mt-2 text-right text-lg text-red-400">
              <b>Error: </b>All images must be 2560x1440 - use the mom_official_screenshot command!
            </p>
          }
          @if (images.errors?.['imageFileReadError']) {
            <p class="mt-2 text-right text-lg text-red-400"><b>Error: </b>Bad image file.</p>
          }
          @if (images.errors?.['fileReadError']) {
            <p class="mt-2 text-right text-lg text-red-400"><b>Error: </b>Could not read file.</p>
          }
        </div>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="z-10 -mb-12 ml-4 mt-12 flex items-center gap-4">
        <div class="stack rounded border border-white border-opacity-20 bg-gray-800 bg-opacity-25 p-2 shadow backdrop-blur">
          <m-icon
            class="scale-0 text-3xl text-green-500 transition-transform"
            [icon]="'check-outline'"
            [ngClass]="{ 'scale-100': credits.valid && credits.dirty }"
            mTooltip="Section is complete!"
          />
          <m-icon
            class="scale-0 text-3xl text-red-500 transition-transform"
            [icon]="'alert-outline'"
            [ngClass]="{ 'scale-100': credits.invalid && credits.dirty }"
            mTooltip="Section contains invalid items!"
          />
          <m-icon
            class="scale-0 text-3xl text-blue-400 transition-transform"
            [icon]="'pencil-outline'"
            [ngClass]="{ 'scale-100': credits.pristine }"
            mTooltip="Section is incomplete!"
          />
        </div>

        <span class="card-title ml-2 text-5xl">Credits</span>
      </div>
      <div class="card card--fancy mt-6 p-4 pt-10">
        <p class="mb-2">
          Momentum profiles for all contributors to the map. For breakdown of credit types,
          <a href="https://docs.momentum-mod.org/guide/map_submission/map_submission/#credits">see the docs.</a>
        </p>
        <p class="mb-4">
          If you know their Steam account but not their name in Momentum, you can search for their Steam Community ID, which can be found
          with a site like <a class="link" href="https://steamid.io">steamid.io</a>. Anyone who has ever played Momentum or signed in to our
          website should have a Momentum account. If they haven't, you can submit a "placeholder" credit that will generate a placeholder
          user for the given alias when the map is approved.
        </p>
        <m-map-credits-selection class="grid h-full min-h-[18rem] gap-4 md:grid-cols-1 lg:grid-cols-4" [formControl]="credits" />
      </div>
    </div>

    <div class="flex flex-col">
      <div class="z-10 -mb-12 ml-4 mt-12 flex items-center gap-4">
        <div class="stack rounded border border-white border-opacity-20 bg-gray-800 bg-opacity-25 p-2 shadow backdrop-blur">
          <m-icon
            class="scale-0 text-3xl text-green-500 transition-transform"
            [icon]="'check-outline'"
            [ngClass]="{ 'scale-100': suggestions.valid }"
            mTooltip="Section is complete!"
          />
          <m-icon
            class="scale-0 text-3xl text-red-500 transition-transform"
            [icon]="'alert-outline'"
            [ngClass]="{ 'scale-100': suggestions.dirty && suggestions.invalid }"
            mTooltip="Section contains invalid items!"
          />
          <m-icon
            class="scale-0 text-3xl text-blue-400 transition-transform"
            [icon]="'pencil-outline'"
            [ngClass]="{ 'scale-100': suggestions.pristine && suggestions.invalid && suggestions.enabled }"
            mTooltip="Section is incomplete!"
          />
          <m-icon
            class="scale-0 text-3xl text-orange-400 transition-transform"
            [icon]="'lock-outline'"
            [ngClass]="{ 'scale-100': suggestions.disabled }"
            mTooltip="Add a zones file to enable leaderboard editing!"
          />
        </div>
        <span class="card-title ml-2 text-5xl">Leaderboards</span>
      </div>
      <div class="card card--fancy mt-6 p-4 pt-10">
        <p class="mb-2">
          Momentum leaderboards are relative to a specific gamemode, and maps can have multiple leaderboards in different modes.
        </p>
        <p class="mb-2">
          When a map enters submission we generate temporary leaderboards for (almost) all gamemodes. Players can submit runs and leave
          reviews recommending official leaderboards on any of them, even if you don't suggest them here.
        </p>
        <p class="mb-4">
          For detailed info see
          <a class="link" href="https://docs.momentum-mod.org/guide/map_submission/map_submission/#leaderboards">the docs</a>.
        </p>
        <m-map-leaderboards-selection [formControl]="suggestions" />
        @if (suggestions.dirty && suggestions.errors) {
          <p class="my-2 ml-auto text-right text-lg text-red-400"><b>Error: </b>{{ suggestions.errors['error'] }}</p>
        }
      </div>
    </div>

    <div class="flex flex-col">
      <div class="z-10 -mb-12 ml-4 mt-12 flex items-center gap-4">
        <div class="stack rounded border border-white border-opacity-20 bg-gray-800 bg-opacity-25 p-2 shadow backdrop-blur">
          <m-icon
            class="scale-0 text-3xl text-green-500 transition-transform"
            [icon]="'check-outline'"
            [ngClass]="{ 'scale-100': privateTesting.valid }"
            mTooltip="Section is complete!"
          />
          <m-icon
            class="scale-0 text-3xl text-red-500 transition-transform"
            [icon]="'alert-outline'"
            [ngClass]="{ 'scale-100': testInvites.dirty && privateTesting.invalid }"
            mTooltip="Section contains invalid items!"
          />
          <m-icon
            class="scale-0 text-3xl text-blue-400 transition-transform"
            [icon]="'pencil-outline'"
            [ngClass]="{ 'scale-100': !testInvites.dirty && privateTesting.invalid }"
            mTooltip="Section is incomplete!"
          />
        </div>
        <span class="card-title ml-2 text-5xl">Private Testing</span>
      </div>
      <div class="card card--fancy mt-6 p-4 pt-10">
        <div class="flex gap-4" [formGroup]="privateTesting">
          <div class="flex flex-col md:w-full lg:flex-grow">
            <div class="prose max-w-none">
              <p>
                Private testing is an optional first phase of map submission where only players you personally invite can play and review
                your map. Each player needs to explicitly Accept your invitation. (This can, for example, be done through the Notifications
                menu.)
              </p>
              <p>
                This is intended to make sharing and versioning your map files simpler. Rather than share each change manually over Discord
                or wherever, you can just submit new versions via this site and their game clients will download the latest version when
                launching.
              </p>
              <p>
                If you want to start in Private Testing, select the checkbox below. You can keep the submission in Private Testing for as
                long as you want provided you're still actively working on the map. Once you're done, you can move the map forward to the
                <a href="https://docs.momentum-mod.org/guide/map_submission/map_submission/#content-approval">Content Approval</a> stage. If
                you don't care about Private Testing, leave the box unchecked and the submission will go straight to Content Approval.
              </p>
            </div>
            <div class="ml-auto">
              <div class="flex items-center justify-end">
                <span class="mr-4 text-lg">Enable Private Testing</span>
                <input type="checkbox" class="checkbox" [formControl]="wantsPrivateTesting" />
              </div>
              @if (testInvites.dirty && privateTesting.errors) {
                <p class="mt-2 text-right text-lg text-red-400"><b>Error: </b>{{ privateTesting.errors['error'] }}</p>
              }
            </div>
          </div>
          <span class="h-auto bg-gray-700 md:w-0 lg:w-[0.125rem]"></span>
          <m-map-test-invite-selection [formControl]="testInvites" class="disabled:opacity-25 md:w-full lg:flex-grow" />
        </div>
      </div>
    </div>
    <div class="mt-4 flex">
      @if (isUploading) {
        <div class="my-auto flex flex-grow flex-col">
          <p-progressBar [value]="uploadPercentage" [showValue]="false" class="mr-6" />
          <p class="mt-2 text-center italic">{{ uploadStatusDescription }}</p>
        </div>
      }
      <div class="ml-auto h-full">
        <button class="btn btn-green gap-2 px-4 text-xl" type="submit" [disabled]="form.invalid || isUploading">
          Submit Map
          <m-icon class="text-3xl" icon="upload" />
        </button>
      </div>
    </div>
  </form>
} @else {
  <div class="card prose max-w-none p-4">
    <p>
      You currently have a map in submission. As you don't yet have any approved maps, you are only allowed to have one map in submission at
      a time.
    </p>
    <p>
      Please either continue working on that submission (or wait on its approval), or if you're not happy with that map, you can delete it
      and start a new submission.
    </p>
    <p>
      Once you've had a submission approved (demonstrating your capability as a mapper) you'll be allowed to have an unlimited number of
      submissions at once.
    </p>
  </div>
}
