nb-tabset {
  background-color: #181818;
  height: 380px;
}

nb-tab {
  overflow-y: auto;
  height: 88%;
  padding-bottom: 0 !important;
}

.stat {
  color: dodgerblue;
  font-size: 1.5rem;
}

.col h6 {
  font-size: 1.25rem;
}

.btn-group {
  display: block;

  .btn {
    height: 3em;
    font: normal normal 500 1em/2.85em Exo, sans-serif;
    overflow: hidden;
    padding-top: 0;

    span {
      color: white;
      display: block;
    }

    .c-anim-btn {
      transition: 0.3s;
      margin-top: 0;
    }

    &:hover .c-anim-btn {
      margin-top: -2.85em;
    }
  }
}
