@import '../../../../@theme/styles/styles';

map-leaderboard {
  margin: 2%;
}

.map-info {
  background: nb-theme(color-bg-dark);
}

.image-gallery {
  min-height: 300px;
}

.library-stats {
  margin-left: 43%;
}

.picture {
  color: dodgerblue;
}
