<nb-card>
  <nb-card-header>
    <h1>{{map?.name}}</h1>
  </nb-card-header>
  <nb-card-body>
    <div><img [src]="map?.info?.avatarURL"></div>
    <div>
      <markdown [data]="map?.info?.description" ngPreserveWhitespaces></markdown>
      <br>
      <div>Release Date: {{map?.createdAt | date}}</div><br>
      <button type="button" class="btn btn-outline-info" (click)="onLibraryUpdate()">{{mapInLibrary ? 'Remove from My Library' : 'Add to My Library'}}</button>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <h1>Leaderboard</h1>
  </nb-card-header>
  <nb-card-body>
    <button class="collapsible btn btn-outline-info">Filter</button>
    <div class="content">
      <br>
        <div class="row">
          <div class="col-md-3">
            <input type="text" class="form-control full-width" placeholder="Rank">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control full-width" placeholder="Name">
          </div>
          <div class="col-md-3">
            <div>
            <input type="checkbox" name="wonly" value="W-Only"> W-Only<br>
            <input type="checkbox" name="backwards" value="Backwards"> Backwards<br>
            </div>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-outline-primary">Clear</button>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <button class="btn btn-outline-info">Update</button>
        </div>
      </div>
      <br>
    </div>
    <table>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Flags</th>
        <th>Time</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Zack Attack</td>
        <td></td>
        <td>3:29</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Lionel</td>
        <td></td>
        <td>3:47</td>
      </tr>
      <tr>
        <td>3</td>
        <td>HaloGod</td>
        <td></td>
        <td>4:41</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Ninja</td>
        <td></td>
        <td>4:52</td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>
