<h4 class="mb-3 text-center">{{ category }}</h4>
<nb-list class="mb-3" cdkDropList (cdkDropListDropped)="drop($event)">
  <nb-list-item *ngFor="let credit of credits[this.type]" cdkDrag>
    <div class="d-flex align-items-center">
      <nb-user [name]="credit.user.alias" [picture]="credit.user.avatarURL"></nb-user>
      <div class="ml-auto" *ngIf="editable">
        <button nbButton outline status="danger" size="tiny" (click)="removeUser(credit.user)">
          <nb-icon icon="close" />
        </button>
      </div>
    </div>
  </nb-list-item>
</nb-list>
<div class="text-center" *ngIf="searchState !== SearchState.HIDDEN">
  <div class="mb-2 text-danger" *ngIf="searchState === SearchState.USER_ALREADY_SELECTED">User already selected!</div>
  <mom-user-search class="text-left" (selectedUserEmit)="addUser($event)" />
  <button class="mt-3" nbButton outline status="danger" (click)="hideUserSearch()">Cancel</button>
</div>
<div class="text-center" *ngIf="editable && searchState === SearchState.HIDDEN">
  <button nbButton outline status="info" (click)="showUserSearch()">
    <nb-icon icon="plus" />
  </button>
</div>
