<div class="row no-gutters outer" [ngClass]="statusEnum[map.statusFlag]">
  <div class="col-9">
    <div class="row">
      <div class="col-2">
        <img [src]="map.thumbnail?.small">
      </div>
      <div class="col-10 content">
        <div class="row">
          <div class="col-2">
            <span>Map Name:</span>
          </div>
          <div class="col-4">
            <span>{{map.name}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <span>Submitted:</span>
          </div>
          <div class="col-4">
            <span>{{map.createdAt | date}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <span>Author(s):</span>
          </div>
          <div class="col-4">
            <span *ngIf="!map.credits || map.credits.length === 0">No authors</span>
            <div *ngFor="let credit of map.credits">
              <span>{{credit.user?.alias}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mapStatus">
    {{statusEnum[map.statusFlag]}}
  </div>
</div>
