nb-stepper ::ng-deep .header {
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

nb-select ::ng-deep .select-button {
  min-width: 0;
}

.optional-col {
  text-align: center;
  border-top: 3px dashed white;

  .col-title {
    font-style: italic;
    font-weight: 200;
  }
}

@media (min-width: 768px) {
  .optional-col {
    border-left: 3px dashed white;
    border-top: none;
  }
}

.input-col {
  max-width: 265px;
}

.warning {
  color: orange;
}

.col-title {
  font-weight: 500;
}

.extra-image {
  max-width: 200px;
}

.extra-image-cont {
  position: relative;

  button {
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    opacity: 0;
    transition: opacity 0.15s ease-out;
    padding: 2px 3px 1px;
  }

  &:hover button {
    opacity: 1;
  }
}
