<nb-card>
  <nb-card-header>
    <div class="row no-gutters">
      <h2 class="col-10">{{headerTitle}}</h2>
      <div class="col-2">
        <div style="float: right; align-self: center">
          <label [for]="box">Filter: </label>
          <select #box name="ActivityType" (change)="filterSelected(box.value)">
            <option [value]="activityType.ALL">All</option>
            <option [value]="activityType.MAP_SUBMITTED">Maps Only</option>
            <option [value]="activityType.PB_ACHIEVED">PBs Only</option>
            <option [value]="activityType.WR_ACHIEVED">WRs Only</option>
          </select>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ul>
      <li *ngFor="let act of activities">
        <a href="/dashboard/user/{{act.userID}}">{{act.userID}}</a> did event {{activityType[act.type]}}
      </li>
    </ul>
  </nb-card-body>
</nb-card>
