<nb-card>
  <nb-card-header>
    <div class="container no-gutters">
      <div class="row">
        <h2 class="col-10">{{headerTitle}}</h2>
        <div class="col-2">
          <label [for]="box">Filter: </label>
          <select #box name="ActivityType" (click)="filterSelected(box.value)">
            <option [value]="activityType.ALL">All</option>
            <option [value]="activityType.TIME_SUBMITTED">Runs Only</option>
            <option [value]="activityType.MAP_UPLOADED">Maps Only</option>
          </select>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <!--TODO: Fill the body with an ngFor that goes through all of the activity given the filters/data/etc-->
    <ul>
      <li *ngFor="let act of activities">
        <a href="/dashboard/user/{{act.userID}}">{{act.userID}}</a> did event {{activityType[act.type]}}
      </li>
    </ul>
  </nb-card-body>
</nb-card>
