<div
  class="flex h-[5rem] w-full items-center gap-8 border-b border-white border-opacity-[0.1] bg-white bg-opacity-[0.025] px-4 backdrop-blur-lg"
>
  <div class="mr-auto flex items-center gap-4">
    <mom-icon
      (click)="toggleSidenav()"
      icon="menu"
      class="h-12 w-12 rounded bg-white bg-opacity-0 p-1 transition-colors hover:bg-opacity-10"
    />
    <span class="h-8 w-[1px] bg-gray-900"></span>
    <a routerLink="/">
      <img src="assets/images/logo.svg" width="310" height="50" alt="Momentum Mod Logo" />
    </a>
  </div>

  <mom-search type="modal-drop" />
  <nb-action
    class="control-item"
    [icon]="{
      icon: notifications.length ? 'bell-alert' : 'bell-outline',
      pack: 'mdi'
    }"
    [nbPopover]="notifTemplate"
    nbPopoverPlacement="bottom"
    badgePosition="top right"
    badgeStatus="danger"
    [badgeText]="numUnreadNotifs === 0 ? '' : numUnreadNotifs.toString()"
  />
  <ng-template #notifTemplate>
    <mom-notifications [notifications]="notifications" />
  </ng-template>
  <nb-user [nbContextMenu]="userMenu" [name]="user?.alias" [picture]="user?.avatarURL" />

  <div class="header-container">
    <nb-actions size="medium">
      <nb-action class="control-item"> </nb-action>
      <nb-action class="user-action" (click)="logout()"> </nb-action>
    </nb-actions>
  </div>
</div>
