table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  font-size: 1.3rem;
}

tr:nth-child(even) {
  background-color: #303030;
}

th {
  text-align: left;
  padding: 1%;
  font-size: 1.4rem;
  color: gray;
}

.header {
  margin-bottom: 2%;
}

.filter-active, .filter-btn.main:hover {
  background-color: #555;
}

.filter-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #181818;
  margin-bottom: 2%;

  .filter-active {
    background-color: #555;
  }
}

.space {
  margin-left: 2%;
  margin-bottom: 2%;
}

input[type=checkbox] + label {
  color: #ccc;
}
input[type=checkbox]:checked + label {
  color: seagreen;
}
