<nb-card>
  <nb-card-header>
    <div class="row">
      <h2 class="col">LEADERBOARD</h2>
      <div class="col-auto ml-auto">
        <button nbButton outline status="info" type="button" (click)="filterActive = !filterActive">Filter</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="filter-content" [ngClass]="{'filter-active': filterActive}"
         [ngStyle]="{'max-height': filterActive ? filterContent.scrollHeight + 'px' : null}" #filterContent>
      <div class="p-3">
        <div class="row mb-3">
          <div class="col-md mb-2 mb-md-0">
            <input nbInput fullWidth type="text" class="form-control" placeholder="Rank">
          </div>
          <div class="col-md mb-2 mb-md-0">
            <input nbInput fullWidth type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-md">
            <nb-radio-group [(value)]="filterLeaderboardType">
              <nb-radio [value]="LeaderboardTypeEnum.TOP10">Show top 10 times</nb-radio>
              <nb-radio [value]="LeaderboardTypeEnum.AROUND">Show ranks around me</nb-radio>
              <nb-radio [value]="LeaderboardTypeEnum.FRIENDS">Show friend's time</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col col-md-auto pr-2">
            <button nbButton outline status="info" class="w-100" (click)="loadLeaderboardRuns()">Update</button>
          </div>
          <div class="col col-md-auto pl-2">
            <button nbButton outline status="warning" class="w-100">Clear</button>
          </div>
        </div>
      </div>
    </div>
    <h4 *ngIf="!searchedRanks" class="text-center">Waiting for API response</h4>
    <h4 *ngIf="searchedRanks && leaderboardRanks.length === 0" class="text-center">No runs found</h4>
    <div *ngIf="searchedRanks && leaderboardRanks.length > 0" class="table-responsive">
      <table>
        <tr>
          <th>RANK</th>
          <th>USER</th>
          <th>TIME</th>
          <th>FLAGS</th>
          <th>ACHIEVED</th>
          <th>VIEW</th>
        </tr>
        <tr *ngFor="let rank of leaderboardRanks">
          <td>{{rank.rank}}</td>
          <td>
            <a [routerLink]="'/dashboard/profile/' + rank.user.id">
              <nb-user [name]="rank.user.alias" [picture]="rank.user.avatarURL" size="large"></nb-user>
            </a>
          </td>
          <td>{{rank.run.time | timing}}</td>
          <td></td>
          <td>{{rank.run.createdAt | timeago}}</td>
          <td>
            <button nbButton outline status="info" shape="round" type="button" (click)="viewRun(rank.run)">
              <nb-icon icon="arrow-right-outline"></nb-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </nb-card-body>
</nb-card>
