<div class="header">
  <span class="name">LEADERBOARD</span>
  <button class="filter-btn btn btn btn-outline-info" type="button" (click)="filterActive = !filterActive">Filter</button>
</div>
<div class="filter-content" [ngClass]="{'filter-active': filterActive}"
     [ngStyle]="{'max-height': filterActive ? filterContent.scrollHeight + 'px' : null}" #filterContent>
  <br>
  <div class="space">
  <div class="row">
    <div class="col-md-3">
      <input type="text" class="form-control full-width" placeholder="Rank">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control full-width" placeholder="Name">
    </div>
    <div class="col-md-3">
      <div>
        <input type="checkbox" name="wonly" value="W-Only" id="wonly">
        <label for="wonly">W-Only</label> <br>
        <input type="checkbox" name="backwards" value="Backwards" id="backward">
        <label for="backward">Backwards</label>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-auto">
      <button class="btn btn-outline-info">Update</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-warning">Clear</button>
    </div>
  </div>
  </div>
</div>
<table>
  <tr>
    <th>RANK</th>
    <th>USER</th>
    <th>FLAGS</th>
    <th>TIME</th>
    <th>ACHIEVED</th>
    <th>VIEW</th>
  </tr>
  <tr *ngFor="let run of leaderboardRuns; index as i">
    <td>{{i + 1}}</td>
    <td><nb-user [name]="run?.user.profile.alias" [picture]="run?.user.profile.avatarURL" size="small" class="d-inline-block"></nb-user></td>
    <td></td>
    <td>{{run?.time}}</td>
    <td>{{run?.dateAchieved | timeAgo}}</td>
    <td><button type="button" class="btn btn-outline-info btn-round ion ion-play"></button></td>
  </tr>
</table>
