<nb-card>
  <nb-card-header>
    <div class="row no-gutters">
      <h2 class="col-10">Report Queue</h2>
      <div class="col-2">
        <div class="text-right">
          <label>Resolved: </label>
          <select name="Resolved" (change)="loadReportQueue()" [(ngModel)]="filters.resolved">
            <option value="true">Yes</option>
            <option selected="selected" value="false">No</option>
          </select>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-1">ID</div>
      <div class="col-1">Type</div>
      <div class="col-1">Category</div>
      <div class="col-1">Reported Resource ID</div>
      <div class="col-1">Submitter</div>
      <div class="col-1">Resolver</div>
      <div class="col-2 text-center">Message</div>
      <div class="col-2 text-center">Resolution Message</div>
      <div class="col-2 text-center">Actions</div>
    </div>
    <div class="text-center mt-5" *ngIf="!reportQueue?.length && !isLoading">
      <i>There are no reports that match the search criteria.</i>
    </div>
    <nb-list>
      <nb-list-item
        *ngFor="
          let report of reportQueue
            | paginate
              : {
                  id: 'report-queue-page-ctrl',
                  itemsPerPage: pageLimit,
                  currentPage: currentPage,
                  totalItems: reportQueueCount
                }
        "
      >
        <mom-queued-report [report]="report" (reportUpdate)="loadReportQueue()" />
      </nb-list-item>
    </nb-list>
    <div class="text-center">
      <pagination-controls
        id="report-queue-page-ctrl"
        (pageChange)="onPageChange($event)"
        [autoHide]="true"
        [responsive]="true"
      ></pagination-controls>
    </div>
  </nb-card-body>
</nb-card>
