@import '../../../../@theme/styles/themes';

.follow-status {
  margin-top: -2rem;
}

.btn-group {
  display: block;
}

.btn {
  height: 3em;
  font: normal normal 500 1em/3em nb-theme(font-family-secondary);
  overflow: hidden;
  padding-top: 0;

  span {
    color: white;
    display: block;
  }

  .c-anim-btn {
    transition: 0.3s;
    margin-top: 0;
  }

  &:hover .c-anim-btn {
    margin-top: -3em;
  }
}
