<div class="follow-status">
  <span *ngIf="targetFollowStatus" class="text"
        [nbPopover]="'Following since: ' + (targetFollowStatus?.createdAt | date)" nbPopoverMode="hint">
    Follows you
  </span>
</div>
<div *ngIf="checked" [ngClass]="{'btn-group': localFollowStatus}">
  <button class="btn btn-primary btn-group-divider" (click)="followClick()">
    <span [ngClass]="{'c-anim-btn': localFollowStatus}">{{localFollowStatus ? 'Following' : 'Follow'}}</span>
    <span *ngIf="localFollowStatus">Unfollow</span>
  </button>
  <button class="btn btn-primary" *ngIf="localFollowStatus" (click)="editNotificationSettings()">
    <i class="ion" [ngClass]="localFollowStatus?.notifyOn === 0 ? 'ion-ios-bell-outline' : 'ion-ios-bell'"></i>
  </button>
</div>
