<section id="header">
  <header class="masthead">
    <video class="banner-video" src="../../../../assets/images/bg-main.webm" type="video/webm" autoplay muted loop></video>
    <div class="gradient"></div>
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <img class="mt-5" width="75%" src="assets/images/logo.svg" />
        <h2 class="text-white mx-auto mt-4 mb-5">A free, standalone movement-focused platformer built on the Source Engine.</h2>
        <div>
          <iframe
            src="https://store.steampowered.com/widget/669270/"
            style="border: none"
            frameborder="0"
            width="70%"
            height="190"
          ></iframe>
        </div>
        <a class="donate" href="https://opencollective.com/momentum-mod" target="_blank">
          <div class="donateBody">
            <span class="donateText">SUPPORT US ON OPENCOLLECTIVE</span>
            <!-- Draws the Open Collective logo, snippet taken from https://opencollective.com/static/images/buttons/donate-button-blue.svg -->
            <svg width="44" height="44" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <ellipse fill="#FFF" cx="22" cy="22" rx="22" ry="22" />
              <path
                d="M33.51 14.026C35.08 16.29 36 19.036 36 22c0 2.963-.92 5.71-2.49 7.974l-3.628-3.627C30.595 25.057 31 23.577 31 22c0-1.577-.405-3.058-1.118-4.347l3.627-3.627zm-3.536-3.535l-3.627 3.628C25.057 13.405 23.577 13 22 13c-4.97 0-9 4.03-9 9s4.03 9 9 9c1.577 0 3.058-.405 4.347-1.118l3.627 3.627C27.71 35.08 24.964 36 22 36c-7.732 0-14-6.268-14-14S14.268 8 22 8c2.963 0 5.71.92 7.974 2.49z"
                fill="#3FAFF0"
              />
              <path
                d="M33.51 14.026C35.08 16.29 36 19.036 36 22c0 2.963-.92 5.71-2.49 7.974l-3.628-3.627C30.595 25.057 31 23.577 31 22c0-1.577-.405-3.058-1.118-4.347l3.627-3.627z"
                fill="#B8D5E6"
              />
            </svg>
          </div>
        </a>
      </div>
    </div>
  </header>
</section>
