<div class="flex">
  <m-multi-file-upload
    class="mr-4 flex h-auto w-[12rem] flex-shrink-0 flex-col"
    icon="image-multiple-outline"
    [formControlName]="innerFormControlName"
    typeName="image"
    [showSelected]="false"
    acceptExtensions=".png"
    [enableClipboard]="true"
    [max]="5"
  />
  <div class="flex flex-grow gap-4">
    <div class="lg:w-1/3">
      <p class="pointer-events-none mb-1 ml-1 text-lg">
        Thumbnail
        <m-icon icon="asterisk" class="mb-1 h-4 w-4 align-middle" />
      </p>
      <!-- We want to keep setting the width and height of this container based on 1/3 width and 16/9
        aspect ratio at all times, so we use a hacky 1/1 grid to stack each item, so an item being
        dragged over existing thumbnail gets plonked on top of it.  -->
      <div
        class="grid aspect-video w-full place-items-center rounded bg-black bg-opacity-25 p-3 [grid-template:1fr/1fr] [&>*]:[grid-column:1/1] [&>*]:[grid-row:1/1] [&>.cdk-drag-placeholder]:opacity-100 [&>.cdk-drag-placeholder]:[z-index:2]"
        cdkDropList
        cdkDropListOrientation="horizontal"
        #thumbnailList="cdkDropList"
        [cdkDropListData]="items[ImageType.THUMBNAIL]"
        [cdkDropListConnectedTo]="[extrasList]"
        (cdkDropListDropped)="drop($event, ImageType.THUMBNAIL)"
      >
        @for (item of items[ImageType.THUMBNAIL]; track item) {
          <div
            cdkDrag
            class="group relative cursor-move rounded shadow transition-opacity [transition-property:filter] hover:contrast-75 [&.cdk-drag-preview]:opacity-75 [&.cdk-drag-preview]:contrast-75"
          >
            <img class="aspect-video w-full" [src]="item.dataUrl" />
            <m-icon
              icon="cursor-move"
              class="[>.cdk-drag-preview>&]-hover:opacity-30 absolute left-1/2 top-1/2 h-[4rem] w-[4rem] text-white opacity-0 transition-opacity [transform:translateX(-50%)_translateY(-50%)] group-hover:opacity-30 [.cdk-drag-preview>&]:opacity-30"
            />
            <m-icon
              icon="close"
              (click)="removeItem(item.file, ImageType.THUMBNAIL)"
              class="absolute right-0 top-0 mr-2 mt-2 h-6 w-6 rounded bg-gray-900 bg-opacity-50 transition-colors hover:bg-opacity-70"
            />
          </div>
        }
      </div>
    </div>
    <div class="flex h-full flex-col lg:w-2/3">
      <p class="pointer-events-none mb-1 text-lg">Extras</p>
      <!-- Using grid on this container goes wonky when you have 5 images selected and drag thumbnail into extra, besides that works okay and I can't bear working on styling for this any longer! -->
      <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        #extrasList="cdkDropList"
        [cdkDropListData]="items[ImageType.EXTRA]"
        [cdkDropListConnectedTo]="[thumbnailList]"
        (cdkDropListDropped)="drop($event, ImageType.EXTRA)"
        class="grid h-full grid-cols-4 gap-2 rounded bg-black bg-opacity-25 p-3 shadow [&>.cdk-drag-placeholder]:opacity-0"
      >
        @for (item of items[ImageType.EXTRA]; track item) {
          <div
            cdkDrag
            class="group relative aspect-video cursor-move shadow transition-opacity [transition-property:filter] hover:contrast-75 [&.cdk-drag-preview]:opacity-75 [&.cdk-drag-preview]:contrast-75"
          >
            <img class="aspect-video w-full" [src]="item.dataUrl" />
            <m-icon
              icon="cursor-move"
              class="[>.cdk-drag-preview>&]-hover:opacity-30 absolute left-1/2 top-1/2 h-[4rem] w-[4rem] text-white opacity-0 transition-opacity [transform:translateX(-50%)_translateY(-50%)] group-hover:opacity-30 [.cdk-drag-preview>&]:opacity-30"
            />
            <m-icon
              icon="close"
              (click)="removeItem(item.file, ImageType.EXTRA)"
              class="absolute right-0 top-0 mr-2 mt-2 h-6 w-6 rounded bg-gray-900 bg-opacity-50 transition-colors hover:bg-opacity-70"
            />
          </div>
        }
      </div>
    </div>
  </div>
</div>
