<nb-list>
  <nb-list-item *ngIf="notifications.length === 0">
    <span class="no-notifs">No notifications</span>
  </nb-list-item>
  <nb-list-item
    *ngFor="let notification of notifications"
    class="overflow-hidden"
    [ngClass]="{ unread: !notification.read }"
  >
    <mom-activity-content
      [activity]="notification.activity"
      [dateNone]="true"
      (mouseenter)="onHoverNotif(notification)"
      (click)="onClickNotif(notification)"
    >
    </mom-activity-content>
    <div class="text-center date">
      {{ notification.activity.createdAt | timeAgo }}
    </div>
    <button
      nbButton
      outline
      status="danger"
      size="tiny"
      (click)="removeNotif(notification)"
    >
      <nb-icon icon="close-circle-outline" pack="mdi"></nb-icon>
    </button>
  </nb-list-item>
</nb-list>
