<nb-layout>
  <nb-layout-header fixed>
    <ngx-header></ngx-header>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar"
              tag="menu-sidebar"
              responsive
              [containerFixed]="true">
    <ng-content select="nb-menu"></ng-content>
    <div class="socials">
      <a href="https://store.steampowered.com/app/669270/Momentum_Mod/" target="_blank" class="fab fa-steam"></a>
      <a href="https://github.com/momentum-mod/" target="_blank" class="fab fa-github"></a>
      <a href="https://discord.gg/momentummod" target="_blank" class="fab fa-discord"></a>
      <a href="https://twitter.com/MomentumMod" target="_blank" class="fab fa-twitter"></a>
    </div>
  </nb-sidebar>

  <nb-layout-column class="main-content">
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>
</nb-layout>
