<nb-layout style="display:none"></nb-layout>
<header class="masthead">
  <div class="container d-flex align-items-center">
    <div class="grad2"></div>
    <div class="mx-auto text-center">
      <div class="darkbackground">
      <h1 class="mx-auto my-0 text-uppercase">Page Not Found</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Can't seem to find what you're looking for!</h2>
      <nav>
        <a routerLink="/" class="btn btn-primary">Go to Homepage</a>
      </nav>
      </div>
    </div>
  </div>
</header>
