<nb-card>
  <nb-card-header>
    <div class="flex flex-wrap">
      <h2 class="col-auto">Uploads</h2>
      <div class="relative max-w-full flex-1 flex-grow px-4">
        <button
          nbButton
          outline
          status="info"
          class="float-right"
          type="button"
          routerLink="/dashboard/maps/submissions/submit"
          [disabled]="hasSubmissionBan"
          [nbTooltip]="hasSubmissionBan && 'You are banned from map submission'"
        >
          Upload a Map
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <mom-map-list [isUpload]="true" />
  </nb-card-body>
</nb-card>
