.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: url('../../../../assets/images/splash.webp') no-repeat scroll
    center;
  background-size: cover;
}

.masthead h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

.masthead > div {
  min-width: 100%;
  padding: 0;
}

.masthead > div > div {
  background: #161616;
  padding-block: 80px;
  width: 100%;
}

.btn {
  color: #fff;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .masthead > div > div {
    padding-block: 100px;
  }
}

@media (min-width: 992px) {
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
  .masthead > div > div {
    padding-block: 150px;
  }
}
