@if (localUserService.isLoggedIn) {
  @if (!localUserService.isLimited) {
    <m-map-review-form [map]="map" (reviewPosted)="load.next()" />
  }
  <div class="flex items-center gap-4">
    <p class="ml-2 grow font-bold italic">
      <span>{{ map.reviewStats.total }} Reviews</span> - <span class="text-green-300">{{ map.reviewStats.approvals }} Approving</span>,
      <span class="text-blue-300">{{ map.reviewStats.resolved }} Resolved</span>,
      <span class="text-red-300">{{ map.reviewStats.unresolved }} Unresolved</span>
    </p>
    <p-select
      class="self-end"
      [(ngModel)]="filter"
      [options]="Filters"
      optionLabel="label"
      optionValue="type"
      (onChange)="load.next()"
      appendTo="body"
    />
  </div>
  <div [mSpinner]="loading" class="flex flex-col gap-4">
    @for (review of reviews; track $index) {
      <m-map-review [review]="review" [map]="map" (updatedOrDeleted)="load.next()" />
    } @empty {
      @if (!loading) {
        <p class="m-4 text-center text-lg italic text-gray-200">No reviews posted</p>
      }
    }
  </div>
  <p-paginator
    class="self-end"
    (onPageChange)="pageChange.next($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    [alwaysShow]="false"
    [rowsPerPageOptions]="[5, 10, 20]"
  />
} @else {
  <p class="text-lg font-medium text-gray-100">
    <a (click)="localUserService.login()" class="link cursor-pointer">Sign in</a> to see and post reviews!
  </p>
}
