@if (value && value.length > 0 && !disabled) {
  <table class="mb-2 grid border-collapse grid-cols-[auto_8rem_auto_auto_auto_4fr_auto] gap-0.5">
    <thead class="contents bg-gray-950">
      <tr class="contents">
        <th class="my-auto pl-1 pr-4 text-left text-sm font-medium text-gray-200">Gamemode</th>
        <th class="my-auto pl-1 pr-4 text-left text-sm font-medium text-gray-200">Track Type</th>
        <th class="my-auto pl-1 pr-4 text-left text-sm font-medium text-gray-200">Track Number</th>
        <th class="my-auto pl-1 pr-4 text-left text-sm font-medium text-gray-200">Tier</th>
        <th class="my-auto pl-1 pr-4 text-left text-sm font-medium text-gray-200">Rating</th>
        <th class="my-auto pl-1 pr-4 text-left text-sm font-medium text-gray-200">Tags</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="contents">
      @for (item of value; track item; let i = $index) {
        <tr class="mt-2 contents">
          <td>
            <p-select
              class="[&>.p-dropdown]:rounded"
              [(ngModel)]="item.gamemode"
              [options]="availableGamemodes"
              optionLabel="label"
              optionValue="gamemode"
              (blur)="onTouched()"
              (onChange)="onChange(value)"
              appendTo="body"
            />
          </td>
          <td>
            <p-select
              class="[&>.p-dropdown]:rounded"
              [(ngModel)]="item.trackType"
              [options]="TrackTypes"
              optionLabel="label"
              optionValue="type"
              (blur)="onTouched()"
              (onChange)="onChange(value)"
              appendTo="body"
            />
          </td>
          <td>
            <p-select
              class="[&>.p-dropdown]:rounded"
              [(ngModel)]="item.trackNum"
              optionLabel="label"
              optionValue="trackNum"
              [options]="item.trackType === TrackType.BONUS ? availableBonusTracks : []"
              [disabled]="item.trackType !== TrackType.BONUS"
              (blur)="onTouched()"
              (onChange)="onChange(value)"
              appendTo="body"
            />
          </td>
          <td>
            <input
              type="number"
              class="textinput"
              min="1"
              max="10"
              step="1"
              [(ngModel)]="item.tier"
              (blur)="onTouched()"
              (change)="onChange(value)"
            />
          </td>
          <td>
            <input
              type="number"
              class="textinput"
              min="1"
              max="10"
              step="1"
              [(ngModel)]="item.gameplayRating"
              (blur)="onTouched()"
              (change)="onChange(value)"
            />
          </td>
          <td>
            <m-chips
              typeName="Tags"
              [chips]="MapTags.get(item.gamemode)"
              [nameFn]="mapTagEnglishName"
              [ngModel]="item.tags"
              (ngModelChange)="updateTags(item, $event)"
            />
          </td>
          <td>
            <button type="button" class="btn btn-red rounded px-2" (click)="removeItem(i)">
              <m-icon icon="delete-outline" />
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
