<form [formGroup]="form" class="flex flex-col" (ngSubmit)="submit()">
  <div class="mb-4 flex gap-2">
    <textarea
      [formControl]="mainText"
      placeholder="... (Required)"
      class="textinput grow resize-none overflow-hidden"
      rows="6"
      (keydown.control.enter)="submit()"
      dynamicTextareaHeight
    ></textarea>
    @if (!editing) {
      <m-multi-file-upload
        class="h-auto max-w-[20%]"
        [formControl]="images"
        icon="panorama"
        typeName="image"
        [showSelected]="true"
        [max]="MAX_REVIEW_IMAGES"
        acceptExtensions=".jpg,.jpeg,.png"
        [enableClipboard]="true"
        [acceptMimeTypes]="['image/jpeg', 'image/png']"
      />
    }
  </div>
  @if (MAX_REVIEW_LENGTH / 2 < mainText.value?.length) {
    <span class="ml-2 text-sm">{{ MAX_REVIEW_LENGTH - mainText.value?.length | plural: 'character' }} remaining</span>
  }

  <m-map-review-suggestions-form #suggs [formControl]="suggestions" [map]="map" />
  @if (suggestions.invalid) {
    <p class="medium mb-2 ml-auto font-medium italic text-red-500">{{ suggestions.errors['error'] }}</p>
  }

  <div class="flex items-center justify-end gap-2">
    @if (isReviewer && !editing) {
      <p>Require resolving</p>
      <m-icon
        icon="tooltip-question-outline"
        mTooltip="Mark this review as requiring resolving before the map can be approved. This option is only available to official reviewers."
      />
      <input type="checkbox" class="checkbox" [formControl]="needsResolving" />
      @if (!isSubmitter) {
        <p class="ml-2">Approve</p>
        <m-icon
          icon="tooltip-question-outline"
          mTooltip="Grants approval to the map, allowing it to progress to Final Approval. This option is only available to official reviewers. Only do this if you've reviewed the map thoroughly!"
        />
        <input type="checkbox" class="checkbox" [formControl]="approves" />
      }
    }
    @if (editing) {
      <button type="button" class="btn btn-red btn-thin self-end" (click)="canceledEditing.next()">Cancel editing</button>
    }
    <button type="button" class="btn btn-blue btn-thin" (click)="suggs.addEmptyItem()">
      Add Tier/Ranking Suggestions
      <m-icon class="ml-2" icon="tooltip-question-outline" [mTooltip]="suggestionInfo" />
    </button>
    <ng-template #suggestionInfo>
      <div class="prose p-3">
        <p>Your suggestions for the tier, gameplay quality rating, and/or tags for tracks.</p>
        <p><b>Tier</b> is the difficulty of the track, from 1 to 10.</p>
        <p>
          <b>Rating</b> is for overall <i>gameplay</i> quality of the track, from 1 to 10, used to decide whether the track should provide
          rank points.
        </p>
        <p>
          <b>Tags</b> highlight specific gameplay aspects of the track. Only suggest a tag that adds to the overall difficulty of that
          track; e.g. don't suggest "spins" for T3 or more surf track with a single easy spin.
        </p>
      </div>
    </ng-template>
    <button type="submit" class="btn btn-green btn-thin self-end" [disabled]="loading || form.invalid || form.pristine">
      {{ editing ? 'Update' : 'Post' }}
    </button>
  </div>
</form>
