<nb-card>
  <nb-card-header><h2>FILTERS</h2></nb-card-header>
  <nb-card-body>
    <h4>Filter by:</h4>
    <div class="row">
      <div class="col-auto">
        <nb-select placeholder="Select Country">
          <nb-option>Clear</nb-option>
          <nb-option value="1">United States</nb-option>
        </nb-select>
      </div>
    </div>

    <!--TODO: implement with timeseries DB-->
    <div class="row filter" *ngIf="false">
      <div class="col-auto">All</div>
      <div class="col-auto">PAST YEAR</div>
      <div class="col-auto">PAST MONTH</div>
      <div class="col-auto">PAST WEEK</div>
      <span class="col-auto">TODAY</span>
    </div>
  </nb-card-body>
</nb-card>
