<h1>STATISTICS</h1>
<nb-card>
  <nb-card-body>
    <h3>Filter by:</h3>
    <div class="row">
      <div class="col-auto">
        <nb-select placeholder="Select Country">
          <nb-option>Clear</nb-option>
          <nb-option value="1">United States</nb-option>
        </nb-select>
      </div>

      <div class="col-auto">
        <nb-select placeholder="Select State">
          <nb-option>Clear</nb-option>
          <nb-option value="1">Alabama</nb-option>
          <nb-option value="2">Alaska</nb-option>
          <nb-option value="3">Arizona</nb-option>
          <nb-option value="4">Arkansas</nb-option>
          <nb-option value="5">California</nb-option>
          <nb-option value="6">Colorado</nb-option>
          <nb-option value="7">Connecticut</nb-option>
          <nb-option value="8">Delaware</nb-option>
          <nb-option value="9">Florida</nb-option>
          <nb-option value="10">Georgia</nb-option>
          <nb-option value="11">Hawaii</nb-option>
          <nb-option value="12">Idaho</nb-option>
          <nb-option value="13">Illinois</nb-option>
          <nb-option value="14">Indiana</nb-option>
          <nb-option value="15">Iowa</nb-option>
          <nb-option value="16">Kansas</nb-option>
          <nb-option value="17">Kentucky</nb-option>
          <nb-option value="18">Louisiana</nb-option>
          <nb-option value="19">Maine</nb-option>
          <nb-option value="20">Maryland</nb-option>
          <nb-option value="21">Massachusetts</nb-option>
          <nb-option value="22">Michigan</nb-option>
          <nb-option value="23">Minnesota</nb-option>
          <nb-option value="24">Mississippi</nb-option>
          <nb-option value="25">Missouri</nb-option>
          <nb-option value="26">Montana</nb-option>
          <nb-option value="27">Nebraska</nb-option>
          <nb-option value="28">Nevada</nb-option>
          <nb-option value="29"> New Hampshire</nb-option>
          <nb-option value="30">New Jersey</nb-option>
          <nb-option value="31">New Mexico</nb-option>
          <nb-option value="32">New York</nb-option>
          <nb-option value="33">North Carolina</nb-option>
          <nb-option value="34"> North Dakota</nb-option>
          <nb-option value="35">Ohio</nb-option>
          <nb-option value="36">Oklahoma</nb-option>
          <nb-option value="37">Oregon</nb-option>
          <nb-option value="38">Pennsylvania</nb-option>
          <nb-option value="39">Rhode Island</nb-option>
          <nb-option value="40">South Carolina</nb-option>
          <nb-option value="41">South Dakota</nb-option>
          <nb-option value="42">Tennessee</nb-option>
          <nb-option value="43"> Texas</nb-option>
          <nb-option value="44">Utah</nb-option>
          <nb-option value="45">Vermont</nb-option>
          <nb-option value="46">Virginia</nb-option>
          <nb-option value="47">Washington</nb-option>
          <nb-option value="48">West Virginia</nb-option>
          <nb-option value="49">Wisconsin</nb-option>
          <nb-option value="50">Wyoming</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row filter">
      <div class="col-auto">All</div>
      <div class="col-auto">PAST YEAR</div>
      <div class="col-auto">PAST MONTH</div>
      <div class="col-auto">PAST WEEK</div>
      <span class="col-auto">TODAY</span>
    </div>
  </nb-card-body>
</nb-card>
