<nb-card>
  <nb-card-header>
    <h5 class="text-red-600">Delete user?</h5>
  </nb-card-header>
  <nb-card-body>
    <p>
      This will <b>permanently</b> and <b>irrevocably</b> delete your account. If you do so, you will <b><i>never</i></b> be able to sign up
      from the same Steam account.
    </p>
    <p>
      This feature only exists for privacy reasons, to give users the ability to delete all data identifiable to them from our systems.
      Unless you really want to do that, don't use this feature!
    </p>
    <p>
      Again, we are <b><i>not</i></b> going to help you recover your account if you do this.
    </p>
    <p>
      To confirm, please enter the following code: <b class="random-code">{{ randomCode }}</b>
    </p>
    <div class="relative mt-1 flex w-full items-stretch">
      <input
        (keyup)="onCodeInput($event)"
        nbInput
        type="text"
        class="mb-1 block w-full appearance-none rounded border border-gray-200 bg-white px-2 py-1 text-base leading-normal text-gray-800"
        placeholder="Verification code"
      />
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="no-gutters flex flex-wrap">
      <div class="w-1/2 pr-1">
        <button nbButton status="control" class="w-full bg-gray-900 text-white hover:bg-gray-900" (click)="close()">Cancel</button>
      </div>
      <div class="w-1/2 pl-1">
        <button nbButton status="danger" class="w-full" [disabled]="!this.isCodeValid" (click)="submit()">Delete</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
