<button
  type="button"
  class="btn btn-blue -mb-6 ml-auto"
  [ngClass]="{ 'pointer-events-none saturate-50': disabled }"
  (click)="addEmptyItem()"
>
  Add Leaderboard
</button>
<table
  class="grid w-full border-collapse gap-1"
  [ngClass]="{
    'pointer-events-none brightness-50 saturate-50': disabled
  }"
  [style.grid-template-columns]="
    `minmax(10rem,1fr) minmax(8rem,1fr) 8rem auto minmax(1rem,auto)${wasApproved ? '' : ' minmax(8rem,4fr)'} minmax(8rem,4fr) auto`
  "
>
  <thead class="mt-3 contents bg-gray-950 p-3">
    <tr class="contents">
      <th class="text-center">Gamemode</th>
      <th class="text-center">Type</th>
      <th class="text-center">Track</th>
      <th class="text-center">Tier</th>
      <!-- Header text makes the column wider than the checkbox which looks crap, use an evil absolute to get it looking acceptable-->
      <th class="relative"><span class="absolute left-0">Ranked</span></th>
      @if (!wasApproved) {
        <th class="text-center">Comments</th>
      }
      <th class="text-center">Tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="contents">
    @for (item of value; track $index) {
      <tr class="contents">
        <td>
          <p-select
            class="w-full"
            [(ngModel)]="item.gamemode"
            [options]="wasApproved ? getTrackGamemodes(item.trackType, item.trackNum) : Gamemodes"
            optionLabel="label"
            optionValue="gamemode"
            (blur)="onTouched()"
            (onChange)="onChange(value)"
            appendTo="body"
          />
        </td>
        <td>
          <p-select
            class="w-full"
            [(ngModel)]="item.trackType"
            [options]="TrackTypes"
            optionLabel="label"
            optionValue="type"
            (blur)="onTouched()"
            (onChange)="onTrackTypeChange(item)"
            appendTo="body"
          />
        </td>
        <td>
          @if (item.trackType === TrackType.BONUS) {
            <p-select
              class="w-full"
              [(ngModel)]="item.trackNum"
              [options]="availableBonusTracks"
              (blur)="onTouched()"
              (onChange)="onChange(value)"
              appendTo="body"
            />
          }
        </td>
        <td>
          <p-select
            class="w-full"
            [(ngModel)]="item.tier"
            [options]="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
            (blur)="onTouched()"
            (onChange)="onChange(value)"
            appendTo="body"
          />
        </td>
        <td class="ml-auto">
          <input
            type="checkbox"
            class="checkbox h-[2.625rem] before:h-1/2 before:w-1/2"
            [ngModel]="item.type === LeaderboardType.RANKED"
            (ngModelChange)="updateRankedCheckbox(item, $event)"
            (blur)="onTouched()"
          />
        </td>
        @if (!wasApproved) {
          <td>
            <input
              type="text"
              class="textinput w-full"
              [(ngModel)]="item.comment"
              [maxlength]="MAX_MAP_SUGGESTION_COMMENT_LENGTH"
              (blur)="onTouched()"
              (change)="onChange(value)"
            />
          </td>
        }
        <td>
          <m-chips
            typeName="Tags"
            [chips]="MapTags.get(item.gamemode)"
            [nameFn]="mapTagEnglishName"
            [ngModel]="item.tags"
            (ngModelChange)="updateTags(item, $event)"
          />
        </td>
        <td>
          <button type="button" class="btn btn-red" (click)="removeItem($index)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>
