img {
  max-height: 105px;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

li {
  list-style: none;
  white-space: nowrap;

  a {
    color: white;
  }
}

.button-group > button {
  border-radius: 8px !important;
}

.map-image-container {
  overflow: hidden;
  height: 105px;
}
