<div class="flex flex-wrap items-center py-2 sm:pt-0 lg:pb-0">
  <div class="mb-3 w-full pl-4 pr-4 lg:mb-0 lg:w-1/2">
    <div class="flex flex-wrap sm:items-center">
      <div class="map-image-container mb-3 w-full pl-4 pl-4 pr-4 pr-4 text-center sm:mb-0 sm:w-1/3 sm:text-left lg:w-2/5">
        <a [routerLink]="'/maps/' + map?.id">
          <img [ngSrc]="map?.thumbnail?.small" priority width="186" height="105" />
        </a>
      </div>
      <div class="w-1/2 pl-4 pl-4 pr-4 pr-4 text-right sm:w-1/3 sm:text-left lg:w-1/4">
        <ul>
          <li>Map Name:</li>
          <li>Submitted:</li>
          <li>Submitted By:</li>
        </ul>
      </div>
      <div class="w-1/2 pl-4 pl-4 pr-4 pr-4 sm:w-1/3 lg:w-1/4">
        <ul>
          <li>{{ map?.name }}</li>
          <li>{{ map?.createdAt | date }}</li>
          <li>
            <a [routerLink]="'/profile/' + map?.submitter?.id" class="flex items-center gap-2">
              <m-avatar class="h-6" [url]="map?.submitter.avatarURL" />
              <p>{{ map?.submitter.alias }}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-full pl-4 pr-4 lg:w-1/2">
    <div class="flex flex-wrap sm:items-center">
      <div class="relative mb-2 w-full text-center sm:mb-0 sm:flex-1 sm:flex-grow">
        <a #mapFileDownloadLink class="allowed"></a>
        <button class="m-btn m-btn-blue" (click)="onMapFileDownload(map?.id)">Download</button>
      </div>
      <div class="col-auto mx-auto sm:mr-2">
        <div class="button-group flex lg:flex-col">
          <button type="button" class="m-btn m-btn-green" (click)="updateMapStatus(map?.id, MapUploadStatus.APPROVED)">
            <m-icon icon="check-circle-outline" />
          </button>
          <button type="button" class="m-btn m-btn-red" (click)="updateMapStatus(map?.id, MapUploadStatus.REJECTED)">
            <m-icon icon="close" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
