.credits-section {
  padding: 5rem 0;
}

.team-header {
  margin-bottom: 4rem;
}

.credits-row li {
  font-family: Exo, sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.flex-even {
  flex: 1;
}
