<section id="credits" class="credits-section bg-black">
<div class="container">
  <h1 class="text-white mb-4 text-center">Who's Involved</h1>
  <div class="row no-gutters mb-4 mb-lg-5">
    <div class="col-xl-4 col-lg-4">
      <div class="featured-text text-center text-lg-left text-white-50">
        <h4>Momentum Team</h4>
        <ul>
          <li>Nick K. (Gocnak) - Project Lead</li>
          <li>Tyler S. (Zopha) - Production Designer</li>
          <li>Martin L. (Aux) - Bhop Gameplay Lead</li>
          <li>Cabbage McGravel - Textures/Models/Internal QA</li>
          <li>Alexandre D. (TraZox) - Graphic Design</li>
          <li>Nikolai L. (Monolith) - Sound Lead</li>
          <li>Jason Z. (Juxtapo) - Level Design & UI Design</li>
          <li>Joey - UI Design</li>
          <li>Corey P. (Corey28) - Website Programming</li>
          <li>SlidyBat - Game Programming</li>
          <li>Aidan S. (tuxxi) - Game Programming</li>
          <li>Nolan O. (Rusty) - Game Programming</li>
          <li>Kamay - Game Programming</li>
          <li>Mev - Game Programming</li>
          <li>Kurtis R. (truktruk) - Community/Input</li>
          <li>Sam D. (Beetle179) - Community/Input</li>
          <li>Bocuma - Localization Lead/Map Fixer</li>
          <li>xen - Internal QA</li>
          <li>numanmybro - Internal QA</li>
          <li>Hardex - Level Design - Surf</li>
          <li>pretzL - Level Design - Surf</li>
          <li>masog - Level Design - Surf</li>
          <li>BlueRaven - Level Design - Surf</li>
          <li>Rutherford C. (RNC1839) - Level Design - Surf</li>
          <li>Flaudgin - Level Design - Surf</li>
          <li>Xtra_Festive - Level Design - Surf</li>
          <li>hesuka - Level Design - Surf</li>
          <li>IllusionJM - Level Design - Surf</li>
          <li>not_a_zombie - Level Design - Surf</li>
          <li>GeoZach - Campaign</li>
          <li>SethJH - Texture Artist & 3D Models</li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4">
      <div class="text-center text-lg-left text-white-50">
        <h4>Contributors</h4>
        <ul>
          <li>Acer for bug testing and feedback</li>
          <li>Crashfort for code</li>
          <li>TotallyMehis for code</li>
          <li>OrfeasZ for code</li>
          <li>Fatalis for code</li>
          <li>TheAsuro for code</li>
          <li>Asunaya for entity output timing fix (boosterfix)</li>
          <li>Horsefeathers for initial Level Design</li>
          <li>RabsRincon for prior website and client code</li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4">
      <div class="text-center text-lg-left text-white-50">
        <h4>Special Thanks</h4>
        <ul>
          <li>Everyone in the Momentum Mod Discord</li>
          <li>Mariowned for creating the surf game mode</li>
          <li>Brian Charles for his parallax-corrected cubemaps</li>
          <li>Everyone who has ever contributed</li>
          <li>and, of course,   <img src="assets/images/valve-mark.svg" height="30%" width="30%"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
