<section id="credits" class="credits-section bg-black">
<div class="container">
  <h1 class="text-white mb-4 text-center">Credits</h1>
  <!-- Featured Project Row -->
  <div class="row no-gutters mb-4 mb-lg-5">
    <div class="col-xl-4 col-lg-4">
      <div class="featured-text text-center text-lg-left text-white-50">
        <h4>Who's Involved?</h4>
        <ul>
          <li>Nick K. (Gocnak) - Project Lead</li>
          <li>Aidan S. (tuxxi) - Programming</li>
          <li>Nolan O. (Rusty) - Programming</li>
          <li>Kamay - Programming</li>
          <li>Hardex - Surf Gameplay Lead</li>
          <li>pretzL - Level Design - Surf</li>
          <li>masog - Level Design - Surf</li>
          <li>Rutherford C. (RNC1839) - Level Design - Surf</li>
          <li>Flawed Djinn - Level Design - Surf</li>
          <li>Xtra_Festive - Level Design - Surf</li>
          <li>LG | IllusionJM - Level Design - Surf</li>
          <li>Martin L. (Aux) - Bhop Gameplay Lead</li>
          <li>Jason Z. (Juxtapo) - Level Design & UI Design</li>
          <li>Tyler S. (Zopha) - Production Designer</li>
          <li>SethJH - Texture Artist & 3D Models</li>
          <li>Alexandre D. (TraZox) - Graphic Design</li>
          <li>Sam D. (Beetle179) - Community Coordinator</li>
          <li>Bocuma - Localization Lead</li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 text-white-50">
      <div>
        <h4>Contributors</h4>
        <ul>
          <li>Acer for bug testing and feedback</li>
          <li>Fatalis for coding</li>
          <li>Asunaya for entity output timing fix (boosterfix)</li>
          <li>OrfeasZ for coding</li>
          <li>TotallyMehis for slopeboost fix</li>
          <li>TheAsuro for coding</li>
          <li>SethJH for 2D Art</li>
          <li>Masog for Art / level design</li>
          <li>Horsefeathers for Level Design</li>
          <li>RabsRincon for website and client work</li>
          <li>Crashfort for coding</li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4">
      <div class="text-center text-lg-left text-white-50">
        <h4>Special Thanks</h4>
        <ul>
          <li>Gus Naughton for web, server and Linux advising</li>
          <li>Ivan Vashchaev for his JSON parser Gason</li>
          <li>Discord, Inc. for Discord</li>
          <li>Saul Rennison for his implementation of dynamic RTT shadows</li>
          <li>Viva64 for their super handy tool PVS-Studio</li>
          <li>Brian Charles for his parallax-corrected cubemaps</li>
          <li>Everyone who has ever contributed</li>
          <li>and   <img src="assets/images/valve-mark.svg" height="30%" width="30%"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
