<section id="credits" class="credits-section bg-black">
<div class="container text-center">
  <div class="display-4 font-weight-normal team-header">Momentum Team Roles</div>
  <div class="row credits-row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h4 class="font-weight-normal mb-3">Game Programming</h4>
      <ul class="list-unstyled">
        <li>Nick K. (Gocnak) - Project Lead</li>
        <li>SlidyBat</li>
        <li>Aidan S. (tuxxi)</li>
        <li>Nolan O. (Rusty)</li>
        <li>Kamay</li>
        <li>Mev</li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h4 class="font-weight-normal mb-3">Level Design</h4>
      <div class="d-flex flex-column flex-sm-row">
        <div class="mr-sm-2 flex-even text-sm-right">
          <ul class="mb-0 mr-sm-1 list-unstyled">
            <li>Xtra_Festive</li>
            <li>hesuka</li>
            <li>IllusionJM</li>
            <li>not_a_zombie</li>
            <li>GeoZach</li>
          </ul>
        </div>
        <div class="ml-sm-2 flex-even text-sm-left">
          <ul class="mb-0 ml-sm-1 list-unstyled">
            <li>Hardex</li>
            <li>pretzL</li>
            <li>masog</li>
            <li>BlueRaven</li>
            <li>Flaudgin</li>
          </ul>
        </div>
      </div>
      <ul class="list-unstyled">
        <li>Patrick  M. (Xbmann)</li>
        <li>Rutherford C. (RNC1839)</li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h4 class="font-weight-normal mb-3">Community Input</h4>
      <ul class="list-unstyled">
        <li>numanmybro</li>
        <li>Cabbage McGravel</li>
        <li>Kurtis R. (truktruk)</li>
        <li>Sam D. (Beetle179)</li>
        <li>Tyler S. (Zopha)</li>
        <li>Bocuma</li>
        <li>xen</li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h4 class="font-weight-normal mb-3">Web Design</h4>
      <ul class="list-unstyled">
        <li>Jason Z. (Juxtapo)</li>
        <li>Corey P. (Corey28)</li>
        <li>Bradey B. (Flipybitz)</li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h4 class="font-weight-normal mb-3">Art, Sound, and UI Design</h4>
      <ul class="list-unstyled">
        <li>Cabbage McGravel</li>
        <li>Alexandre D. (TraZox)</li>
        <li>Nikolai L. (Monolith)</li>
        <li>Jason Z. (Juxtapo)</li>
        <li>Bradey B. (Flipybitz)</li>
        <li>Joey</li>
        <li>SethJH</li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h4 class="font-weight-normal mb-3">QA Testers</h4>
      <ul class="list-unstyled">
        <li>Martin L. (Aux)</li>
        <li>Cabbage McGravel</li>
        <li>Kurtis R. (truktruk)</li>
        <li>Sam D. (Beetle179)</li>
        <li>numanmybro</li>
        <li>xen</li>
      </ul>
    </div>
  </div>
</div>
</section>
