@import '../main-page.component.scss';

.credits-section {
  padding: 10rem 0;
}

.credits-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .credits-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

.credits-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .credits-section .project-text {
    padding: 5rem;
  }
  .credits-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
  }
}
