.credits-section {
  padding: 5rem 0;
}

.credits-row li {
  font-family: Exo, sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.5;
  white-space: nowrap;
}

.flex-even {
  flex: 1;
}
