.ngx-pagination {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem !important;
  padding: 0 !important;

  .disabled {
    color: #999999 !important;
  }

  a {
    color: white !important;
    text-decoration: none;

    &:hover {
      background: #4d4d4d !important;
    }
  }
}
