// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/bootstrap/styles/globals';

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import '../components/search/search.component.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  @include mom-search-theme();
};

.nb-theme-dark input[type='number'] {
  padding-top: 0;
  padding-bottom: 0;
}

.nb-theme-dark .btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

body {
  background-color: nb-theme(layout-background-color);
}