// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes/dark';

// which themes you what to enable (empty to enable all)
// $nb-enabled-themes: (dark, mom);

$nb-themes: nb-register-theme((

  font-family-primary: unquote('Roboto, sans-serif'),
  font-family-secondary: unquote('Exo, sans-serif'),

  color-primary-100: #d5e0ed,
  color-primary-200: #abc2db,
  color-primary-300: #82a3c9,
  color-primary-400: #5885b7,
  color-primary-500: #2e66a5,
  color-primary-600: #255284,
  color-primary-700: #1c3d63,
  color-primary-800: #122942,
  color-primary-900: #091421,

  color-basic-100: #fff,
  color-basic-200: #d5e0ed,
  color-basic-300: #abc2db,
  color-basic-400: #82a3c9,
  color-basic-500: #5885b7,
  color-basic-600: #2e66a5,
  color-basic-700: #255284,
  color-basic-800: #1c3d63,
  color-basic-900: #173353,
  color-basic-1000: #0e1f31,
  color-basic-1100: #050a10,

  background-basic-color-1:	#222,
  background-basic-color-2:	#1f1f1f,
  background-basic-color-3:	#1b1b1b,
  background-basic-color-4:	#181818,

  color-primary-focus: color-primary-700,
  color-primary-hover: color-primary-400,
  color-primary-default: color-primary-500,
  color-primary-active: color-primary-600,
  color-primary-disabled: color-primary-300,

  color-info-transparent-default: transparent,
  color-info-transparent-hover: transparent,
  color-info-transparent-active: transparent,

  color-danger-transparent-default: transparent,
  color-danger-transparent-hover: transparent,
  color-danger-transparent-active: transparent,

  color-basic-focus: color-basic-700,
  color-basic-hover: color-basic-400,
  color-basic-default: color-basic-100,
  color-basic-active: color-basic-600,
  color-basic-disabled: color-basic-300,

  text-hint-color: #fff,

  input-background-color: layout-background-color,
  input-border-color: #061f3b,
  input-focus-border-color: #4172aa,

  layout-background-color: #080808,
  layout-content-width: 1400px,

  accordion-header-border-color: layout-background-color,

  tabset-tab-text-color: #fff,
  tabset-tab-underline-color: #fff,
  tabset-tab-active-text-color: color-primary-default,
  tabset-tab-active-underline-color: color-primary-default,
  tabset-content-text-color: #fff,
  tabset-content-padding: 1.25rem,

  menu-text-font-size: 1.2rem,
  menu-text-line-height: 2rem,
  menu-item-active-text-color: #2e66a5,
  menu-item-icon-active-color: #2e66a5,
  menu-item-icon-width: 2rem,
  menu-item-hover-text-color: #2e66a5,
  menu-submenu-padding: 0,
  menu-submenu-item-padding: 0.75rem 2.25rem,
  menu-submenu-item-active-border-color: #2e66a5,

  popover-border-color: #2e66a5,

  shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.5),

  calendar-cell-hover-background-color: #2e66a5,
  calendar-cell-today-background-color: #061f3b,
  calendar-cell-selected-background-color: #2e66a5,
  calendar-cell-active-background-color: #2e66a5,

  stepper-step-text-font-size: 1.25rem,
  stepper-step-index-width: 3rem,
  stepper-horizontal-connector-margin: calc(1.5rem - 1px) 1rem,
  stepper-vertical-connector-margin:  1rem calc(1.5rem - 1px),
  stepper-step-content-padding: 0.5rem,
  stepper-step-active-text-color: #fff,
  stepper-step-text-color: #fff,

  datepicker-border-color: #2e66a5,
  datepicker-text-color: #061f3b,

  progress-bar-default-background-color: linear-gradient(90deg, #00c7c7 0%, #00d977 100%),

  button-filled-primary-background-color: #2e66a5,
  button-filled-success-background-color: #2e66a5,

  checkbox-default-checked-border-color: #2e66a5,

  search-background-color: linear-gradient(to right, #061f3b, #4172aa),

  divider-color: layout-background-color,

  icon-primary-color: #fff,

  user-large-name-text-font-size: 1.5rem,
  user-picture-box-border-color: color-primary-default,
  user-picture-box-border-width: 2px,

  search-divider-color: #fff,

  // app wise variables for each theme
  sidebar-header-height: initial,

  color-bg: #222222,
  color-fg-text: #fff,
  smart-table-bg-even: #525252,
  smart-table-bg-active: #3e3e3e,
  smart-table-header-bg: #3e3e3e,
  scrollbar-fg: #2e66a5,
  scrollbar-bg: #1b3d64,
  color-fg: #ffffff,
  color-fg-highlight: #2e66a5,



  smart-table-paging-bg-active: #2e66a5,
  smart-table-paging-border-color: #2e66a5,

  context-menu-border: #2e66a5,



  link-color: #2e66a5,
  link-color-hover: #1b3d64,







  switcher-background: #4e41a5,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#a258fe, #7958fa),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: radial-gradient(circle, #302c6e 0%, #423f8c 100%),
  slide-out-shadow-color: 2px 0 3px rgba(19, 19, 94, 0.9),
  slide-out-shadow-color-rtl: -2px 0 3px rgba(19, 19, 94, 0.9),

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: rgba(0, 0, 0, 0.1),
  chart-panel-summary-border-color: #332e73,
  chart-panel-summary-border-width: 1px,




  // Custom definitions
  notif-unread-bg: rgba(0, 130, 350, 0.25),
  user-follow-fg: #2e66a5,
  file-upload-border-color: #1b3d64,
  file-upload-border-color-hover: #2e66a5,

), mom, dark);
