<nb-card class="min-w-3xl">
  <nb-card-header>
    <h5 class="text-gray-600">Update Report {{ report.id }}</h5>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="updateReportForm">
      <div class="mb-4">
        <label class="mr-3">Resolved</label>
        <nb-radio-group formControlName="resolved">
          <nb-radio [value]="true" class="inline-block">Yes</nb-radio>
          <nb-radio [value]="false" class="inline-block">No</nb-radio>
        </nb-radio-group>
      </div>
      <div class="m-0 mb-4">
        <label>Resolution Message</label>
        <textarea
          nbInput
          fullWidth
          rows="8"
          class="mb-1 block w-full appearance-none rounded border border-gray-200 bg-white px-2 py-1 text-base leading-normal text-gray-800"
          [maxLength]="1000"
          formControlName="resolutionMessage"
        ></textarea>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="no-gutters flex flex-wrap">
      <div class="w-1/2 pr-1">
        <button
          class="whitespace-no-wrap inline-block w-full select-none rounded border bg-gray-900 px-3 py-1 text-center align-middle font-normal leading-normal text-white no-underline hover:bg-gray-900"
          (click)="cancel()"
        >
          Cancel
        </button>
      </div>
      <div class="w-1/2 pl-1">
        <button
          class="whitespace-no-wrap inline-block w-full select-none rounded border bg-green-500 px-3 py-1 text-center align-middle font-normal leading-normal text-white no-underline hover:bg-green-600"
          (click)="save()"
          [disabled]="!updateReportForm.valid"
        >
          Save
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
