<nb-layout>
  <nb-layout-header fixed>
    <ngx-header />
  </nb-layout-header>

  <nb-sidebar
    class="menu-sidebar"
    tag="menu-sidebar"
    responsive
    [containerFixed]="true"
  >
    <nb-menu [autoCollapse]="true" [items]="menu"></nb-menu>
    <div class="socials">
      <a
        href="https://store.steampowered.com/app/669270/Momentum_Mod/"
        target="_blank"
      >
        <nb-icon icon="steam" pack="si" />
      </a>
      <a href="https://github.com/momentum-mod/" target="_blank">
        <nb-icon icon="github" pack="si" />
      </a>
      <a href="https://discord.gg/n4v52uv" target="_blank">
        <nb-icon icon="discord" pack="si" />
      </a>
      <a href="https://twitter.com/MomentumMod" target="_blank">
        <nb-icon icon="twitter" pack="si" />
      </a>
    </div>
  </nb-sidebar>

  <nb-layout-column class="main-content">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
