@import '../../@theme/styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  @include media-breakpoint-down(xs) {
    .main-content {
      padding: 1rem 0.75rem 0 !important;
    }
  }

  .socials {
    position: absolute;
    bottom: 0.25em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;

    font-size: 2rem;
    a {
      margin-top: 10px;
      padding: 0.4rem;
      color: nb-theme(text-control-color);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(color-primary-hover);
      }
    }
  }
}

::ng-deep body {
  &::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: -1;
    will-change: transform;
    min-height: 100vh;
    min-width: 100vw;
    background: url('/assets/images/splash.webp');
    background-size: cover;
  }

  .layout {
    background-color: unset !important;
  }
}
