@use 'theme' as *;
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  // TODO: Unfuck this
  .socials {
    position: absolute;
    bottom: 0.25em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;

    font-size: 2rem;
    a {
      margin-top: 10px;
      padding: 0.4rem;
      color: nb-theme(text-control-color);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(color-primary-hover);
      }
    }
  }
}
