.about-section {
  padding: 5rem 0 0;
}

.about-row {
  margin-bottom: 6rem;

  .about-text {
    font-size: 1.1rem;
  }
}

.features-list li {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}

@media (max-width: 767.98px) {
  iframe {
    width: 100%;
    height: 287px;
  }
}

@media (max-width: 575.98px) {
  iframe {
    height: 191px;
  }

  .features-list {
    list-style: none;
    padding-left: 0;

    li {
      font-size: 1rem;
    }
  }
}
