<m-card [title]="headerTitle" class="h-full">
  <ng-container header>
    <span class="mr-2">Filter:</span>
    <p-dropdown
      [options]="Types"
      [(ngModel)]="filterValue"
      optionLabel="label"
      optionValue="value"
      (onChange)="filterActivities()"
      appendTo="body"
    />
  </ng-container>
  <div [mSpinner]="loading" [ngStyle]="{ height }" class="infinite-scroll-container scroll-thin overflow-y-scroll pr-4">
    <div
      infinite-scroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="100"
      infiniteScrollContainer=".infinite-scroll-container"
      [fromRoot]="true"
      (scrolled)="load.next()"
    >
      @for (item of filteredActivities; track item.id) {
        <m-activity-content [activity]="item" />
      } @empty {
        @if (!loading) {
          @if (activities.length === 0 && !loading) {
            <p class="italics m-8 h-8 text-center text-2xl text-gray-400">No activities found</p>
          }
        }
      }
    </div>
  </div>
</m-card>
