@use 'theme' as *;
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

nb-tabset ::ng-deep .tabset {
  overflow-x: auto;
  padding-bottom: 0.25rem !important;

  .tab {
    margin-left: auto;
    margin-right: auto;
  }
}

nb-card-header {
  position: relative;

  .text {
    color: lightgray;
  }
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.verified {
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  margin-bottom: 0.5rem;
}

.flg {
  font-size: 2.5rem;
  position: absolute;
  left: 4px;
  top: 4px;
}

.socials {
  display: flex;
  margin: 1rem 0.25rem;

  a {
    font-size: 2rem;
    margin-right: 1rem;

    nb-icon {
      color: nb-theme(text-control-color);
      transition: color ease-out 0.1s;
      width: 2rem;
      height: 2rem;
    }

    &:hover nb-icon {
      color: nb-theme(color-primary-default);
    }
  }
}

.badges img {
  width: 3rem;
  height: 3rem;
}

.top-right-toolbar {
  right: 1.25rem;
  position: absolute;
  z-index: 500;
}

.user-image {
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid nb-theme(color-primary-default);
  width: 15rem;
  height: 15rem;
}

@include media-breakpoint-down(sm) {
  .user-image {
    width: 12rem;
    height: 12rem;
  }

  .badges {
    img {
      max-width: 2.75rem;
    }
  }
}

h5,
h6 {
  color: lightgray;
}

.base {
  border-bottom: 0.5rem solid dodgerblue;
}

.bio {
  white-space: pre-wrap;
}
