<div class="row">
  <div class="col-12 col-xl-7">
    <nb-card *ngIf="user">
      <nb-card-header class="overflow-hidden">
        <span
          *ngIf="user.country && user.country.length === 2"
          [title]="countryDisplayName"
          class="rounded flg fi fi-{{ user.country.toLowerCase() }}"
        ></span>
        <div class="d-flex align-items-center top-right-toolbar">
          <mom-report-button *ngIf="!isLocal" [reportType]="ReportType.USER_PROFILE_REPORT" [reportData]="user.id.toString()" />
          <div *ngIf="canEdit()">
            <button nbButton outline status="info" class="ml-2" type="button" (click)="onEditProfile()">
              <span class="d-none d-md-inline-block">Edit Profile</span>
              <nb-icon class="d-inline-block d-md-none" icon="note-edit" />
            </button>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-auto mb-2">
            <div *ngIf="avatarLoaded" class="ml-2 ml-md-4 user-image" [ngStyle]="{ 'background-image': 'url(' + avatarUrl + ')' }"></div>
          </div>
          <div class="col mb-2">
            <div class="d-flex flex-column justify-content-evenly h-100">
              <div class="d-flex align-items-center">
                <h1>{{ user.alias }}</h1>
                <img
                  *ngIf="isVerified"
                  class="verified"
                  ngSrc="assets/images/badges/BadgeVerified.svg"
                  nbTooltip="Verified"
                  width="49"
                  height="49"
                  alt="Verified Badge"
                />
              </div>
              <div class="d-flex badges" *ngIf="isMapper || isMod || isAdmin">
                <div *ngIf="isMapper" class="mx-1">
                  <img ngSrc="assets/images/badges/BadgeMapper.svg" nbTooltip="Mapper" width="49" height="49" alt="Mapper Badge" />
                </div>
                <div *ngIf="isMod" class="mx-1">
                  <img ngSrc="assets/images/badges/BadgeMod.svg" nbTooltip="Moderator" width="49" height="49" alt="Moderator Badge" />
                </div>
                <div *ngIf="isAdmin" class="mx-1">
                  <img ngSrc="assets/images/badges/BadgeAdmin.svg" nbTooltip="Admin" width="49" height="49" alt="Admin Badge" />
                </div>
              </div>
              <div *ngIf="!hasRole(Role.PLACEHOLDER)">
                <h4 class="text">Level {{ user.userStats?.level }}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters align-items-center">
          <div class="col">
            <div class="ml-0 ml-md-2 socials">
              <a
                *ngIf="!hasRole(Role.PLACEHOLDER)"
                href="https://steamcommunity.com/profiles/{{ user.steamID }}"
                target="_blank"
                class="fab fa-steam"
              ></a>
            </div>
          </div>
          <div class="col-auto" *ngIf="!isLocal">
            <mom-profile-follow [userSubj]="userSubject" />
          </div>
        </div>
      </nb-card-header>
      <nb-tabset>
        <nb-tab tabTitle="Info">
          <h5 class="m-0 text-center" *ngIf="!user.profile?.bio || user.profile?.bio?.length === 0">
            <i>No bio found</i>
          </h5>
          <p class="bio" *ngIf="user.profile?.bio?.length > 0">
            {{ user?.profile?.bio }}
          </p>
        </nb-tab>
        <nb-tab tabTitle="Following ({{ followingUsers.length }})" *ngIf="!hasRole(Role.PLACEHOLDER)">
          <h5 class="m-0 text-center" *ngIf="followingUsers.length === 0">
            <i>Not following anyone</i>
          </h5>
          <nb-list>
            <nb-list-item *ngFor="let usr of followingUsers">
              <a [routerLink]="'/dashboard/profile/' + usr.followed?.id">
                <nb-user [name]="usr.followed?.alias" [picture]="usr.followed?.avatarURL"></nb-user>
              </a>
            </nb-list-item>
          </nb-list>
        </nb-tab>
        <nb-tab tabTitle="Followers ({{ followedByUsers.length }})">
          <h5 class="m-0 text-center" *ngIf="followedByUsers.length === 0">
            <i>No followers</i>
          </h5>
          <nb-list>
            <nb-list-item *ngFor="let usr of followedByUsers">
              <a [routerLink]="'/dashboard/profile/' + usr.followee?.id">
                <nb-user [name]="usr.followee?.alias" [picture]="usr.followee?.avatarURL"></nb-user>
              </a>
            </nb-list-item>
          </nb-list>
        </nb-tab>
        <nb-tab tabTitle="Stats" *ngIf="user.userStats">
          <div class="d-flex flex-wrap justify-content-around text-center">
            <div class="base m-1">
              <h6>Maps Completed</h6>
              <h2>{{ user.userStats.mapsCompleted }}</h2>
            </div>
            <div class="base m-1">
              <h6>Total Jumps</h6>
              <h2>{{ user.userStats.totalJumps }}</h2>
            </div>
            <div class="base m-1">
              <h6>Total Strafes</h6>
              <h2>{{ user.userStats.totalStrafes }}</h2>
            </div>
            <div class="base m-1">
              <h6>Runs Submitted</h6>
              <h2>{{ user.userStats.runsSubmitted }}</h2>
            </div>
            <div class="base m-1">
              <h6>Cosmetic XP</h6>
              <h2>{{ user.userStats.cosXP }}</h2>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Runs" *ngIf="!hasRole(Role.PLACEHOLDER)">
          <mom-profile-run-history [userSubj]="userSubject" />
        </nb-tab>
        <nb-tab tabTitle="Credits">
          <mom-profile-credits [userSubj]="userSubject" />
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
  <div class="col-12 col-xl-5">
    <mom-activity-card *ngIf="user" headerTitle="User Activity" [userSubject]="userSubject" />
  </div>
</div>
