@if (targetFollowStatus) {
  <div class="translate-y- -mt-8 mb-2 text-center text-gray-600">
    <span [mTooltip]="'Following since: ' + (targetFollowStatus?.createdAt | date)"> Follows You </span>
  </div>
}
@if (checked) {
  <div class="text-center" [ngClass]="{ group: localFollowStatus }">
    <!--  TODO: This styling is a little insane and I haven't had a chance to 
              test properly since porting to Tailwind. - Tom-->
    <button class="m-btn m-btn-blue ml-2 h-12 overflow-hidden p-0 font-bold" (click)="followClick()">
      <span
        class="block"
        [ngClass]="{
          'mt-0 [transition-duration:0.3s] hover:-mt-12': localFollowStatus
        }"
        >{{ localFollowStatus ? 'Following' : 'Follow' }}</span
      >
      @if (localFollowStatus) {
        <span class="block">Unfollow</span>
      }
    </button>
    @if (localFollowStatus) {
      <button class="m-btn m-btn-blue" (click)="editNotificationSettings()">
        <m-icon [icon]="localFollowStatus?.notifyOn === 0 ? 'bell-outline' : 'bell-alert'" />
      </button>
    }
  </div>
}
