<div class="custom-card">
  <h4 class="text-center">{{category}}</h4>
  <nb-list>
    <nb-list-item *ngFor="let user of categoryArray" class="row no-gutters">
      <nb-user class="col-11" [name]="user.alias" [picture]="user.avatarURL"></nb-user>
      <div class="col-1 remove-user" *ngIf="editable">
        <button class="btn btn-outline-danger btn-xs btn-icon" (click)="removeUser(user)">
          <i class="ion ion-close-round"></i>
        </button>
      </div>
    </nb-list-item>
    <nb-list-item *ngFor="let userSearch of userSearches">
      <span class="error" *ngIf="userSearch.alreadySelected">User already selected!</span>
      <div class="row no-gutters">
        <user-search class="col-11" (selectedUserEmit)="addUser($event, userSearch)"></user-search>
        <div class="col-1">
          <button class="btn btn-outline-danger btn-xs" (click)="removeUserSearch(userSearch)">
            <i class="ion ion-close-round"></i>
          </button>
        </div>
      </div>
    </nb-list-item>
    <nb-list-item *ngIf="editable">
      <button class="btn btn-primary add-user" (click)="addUserSearch()">
        <i class="ion ion-plus"></i>
      </button>
    </nb-list-item>
  </nb-list>
</div>
