.error {
  color: red;
  margin: auto;
  text-align: center;
  display: block;
}

.add-user, .remove-user {
  display: block;
  margin: auto;

  .btn-outline-danger {
    padding: 0.5rem 1rem;
  }
}

  h4 {
    text-align: center;
  }
  
