<nb-card>
  <nb-card-header>{{category}}</nb-card-header>
  <nb-list>
    <nb-list-item *ngFor="let user of categoryArray" class="row no-gutters">
      <nb-user class="col-10" [name]="user.profile.alias" [picture]="user.profile.avatarURL"></nb-user>
      <button *ngIf="editable" class="btn btn-outline-danger btn-xs btn-icon col-1" (click)="removeUser(user)">
        <i class="ion ion-close-round"></i>
      </button>
    </nb-list-item>
    <nb-list-item *ngIf="editable">
      <button class="btn btn-primary" [nbPopover]="addUserTemplate" (click)="alreadySelected = false">Add</button>
      <ng-template #addUserTemplate>
        <span class="error" *ngIf="alreadySelected">User already selected!</span>
        <user-search (selectedUserEmit)="addUser($event)" ></user-search>
      </ng-template>
    </nb-list-item>
  </nb-list>
</nb-card>
