<nb-card *ngIf="previewMap || map">
  <nb-card-header>
    <div class="row">
      <h2 class="col my-auto">{{ map.name }}</h2>
      <div class="col-auto ml-auto">
        <div class="d-flex align-items-center" *ngIf="!previewMap">
          <mom-report-button
            *ngIf="!isSubmitter"
            [reportType]="ReportType.MAP_REPORT"
            [reportData]="map.id.toString()"
          />
          <div *ngIf="isSubmitter || isAdmin || isModerator">
            <button
              nbButton
              outline
              status="info"
              class="ml-2"
              type="button"
              (click)="onEditMap()"
            >
              <span class="d-none d-md-inline-block">Edit Map</span>
              <nb-icon icon="image-edit" class="d-inline-block d-md-none" />
            </button>
          </div>
          <div class="m-2">
            <button
              nbButton
              outline
              status="info"
              type="button"
              (click)="editNotificationSettings()"
              nbPopover="{{
                mapNotifications
                  ? 'Disable Notifications'
                  : 'Enable Notifications'
              }}"
              nbPopoverTrigger="hint"
            >
              <nb-icon
                [icon]="mapNotifications ? 'bell-alert' : 'bell-outline'"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12 col-lg-5 mb-3 mb-lg-0">
        <gallery id="image-gallery" [skipInitConfig]="true" gallerize></gallery>
      </div>
      <div class="col-12 col-lg-7">
        <nb-tabset [fullWidth]="true" class="shadow overflow-hidden mb-4">
          <nb-tab
            tabTitle="Description"
            [tabIcon]="{ icon: 'file-outline', pack: 'mdi' }"
            responsive
          >
            <mom-map-info-description [map]="map" />
          </nb-tab>
          <nb-tab
            tabTitle="Credits"
            [tabIcon]="{ icon: 'account-multiple-outline', pack: 'mdi' }"
            responsive
          >
            <mom-map-info-credits [map]="map" />
          </nb-tab>
          <nb-tab
            tabTitle="Statistics"
            [tabIcon]="{ icon: 'chart-pie-outline', pack: 'mdi' }"
            responsive
            *ngIf="!previewMap"
          >
            <mom-map-info-stats [map]="map" />
          </nb-tab>
        </nb-tabset>
        <div class="row no-gutters">
          <div class="col-12 col-sm">
            <h6>
              Added On:
              {{ previewMap ? '(some future date)' : (map.createdAt | date) }}
            </h6>
            <h6>Original Release Date: {{ map.info?.creationDate | date }}</h6>
            <h6>
              Submitted By:
              <a [routerLink]="'/dashboard/profile/' + map.submitter?.id">
                <nb-user
                  [name]="map.submitter?.alias"
                  [picture]="map.submitter?.avatarURL"
                  size="small"
                  class="d-inline-block align-middle"
                />
              </a>
            </h6>
          </div>
          <div *ngIf="!previewMap" class="col-12 col-sm">
            <div
              class="d-flex flex-wrap justify-content-around justify-content-sm-end mt-1 mb-3"
            >
              <div
                class="stat"
                nbPopover="{{
                  map.stats?.subscriptions | plural : 'Library' : 'Libraries'
                }}"
                nbPopoverTrigger="hint"
              >
                <nb-icon icon="folder"></nb-icon>
                {{ map.stats?.subscriptions | thousandsSuffix : 1 }}
              </div>
              <div
                class="ml-sm-4 stat"
                nbPopover="{{ map.stats?.favorites | plural : 'Favorite' }}"
                nbPopoverTrigger="hint"
              >
                <nb-icon icon="star"></nb-icon>
                {{ map.stats?.favorites | thousandsSuffix : 1 }}
              </div>
              <div
                class="ml-sm-4 stat"
                nbPopover="{{ map.stats?.downloads | plural : 'Download' }}"
                nbPopoverTrigger="hint"
              >
                <nb-icon icon="download-outline"></nb-icon>
                {{ map.stats?.downloads | thousandsSuffix : 1 }}
              </div>
              <div
                class="ml-sm-4 stat"
                nbPopover="{{ map.stats?.plays | plural : 'Play' }}"
                nbPopoverTrigger="hint"
              >
                <nb-icon icon="play-circle-outline"></nb-icon>
                {{ map.stats?.plays | thousandsSuffix : 1 }}
              </div>
            </div>
            <div class="btn-group text-center text-sm-right">
              <button
                nbButton
                outline
                status="info"
                type="button"
                class="btn"
                (click)="onLibraryUpdate()"
              >
                <span [ngClass]="{ 'c-anim-btn': mapInLibrary }">{{
                  mapInLibrary ? 'In Library' : 'Add Map to Library'
                }}</span>
                <span *ngIf="mapInLibrary">Remove from Library</span>
              </button>
              <button
                nbButton
                outline
                status="info"
                type="button"
                class="btn"
                (click)="onFavoriteUpdate()"
                nbPopover="{{
                  mapInFavorites ? 'Remove from Favorites' : 'Add to Favorites'
                }}"
                nbPopoverTrigger="hint"
              >
                <nb-icon
                  [icon]="mapInFavorites ? 'star' : 'star-outline'"
                ></nb-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<mom-map-leaderboard *ngIf="!previewMap && map" [setMapID]="map?.id" />
