<section id="header">
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <img class="mt-5" width="75%" src="assets/images/site.png">
        <h2 class="text-white mx-auto mt-4 mb-5">A free, standalone movement-focused platformer built on the Source Engine.</h2>
        <div>
          <iframe src="https://store.steampowered.com/widget/669270/" style="border: none;" frameborder="0" width="70%" height="190"></iframe>
        </div>
      </div>
    </div>
  </header>
</section>
