<div class="row">
  <div class="col-12 col-lg">
    <nb-card>
      <nb-card-header>
        <h2>Blog Posts</h2>
      </nb-card-header>
      <nb-card-body>
        <div *ngFor="let blogPost of feed.item.slice(0, POSTS_DISPLAYED)">
          <div class="row align-items-end">
            <h2 class="col">{{ blogPost.title }}</h2>
            <h5 class="col-auto ml-auto d-none d-sm-block pubDate">
              {{ blogPost.pubDate }}
            </h5>
          </div>
          <p class="pb-3 post-separator">
            <span
              class="mr-2 md-override"
              [innerHTML]="blogPost['content:encoded']"
            ></span>
            <a [href]="blogPost.link" target="_blank" class="text-nowrap"
              >Read More</a
            >
          </p>
        </div>
        <h3 class="m-0 text-center" *ngIf="loaded">
          Read more official posts
          <a href="https://blog.momentum-mod.org" target="_blank">here</a>!
        </h3>
        <h3 class="m-0 text-center" *ngIf="!loaded">
          Waiting for API response
        </h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-lg-auto">
    <div class="mb-4">
      <iframe
        src="https://discordapp.com/widget?id=235111289435717633&theme=dark"
        width="100%"
        height="500"
        allowtransparency="true"
      ></iframe>
    </div>
  </div>
</div>
