@for (type of MapCreditNames | keyvalue; track type) {
  <div class="flex h-full flex-col">
    <p class="mb-1 ml-2 flex items-center text-2xl font-medium">
      {{ type.value }} <m-icon class="ml-1 p-1" *ngIf="type.key === MapCreditType.AUTHOR" icon="asterisk" mTooltip="At least 1 required" />
    </p>
    <div
      class="m-inputlike flex-grow border-opacity-0"
      id="{{ type.key }}"
      cdkDropList
      [cdkDropListData]="value[type.key]"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="connectedTo"
      mTooltip
      [tooltipContext]="type.key"
      tooltipPosition="top"
      tooltipEvent="noop"
    >
      @for (credit of value[type.key]; track credit) {
        <div class="w-100 flex cursor-move bg-white bg-opacity-0 p-3 transition-colors hover:bg-opacity-5" cdkDrag>
          <m-avatar class="mr-2 aspect-square h-[3.25rem]" [url]="credit.user.avatarURL" />
          <div class="flex flex-grow flex-col">
            <div class="flex">
              <span class="mr-3 flex-grow">{{ credit.user.alias }}</span>
              <button (click)="removeUser(type.key, credit.user)">
                <m-icon icon="close-thick" class="h-5 w-5 transition-colors hover:text-red-400" />
              </button>
            </div>
            <input class="m-textinput !px-3 !py-0.5 text-sm" placeholder="Description" [(ngModel)]="credit.description" />
          </div>
        </div>
      }
    </div>
    <m-user-search #searchInput [showProfileButton]="true" (selected)="addUser(type.key, $event, searchInput)" class="mr-2 mt-4" />
    <div class="mr-2 mt-2 flex">
      <input [formControl]="placeholderInputs.get(type.key)" class="m-textinput flex-grow" placeholder="Create placeholder..." />
      @if (placeholderInputs.get(type.key).valid) {
        <button class="m-btn m-btn-green ml-2" (click)="addPlaceholder(type.key, placeholderInputs.get(type.key).value)">Add</button>
      }
      <m-icon
        class="my-auto ml-4 h-6 w-6 opacity-80 transition-opacity hover:opacity-100"
        [mTooltip]="creditsInfo"
        icon="tooltip-question-outline"
      />
    </div>
    <ng-template #creditsInfo>
      <div class="prose p-3">
        <p>
          Placeholder users are a way to credit someone that doesn't have a Momentum account. Just submit an alias and a 'placeholder'
          account will be created on approval.
        </p>
        <p>
          If that person signs up for Momentum in the future, they can contact an admin to have any placeholder accounts merged into their
          real account.
        </p>
        <p>
          If the placeholder you want to credit may have been involved with other maps in the past, search for their username to see if you
          have find any existing placeholders (marked by the little purple ghost icon).
        </p>
      </div>
    </ng-template>
  </div>
}
