.profile {
  color: white;
  margin: auto auto auto 0;
}

.text {
  color: white;
  display: block;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-family: 'Exo', serif;
}

.icon {
  font-size: 2rem;
  margin-left: 1rem;
}
