<m-card title="Edit Map">
  <button header class="m-btn" [routerLink]="'/maps/' + map?.id">Return to Map</button>
  <p-tabView class="overflow-hidden">
    <p-tabPanel header="Info">
      <form (ngSubmit)="onInfoSubmit()" [formGroup]="infoForm">
        <div class="mb-4 mt-2">
          <h5>YouTube URL / ID</h5>
          <input class="m-textinput m-textinput-validated min-w-[24rem]" formControlName="youtubeID" type="text" />
        </div>
        <div class="mb-4">
          <h5>Map Description</h5>
          <textarea
            rows="6"
            class="m-textinput m-textinput-validated mb-1 w-full"
            formControlName="description"
            type="description"
            [ngClass]="{ 'form-control-danger': description.invalid }"
          ></textarea>
          @if (description.hasError('maxlength')) {
            <div class="bg-dark-800 mb-0 mt-2 border border-red-600 px-3 py-2 text-red-600">Text cannot exceed 1000 characters.</div>
          }
          <span class="mr-2 mt-2 block justify-end">{{ 1000 - description.value.length | plural: 'character' }} remaining</span>
        </div>
        <button class="m-btn m-btn-blue" type="submit" [disabled]="infoForm.invalid">Save info</button>
      </form>
    </p-tabPanel>
    <p-tabPanel header="Images">
      <form (ngSubmit)="onImagesSubmit()">
        <div class="mt-2 overflow-auto text-center">
          <div class="mb-3 inline-block text-left">
            <h5 class="font-weight-lighter mx-2">
              <div class="thumb-text inline-block font-normal">Thumbnail&nbsp;</div>
              <div class="inline-block">Extra Images</div>
            </h5>
            <div class="inline-flex items-center" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="imageDrop($event)">
              @for (img of images; track img) {
                <div class="map-image-cont mx-2" cdkDrag>
                  <img class="map-image" [ngSrc]="img.small" width="192" height="108" />
                  <button class="m-btn m-btn-red" (click)="removeMapImage(img)">
                    <m-icon class="full" icon="close"></m-icon>
                  </button>
                </div>
              }
              @if (images.length < imagesLimit) {
                <div class="upload-box mx-2">
                  <m-file-upload (change)="onMapImageSelected()" accept=".jpg,.jpeg" />
                </div>
              }
            </div>
          </div>
        </div>
        <div class="submit-btn inline-flex items-center">
          <button class="m-btn m-btn-blue mr-2" type="submit">Save images</button>
          <m-icon class="text-yellow-500" icon="alert" title="Under Construction"></m-icon>
          <!-- TODO: Remove when images submitting is added -->
        </div>
      </form>
    </p-tabPanel>
    <p-tabPanel header="Credits">
      <form [formGroup]="creditsForm">
        <div class="mt-2">
          <m-map-credits [credits]="credits" [editable]="true" (creditChange)="onCreditChanged()" />
        </div>
        <button class="m-btn m-btn-blue" type="submit" [disabled]="creditsForm.invalid" (click)="onCreditsSubmit($event)">
          Save credits
        </button>
      </form>
    </p-tabPanel>
    @if ((isAdmin || isModerator) && map) {
      <p-tabPanel tabTitle="Admin Map Settings">
        <form [formGroup]="adminForm">
          <div class="text-right">
            <button class="m-btn m-btn-red" (click)="showMapDeleteDialog()">Delete Map</button>
          </div>
        </form>
      </p-tabPanel>
    }
  </p-tabView>
</m-card>
