<m-card-header titleSize="5" title="Edit Map">
  <button type="button" class="btn -mb-4" [routerLink]="'/maps/' + map?.name">Return to Map</button>
</m-card-header>

<!-- Using `display: none` instead of ngIf to hide stuff as this component
     uses ViewChilds, which are a nightmare when not static -->

<form
  [formGroup]="versionForm"
  (ngSubmit)="submitVersionForm()"
  [mSpinner]="loading"
  class="card card--fancy my-8 flex-col overflow-visible p-4"
  [ngClass]="isSubmitter ? '!flex' : '!hidden'"
  preventEnterSubmit
>
  <div class="card-title -mt-10 mb-2 text-5xl">Submit New Version</div>
  <div class="flex gap-4">
    <div class="flex w-1/3 grow flex-col gap-2">
      <div class="prose">
        <p>
          Provide new BSP and zone files and list of changes between the last version and this one. Players will automatically download the
          new version when they next launch the map.
        </p>
        <p>
          You can optionally reset the current map leaderboards each version. This is recommended if you've added new stages/checkpoints, or
          significantly moved the geometry of the map. Replay files don't include map geometry, so if you don't reset you may end up with
          players flying through walls / the void!
        </p>
      </div>
      <div class="mt-auto flex items-center justify-end gap-2 self-end">
        <span class="text-lg">Reset leaderboards</span>
        <input type="checkbox" class="checkbox" [formControl]="resetLbs" />
      </div>

      <button
        type="submit"
        class="btn btn-green self-end"
        [disabled]="loading || isSubmittingVersionForm || versionForm.pristine || versionForm.invalid"
      >
        Submit
      </button>
    </div>
    <div class="flex w-2/3 grow flex-col gap-2">
      <div class="flex items-center gap-2">
        <p class="text-lg">Changelog</p>
        <span class="text-sm italic text-gray-200">Required</span>
      </div>
      <textarea class="textinput textinput-validated mb-2 w-full" rows="8" [formControl]="changelog"></textarea>
      <div class="flex gap-4">
        <m-file-upload class="grow" [formControl]="bsp" typeName="BSP" acceptExtensions=".bsp" icon="land-plots" />
        <m-file-upload class="grow" [formControl]="zon" typeName=".json" icon="vector-polygon" acceptExtensions=".json" />
        <m-multi-file-upload class="grow" [formControl]="vmfs" typeName="VMF" acceptExtensions=".vmf" icon="hammer" [max]="20" />
      </div>
    </div>
  </div>
  @if (FormUtils.groupIsActuallyInvalid(versionForm)) {
    <div class="mt-4">
      <p class="my-auto block rounded bg-black bg-opacity-25 px-4 py-2 font-mono text-sm">
        Error: {{ FormUtils.getAllErrors(versionForm) | json }}
      </p>
    </div>
  }
  @if (isUploading) {
    <p-progressBar class="mb-2 mt-8" [value]="uploadPercentage" [showValue]="false" />
    <p class="text-center italic">{{ uploadStatusDescription }}</p>
  }
</form>

<div
  [mSpinner]="loading"
  class="card card--fancy my-8 flex-col gap-4 overflow-visible p-4"
  [ngClass]="isSubmitter && map.status === MapStatus.PRIVATE_TESTING ? '!flex' : '!hidden'"
>
  <p class="card-title -mb-4 -mt-9 text-5xl">Invite Testers</p>
  <m-map-test-invite-selection [formControl]="testInviteForm" />
  <button
    type="button"
    (click)="submitTestInviteForm()"
    class="btn btn-green self-end"
    [disabled]="loading || isSubmittingTestInviteForm || testInviteForm.pristine || testInviteForm.invalid"
  >
    Update Invites
  </button>
</div>

<form
  [formGroup]="mainForm"
  (ngSubmit)="submitMainForm()"
  [mSpinner]="loading"
  class="card card--fancy mb-8 mt-14 flex-col gap-8 overflow-visible p-4"
  [ngClass]="isAdmin || isMod || isSubmitter || isReviewer ? '!flex' : '!hidden'"
  preventEnterSubmit
>
  <p class="card-title -mb-4 -mt-9 text-5xl">Update Map</p>

  <fieldset class="card-inset flex flex-col" [ngClass]="isAdmin || isMod || isSubmitter ? '!flex' : '!hidden'">
    <legend class="font-display text-4xl font-bold">Details</legend>
    <m-map-details-form [formGroup]="details" [isModOrAdmin]="isAdmin || isMod" />
  </fieldset>

  <fieldset class="card-inset flex flex-col" [ngClass]="isAdmin || isMod || isSubmitter ? '!flex' : '!hidden'">
    <legend class="font-display text-4xl font-bold">Change Submitter</legend>
    <p class="color-red-500 mb-4 mt-2 italic">
      Updating this removes the ability for the current submitter to update the map. Use responsibly!
    </p>
    <m-user-select [formControl]="submitter" />
  </fieldset>

  <fieldset class="card-inset flex flex-col" [ngClass]="isAdmin || isMod || isSubmitter ? '!flex' : '!hidden'">
    <legend class="font-display text-4xl font-bold">Images</legend>
    <m-map-image-selection [formControlPassthrough]="images" icon="image-multiple-outline" [previewFullscreenBackground]="true" />
    @if (images.errors?.['required'] && images.dirty) {
      <p class="mt-2 text-right text-lg text-red-400"><b>Error: </b>Must include at least a thumbnail image.</p>
    }
    @if (images.errors?.['fileExtension']) {
      <p class="mt-2 text-right text-lg text-red-400"><b>Error: </b>All images must be PNG.</p>
    }
    @if (images.errors?.['fileMaxSize']) {
      <p class="mt-2 text-right text-lg text-red-400">
        <b>Error: </b>Maximum allowed image file size is {{ MAX_MAP_IMAGE_SIZE / (1024 * 1024) }} MiB.
      </p>
    }
    @if (images.errors?.['imageFileDimensionsError']) {
      <p class="mt-2 text-right text-lg text-red-400"><b>Error: </b>All images must be 2560x1440 - use the TODO!!! command!</p>
    }
    @if (images.errors?.['imageFileReadError']) {
      <p class="mt-2 text-right text-lg text-red-400"><b>Error: </b>Bad image file.</p>
    }
    @if (images.errors?.['fileReadError']) {
      <p class="mt-2 text-right text-lg text-red-400"><b>Error: </b>Could not read file.</p>
    }
  </fieldset>

  <fieldset class="card-inset flex flex-col" [ngClass]="isAdmin || isMod || isSubmitter ? '!flex' : '!hidden'">
    <legend class="font-display text-4xl font-bold">Credits</legend>
    <m-map-credits-selection class="grid h-full min-h-[18rem] gap-4 md:grid-cols-1 lg:grid-cols-4" [formControl]="credits" />
  </fieldset>

  <fieldset class="card-inset flex flex-col" [ngClass]="isSubmitter ? '!block' : '!hidden'">
    <legend class="font-display text-4xl font-bold">Leaderboards</legend>
    <m-map-leaderboards-selection [formControl]="suggestions" />
    @if (suggestions.dirty && suggestions.errors) {
      <p class="my-2 ml-auto text-right text-lg text-red-400"><b>Error: </b>{{ suggestions.errors['error'] }}</p>
    } @else if (suggestions.pristine && suggestions.errors) {
      <p class="mb-1 ml-auto text-right text-lg text-red-400">
        <span class="font-medium"
          >Your latest zones don't match with your suggestions, you'll need to update them before you can update the map. </span
        ><b>Error: </b> >{{ suggestions.errors['error'] }}
      </p>
    }
  </fieldset>

  <fieldset class="card-inset flex flex-col gap-2">
    <legend class="font-display text-4xl font-bold">Status Update</legend>
    <m-map-status-form [formGroup]="statusChange" [map]="map" [sub]="isSubmitter" [adm]="isAdmin" [mod]="isMod" [rev]="isReviewer" />
  </fieldset>

  <div class="-mt-4 flex gap-4">
    @if (mainForm.invalid) {
      <p class="my-auto block rounded bg-black bg-opacity-25 px-4 py-2 font-mono text-sm">
        Error: {{ FormUtils.getAllErrors(mainForm) | json }}
      </p>
    }
    <button class="btn btn-green ml-auto" type="submit" [disabled]="loading || mainForm.pristine || mainForm.invalid">Update Map</button>
    <button type="button" class="btn" [routerLink]="'/maps/' + map?.name">Return to Map</button>
  </div>
</form>

@if (isAdmin && map.info.approvedDate) {
  <button class="btn btn-red ml-auto" type="button" (click)="disableMap()">Disable map and delete files</button>
}

@if (inSubmission && !map.info.approvedDate && (isSubmitter || isAdmin)) {
  <button class="btn btn-red mr-auto" type="button" (click)="deleteMap()">Delete map</button>
}
