<m-card title="Edit Map">
  <button header class="m-btn" [routerLink]="'/maps/' + map?.id">Return to Map</button>
  <nb-tabset class="overflow-hidden">
    <nb-tab tabTitle="Info">
      <form (ngSubmit)="onInfoSubmit()" [formGroup]="infoForm">
        <div class="mb-4 mb-4 mt-2">
          <h5>YouTube URL / ID</h5>
          <input
            nbInput
            class="youtube-inp mb-1 block w-full appearance-none rounded border border-gray-200 bg-white px-2 py-1 text-base leading-normal text-gray-800"
            formControlName="youtubeID"
            type="text"
            [ngClass]="{ 'form-control-danger': youtubeID.invalid }"
          />
        </div>
        <div class="mb-4">
          <h5>Map Description</h5>
          <textarea
            nbInput
            fullWidth
            rows="6"
            class="mb-1 block w-full appearance-none rounded border border-gray-200 bg-white px-2 py-1 text-base leading-normal text-gray-800"
            formControlName="description"
            type="description"
            [ngClass]="{ 'form-control-danger': description.invalid }"
          ></textarea>
          <nb-alert class="mb-0 mt-2 px-3 py-2 text-red-600" outline="danger" *ngIf="description.hasError('maxlength')">
            Text cannot exceed 1000 characters.
          </nb-alert>
          <span class="mr-2 mt-1 mt-2 block flex justify-end">{{ 1000 - description.value.length | plural: 'character' }} remaining</span>
        </div>
        <button class="m-btn m-btn-blue" type="submit" [disabled]="infoForm.invalid">Save info</button>
      </form>
    </nb-tab>
    <nb-tab tabTitle="Images">
      <form (ngSubmit)="onImagesSubmit()">
        <div class="mt-2 overflow-auto text-center">
          <div class="mb-3 inline-block text-left">
            <h5 class="font-weight-lighter mx-2">
              <div class="thumb-text inline-block font-normal">Thumbnail&nbsp;</div>
              <div class="inline-block">Extra Images</div>
            </h5>
            <div class="inline-flex items-center" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="imageDrop($event)">
              <div class="map-image-cont mx-2" *ngFor="let img of images" cdkDrag>
                <img class="map-image" [ngSrc]="img.small" width="192" height="108" />
                <button class="m-btn m-btn-red" (click)="removeMapImage(img)">
                  <m-icon class="full" icon="close"></m-icon>
                </button>
              </div>
              <div class="upload-box mx-2" *ngIf="images.length < imagesLimit">
                <m-file-upload (change)="onMapImageSelected()" accept=".jpg,.jpeg" />
              </div>
            </div>
          </div>
        </div>
        <div class="submit-btn inline-flex items-center">
          <button class="m-btn m-btn-blue mr-2" type="submit">Save images</button>
          <m-icon class="text-yellow-500" icon="alert" title="Under Construction"></m-icon>
          <!-- TODO: Remove when images submitting is added -->
        </div>
      </form>
    </nb-tab>
    <nb-tab tabTitle="Credits">
      <form [formGroup]="creditsForm">
        <div class="mt-2">
          <m-map-credits [credits]="credits" [editable]="true" (creditChange)="onCreditChanged()" />
        </div>
        <button class="m-btn m-btn-blue" type="submit" [disabled]="creditsForm.invalid" (click)="onCreditsSubmit($event)">
          Save credits
        </button>
      </form>
    </nb-tab>
    <nb-tab *ngIf="(isAdmin || isModerator) && map" tabTitle="Admin Map Settings">
      <form [formGroup]="adminForm">
        <div class="text-right">
          <button class="m-btn m-btn-red" (click)="showMapDeleteDialog()">Delete Map</button>
        </div>
      </form>
    </nb-tab>
  </nb-tabset>
</m-card>
