@if (user) {
  <div class="grid grid-cols-5 gap-4">
    <div class="col-span-full flex flex-col xl:col-span-3">
      <div
        class="mb-4 flex gap-4 rounded border border-white border-opacity-10 bg-cover bg-center bg-no-repeat p-4 text-xl"
        style="background-image: url('/assets/images/playercard_bg.png')"
      >
        @if (avatarLoaded) {
          <div
            class="h-40 w-40 rounded-2xl bg-cover bg-no-repeat"
            [ngStyle]="{
              'background-image': 'url(' + avatarUrl + ')'
            }"
          ></div>
        }
        <div class="flex flex-grow flex-col justify-between">
          <div class="flex gap-1">
            <h1
              class="flex flex-grow items-center gap-2 font-medium"
              [fontSizeLerp]="{ chars: user.alias.length, startAt: 16, baseRem: 2.25 }"
            >
              {{ user.alias }}
              @if (user.country && user.country.length === 2) {
                <span [title]="countryDisplayName" class="rounded inline-block w-7 text-4 fi fi-{{ user.country.toLowerCase() }}"></span>
              }
              @if (!hasRole(Role.PLACEHOLDER) && !hasRole(Role.DELETED)) {
                <a href="https://steamcommunity.com/profiles/{{ user.steamID }}" target="_blank" mTooltip="Steam Profile">
                  <m-icon class="h-7 w-7 text-gray-50 transition duration-100 ease-out hover:text-blue-500" icon="steam" pack="si" />
                </a>
              }
            </h1>
            <div class="flex gap-1">
              @if (!isLocal && (localUserService.user | async) && !localUserService.isLimited) {
                <m-report-button
                  class="aspect-square p-2"
                  mTooltip="Report Profile"
                  [reportType]="ReportType.USER_PROFILE_REPORT"
                  [reportData]="user.id.toString()"
                />
                <button
                  type="button"
                  class="btn btn-green stack aspect-square p-2"
                  [mTooltip]="(localFollowStatus | async) ? 'Unfollow' : 'Follow'"
                  (click)="toggleFollow()"
                >
                  <m-icon
                    class="opacity-100 transition-opacity [:hover>&]:opacity-0"
                    [icon]="(localFollowStatus | async) ? 'heart' : 'heart-outline'"
                  />
                  <m-icon
                    class="opacity-0 transition-opacity [:hover>&]:opacity-100"
                    [icon]="(localFollowStatus | async) ? 'heart-broken' : 'heart'"
                  />
                </button>
                @if (localFollowStatus | async) {
                  <button
                    type="button"
                    class="btn btn-blue aspect-square p-2"
                    mTooltip="Edit Notifications"
                    (click)="editFollowNotifications()"
                  >
                    <m-icon [icon]="(localFollowStatus | async).notifyOn === 0 ? 'bell-outline' : 'bell-alert'" />
                  </button>
                }
              }
              @if (isLocal || localUserService.isModOrAdmin) {
                <button class="btn btn-purple aspect-square p-2" type="button" mTooltip="Edit Profile" (click)="onEditProfile()">
                  <m-icon icon="note-edit" />
                </button>
              }
            </div>
          </div>
          <m-role-badges class="h-10 !gap-0" [roles]="user.roles" classes="p-1" />
          @if (!hasRole(Role.DELETED)) {
            <div class="flex w-full gap-2 font-display text-2xl">
              <div class="flex-grow">
                <p class="pb-1 leading-none">{{ xp - currLevelXp }} / {{ nextLevelXp - currLevelXp }} xp</p>
                <p-progressBar class="h-2 w-full" [showValue]="false" [value]="(100 * (xp - currLevelXp)) / (nextLevelXp - currLevelXp)" />
              </div>
              <m-level-indicator class="mt-auto" [totalLevel]="user.userStats.level" />
            </div>
          }
        </div>
      </div>
      <div class="card gap-5 p-4 [&>*:not(.card-inset)]:px-2">
        @if (user.profile?.bio?.length > 0) {
          <p class="card-inset scroll-thin max-h-60 overflow-y-auto text-ellipsis whitespace-break-spaces">{{ user.profile.bio }}</p>
        }
        @if ((user.profile.socials | unsortedKeyvalue).length) {
          <div class="grid gap-2 md:grid-cols-3 lg:grid-cols-4">
            @for (social of user.profile.socials | unsortedKeyvalue; track social) {
              @if (social.value) {
                <a
                  class="m-1 overflow-hidden text-ellipsis whitespace-nowrap transition duration-100 ease-out hover:!text-blue-500"
                  href="https://{{ SocialsData[social.key].url }}/{{ social.value }}"
                  target="_blank"
                  [mTooltip]="social.key"
                >
                  <m-icon class="mr-1 h-7 w-7 align-middle text-white" [icon]="SocialsData[social.key].icon" pack="si" />
                  {{ social.value }}
                </a>
              }
            }
          </div>
        }

        <div class="flex flex-wrap gap-4">
          <div class="flex-grow basis-0">
            <h3 class="font-display font-bold">Followers ({{ followedByUsers.length }})</h3>
            @if (followedByUsers.length === 0) {
              <h5 class="m-0">
                <i>No followers</i>
              </h5>
            } @else {
              <ul class="scroll-thin max-h-[17.5rem] overflow-y-auto">
                @for (usr of followedByUsers; track usr) {
                  <li class="py-1">
                    <a [routerLink]="'/profile/' + usr.followee?.id" class="flex items-center">
                      <m-avatar class="mr-2 h-12" [url]="usr.followee?.avatarURL" />
                      <p>
                        {{ usr.followee?.alias }}<br />
                        <span class="text-gray-300">Since - {{ usr.createdAt | date }}</span>
                      </p>
                    </a>
                  </li>
                }
              </ul>
            }
          </div>
          @if (!hasRole(Role.PLACEHOLDER) && !hasRole(Role.DELETED)) {
            <div class="w-[1px] bg-gray-400"></div>
            <div class="flex-grow basis-0">
              <h3 class="font-display font-bold">Following ({{ followingUsers.length }})</h3>
              @if (followingUsers.length === 0) {
                <h5 class="m-0">
                  <i>Not following anyone</i>
                </h5>
              } @else {
                <ul class="scroll-thin max-h-[17.5rem] overflow-y-auto">
                  @for (usr of followingUsers; track usr) {
                    <li class="py-1">
                      <a [routerLink]="'/profile/' + usr.followed?.id" class="flex items-center">
                        <m-avatar class="mr-2 h-12" [url]="usr.followed?.avatarURL" />
                        <p>
                          {{ usr.followed?.alias }}<br />
                          <span class="text-gray-300">Since - {{ usr.createdAt | date }}</span>
                        </p>
                      </a>
                    </li>
                  }
                </ul>
              }
            </div>
          }
        </div>

        @if (isLocal) {
          <div>
            <button class="btn btn-blue w-fit" type="button" (click)="showSteamFriendsModal()">
              Import Steam Friends
              <m-icon icon="steam" pack="si" class="ml-2 shrink-0" />
            </button>
          </div>

          <p-dialog
            [mSpinner]="!steamFriends"
            [(visible)]="importSteamFriendsModalVisible"
            [modal]="true"
            [style]="{ 'min-width': '25rem' }"
            [draggable]="false"
            [resizable]="false"
          >
            <ng-template pTemplate="header">
              <div class="flex w-full flex-col gap-4">
                <p class="text-lg">Import Steam friends to followers</p>
                @if (steamFriends && steamFriends.length > 0) {
                  <div class="flex justify-start gap-4">
                    <button
                      [disabled]="steamFriendsToAdd.size === steamFriends.length"
                      class="btn btn-blue"
                      type="button"
                      (click)="selectAllSteamFriends()"
                    >
                      Select All
                    </button>

                    @if (steamFriendsToAdd.size > 0) {
                      <button class="btn btn-blue" type="button" (click)="deselectAllSteamFriends()">Deselect All</button>
                    }
                  </div>
                }
              </div>
            </ng-template>
            <div class="mb-4 grid gap-4">
              @if (steamFriends && steamFriends.length > 0) {
                @for (steamFriend of steamFriends; track $index) {
                  <div class="flex items-center gap-4">
                    <input
                      type="checkbox"
                      class="checkbox mr-1"
                      [checked]="steamFriendsToAdd.has(steamFriend.id)"
                      (change)="toggleSteamFriend(steamFriend)"
                    />
                    <m-avatar class="h-10" [url]="steamFriend.avatarURL" />
                    <p>{{ steamFriend.alias }}</p>
                  </div>
                }
              } @else if (loadingSteamFriends) {
                <m-spinner />
              } @else {
                <p><i>Steam Friends not found</i></p>
              }
            </div>

            <ng-template pTemplate="footer">
              <button
                class="btn btn-green w-fit"
                type="button"
                [disabled]="steamFriendsToAdd.size === 0"
                (click)="importSteamFriendsToFollow()"
              >
                Follow
              </button>
            </ng-template>
          </p-dialog>

          @if (credits && credits.length > 0) {
            <div>
              <h3 class="font-display font-bold">Credits</h3>
              <div class="ng-star-inserted grid gap-2 md:grid-cols-3 lg:grid-cols-4">
                @for (type of MapCreditType | enumValue; track $index) {
                  @if (creditMap[type]) {
                    <div>
                      <p class="font-sm mb-1 font-bold uppercase text-gray-200">
                        {{ MapCreditNames.get(type) }}
                      </p>
                      @for (credit of creditMap[type]; track $index) {
                        <a routerLink="/maps/{{ credit.map?.id }}">
                          <p class="font-sm text-gray-200">
                            {{ credit.map?.name }}
                          </p>
                        </a>
                      }
                    </div>
                  }
                }
              </div>
            </div>
          }
        }
      </div>
    </div>
    <div class="col-span-full flex flex-col max-xl:row-start-2 xl:col-span-2">
      @if (user) {
        <m-activity headerTitle="Activity" [activityFetchType]="isLocal ? 'own' : userSubject" class="h-full" />
      }
    </div>
  </div>
} @else {
  <m-spinner />
}
