<div class="flex flex-wrap">
  @for (type of MapCreditNames | keyvalue; track type) {
    <div class="mb-4 w-full pl-4 pr-4 md:w-1/2 lg:w-1/4">
      <h4>{{ type.value }}</h4>
      @if (credits[type.key].length > 0) {
        <ul cdkDropList (cdkDropListDropped)="drop($event, type.key)">
          @for (credit of credits[type.key]; track credit) {
            <li cdkDrag>
              <m-avatar class="avatar" [url]="credit.user.avatarURL" />
              <div class="main">
                <span class="name">{{ credit.user.alias }}</span>
                @if (!editable) {
                  <span class="description">{{ credit.description }}</span>
                }
                @if (editable) {
                  <input class="m-textinput description" placeholder="Description" [(ngModel)]="credit.description" />
                }
              </div>
              @if (editable) {
                <button class="m-btn m-btn-red" (click)="removeUser(type.key, credit.user)">
                  <m-icon icon="close-thick" />
                </button>
              }
            </li>
          }
        </ul>
      }
      @if (searchStates[type.key] !== SearchState.HIDDEN) {
        <div class="search-wrapper">
          @if (searchStates[type.key] === SearchState.USER_ALREADY_SELECTED) {
            <div class="selected-warning">User already selected!</div>
          }
          <m-user-search (selected)="addUser(type.key, $event)" />
          <button class="m-btn m-btn-orange" (click)="hideUserSearch(type.key)">Cancel</button>
        </div>
      }
      @if (editable && searchStates[type.key] === SearchState.HIDDEN) {
        <button class="m-btn m-btn-blue" (click)="showUserSearch(type.key)">
          <m-icon icon="plus-thick" />
        </button>
      }
    </div>
  }
</div>
