<div class="flex flex-wrap">
  <div *ngFor="let type of MapCreditNames | keyvalue" class="mb-4 w-full pl-4 pr-4 md:w-1/2 lg:w-1/4">
    <h4>{{ type.value }}</h4>
    <ng-container *ngIf="credits[type.key].length > 0">
      <nb-list cdkDropList (cdkDropListDropped)="drop($event, type.key)">
        <nb-list-item *ngFor="let credit of credits[type.key]" cdkDrag>
          <nb-user class="avatar" [picture]="credit.user.avatarURL" onlyPicture />
          <div class="main">
            <span class="name">{{ credit.user.alias }}</span>
            <span class="description" *ngIf="!editable">{{ credit.description }}</span>
            <input class="description" placeholder="Description" *ngIf="editable" nbInput [(ngModel)]="credit.description" />
          </div>
          <button class="m-btn m-btn-red" *ngIf="editable" (click)="removeUser(type.key, credit.user)">
            <m-icon icon="close-thick" />
          </button>
        </nb-list-item>
      </nb-list>
    </ng-container>
    <div class="search-wrapper" *ngIf="searchStates[type.key] !== SearchState.HIDDEN">
      <div class="selected-warning" *ngIf="searchStates[type.key] === SearchState.USER_ALREADY_SELECTED">User already selected!</div>
      <m-user-search paginatorID="map-credits" (userSelected)="addUser(type.key, $event)" />
      <button class="m-btn m-btn-orange" (click)="hideUserSearch(type.key)">Cancel</button>
    </div>
    <button *ngIf="editable && searchStates[type.key] === SearchState.HIDDEN" class="m-btn m-btn-blue" (click)="showUserSearch(type.key)">
      <m-icon icon="plus-thick" />
    </button>
  </div>
</div>
