@use 'theme' as *;

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 1.3rem;
}

tr:nth-child(even) {
  background-color: #303030;
}

th {
  padding: 1rem;
  font-size: 1.4rem;
  color: gray;
}

.filter-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out, margin-bottom 0.2s ease-out 0.1s;
  background-color: nb-theme(background-basic-color-4);

  &.filter-active {
    margin-bottom: 1rem;
  }
}

input[type='checkbox'] + label {
  color: #ccc;
}
input[type='checkbox']:checked + label {
  color: seagreen;
}
