<nb-card class="max-w-3xl">
  <nb-card-header>
    <h6>Edit Notification Settings</h6>
  </nb-card-header>
  <nb-card-body>
    <div class="mb-3">Notify me when a</div>
    <ul class="list-unstyled m-0">
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.PB.checked"> personal best is set </nb-checkbox>
      </li>
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.WR.checked"> world record is set </nb-checkbox>
      </li>
    </ul>
  </nb-card-body>
  <nb-card-footer>
    <div class="no-gutters flex flex-wrap">
      <div class="w-1/2 pr-1">
        <button
          class="whitespace-no-wrap inline-block w-full select-none rounded border bg-red-600 px-3 py-1 text-center align-middle font-normal leading-normal text-white no-underline hover:bg-red-700"
          (click)="close()"
        >
          Close
        </button>
      </div>
      <div class="w-1/2 pl-1">
        <button
          class="whitespace-no-wrap inline-block w-full select-none rounded border bg-blue-600 px-3 py-1 text-center align-middle font-normal leading-normal text-white no-underline hover:bg-blue-600"
          (click)="submit()"
        >
          Submit
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
