.results {
  overflow-y: auto;
  height: calc(90vh - 8vw - 5rem - 4px);
  scrollbar-width: none;
}

.results::-webkit-scrollbar {
  width: 0;
}

.content {
  max-width: 1000px;
}

button {
  z-index: 500;
}
