<div class="search" (keyup.esc)="emitClose()">
  <button (click)="emitClose()">
    <i class="nb-close-circled"></i>
  </button>
  <div class="form-wrapper">
    <form class="form" (keyup.enter)="submitSearch(searchInput.value)">
      <search-results [user]="true" [elems]="users"></search-results>
      <div class="form-content">
        <input class="search-input"
               #searchInput
               autocomplete="off"
               [attr.placeholder]="placeholder"
               tabindex="-1"
               (blur)="focusInput()"/>
      </div>
      <span class="info">{{ hint }}</span>
      <search-results [user]="false" [elems]="maps"></search-results>
    </form>
  </div>
</div>
