
.title {
  font-size: 2vw;
}

.name {
  font-size: large;
  margin-left: 1vh;
  color: white;
}

.result-elem {
  text-align: center;
}

.avatar {
  max-width: 5%;
}

h3 {
  text-align: left;
}

.center {
  margin: auto;
  width: 75%;
}
hr{
  border-top: 1px solid white;
}

