<m-card class="min-w-[300px]" title="Edit Notification Settings">
  <div>
    <div class="mb-3">Notify me when this user</div>
    <ul class="list-unstyled m-0">
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.pb.checked"> achieves a personal best </nb-checkbox>
      </li>
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.wr.checked"> achieves a world record </nb-checkbox>
      </li>
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.approved.checked"> gets a map approved </nb-checkbox>
      </li>
      <li>
        <nb-checkbox [(ngModel)]="checkboxFlags.uploaded.checked"> uploads a map </nb-checkbox>
      </li>
    </ul>
  </div>
  <div>
    <div class="no-gutters flex flex-wrap">
      <button class="m-btn w-1/2 pr-1" (click)="close()">Close</button>
      <button class="m-btn m-btn-blue w-1/2 pl-1" (click)="submit()">Submit</button>
    </div>
  </div>
</m-card>
