<section id="credits" class="credits-section bg-black">
  <div class="container mx-auto text-center sm:px-4">
    <div class="team-header text-4xl font-normal">Momentum Team Roles</div>
    <div class="credits-row flex flex-wrap">
      <div class="mb-4 pl-4 pl-4 pr-4 pr-4 md:w-1/2 lg:w-1/3">
        <h4 class="mb-3 font-normal">Game Programming</h4>
        <ul class="list-unstyled">
          <li>Nick K. (Gocnak) - Project Lead</li>
          <li>SlidyBat</li>
          <li>Aidan S. (tuxxi)</li>
          <li>Nolan O. (Rusty)</li>
          <li>Kamay</li>
          <li>Mev</li>
        </ul>
      </div>
      <div class="mb-4 pl-4 pl-4 pr-4 pr-4 md:w-1/2 lg:w-1/3">
        <h4 class="mb-3 font-normal">Level Design</h4>
        <div class="flex flex-col sm:flex-row">
          <div class="flex-even sm:mr-2 sm:text-right">
            <ul class="list-unstyled mb-0 sm:mr-1">
              <li>Xtra_Festive</li>
              <li>hesuka</li>
              <li>IllusionJM</li>
              <li>not_a_zombie</li>
              <li>GeoZach</li>
            </ul>
          </div>
          <div class="flex-even sm:ml-2 sm:text-left">
            <ul class="list-unstyled mb-0 sm:ml-1">
              <li>Hardex</li>
              <li>pretzL</li>
              <li>masog</li>
              <li>BlueRaven</li>
              <li>Flaudgin</li>
            </ul>
          </div>
        </div>
        <ul class="list-unstyled">
          <li>Patrick M. (Xbmann)</li>
          <li>Rutherford C. (RNC1839)</li>
        </ul>
      </div>
      <div class="mb-4 pl-4 pl-4 pr-4 pr-4 md:w-1/2 lg:w-1/3">
        <h4 class="mb-3 font-normal">Community Input</h4>
        <ul class="list-unstyled">
          <li>numanmybro</li>
          <li>Cabbage McGravel</li>
          <li>Kurtis R. (truktruk)</li>
          <li>Sam D. (Beetle179)</li>
          <li>Tyler S. (Zopha)</li>
          <li>Bocuma</li>
          <li>xen</li>
        </ul>
      </div>
      <div class="mb-4 pl-4 pl-4 pr-4 pr-4 md:w-1/2 lg:w-1/3">
        <h4 class="mb-3 font-normal">Web Design</h4>
        <ul class="list-unstyled">
          <li>Jason Z. (Juxtapo)</li>
          <li>Corey P. (Corey28)</li>
          <li>Bradey B. (Flipybitz)</li>
        </ul>
      </div>
      <div class="mb-4 pl-4 pl-4 pr-4 pr-4 md:w-1/2 lg:w-1/3">
        <h4 class="mb-3 font-normal">Art, Sound, and UI Design</h4>
        <ul class="list-unstyled">
          <li>Cabbage McGravel</li>
          <li>Alexandre D. (TraZox)</li>
          <li>Nikolai L. (Monolith)</li>
          <li>Jason Z. (Juxtapo)</li>
          <li>Bradey B. (Flipybitz)</li>
          <li>Joey</li>
          <li>SethJH</li>
        </ul>
      </div>
      <div class="mb-4 pl-4 pl-4 pr-4 pr-4 md:w-1/2 lg:w-1/3">
        <h4 class="mb-3 font-normal">QA Testers</h4>
        <ul class="list-unstyled">
          <li>Martin L. (Aux)</li>
          <li>Cabbage McGravel</li>
          <li>Kurtis R. (truktruk)</li>
          <li>Sam D. (Beetle179)</li>
          <li>numanmybro</li>
          <li>xen</li>
        </ul>
      </div>
    </div>
  </div>
</section>
