<nb-layout class="d-none"></nb-layout>
<header class="masthead">
  <div class="container d-flex justify-content-center h-100 align-items-center">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-black">
          <div class="card-header">
            <nb-icon icon="alert-triangle" status="warning" size="large"></nb-icon>
            <h6 class="text-white text-center d-inline">You are now leaving Momentum Mod!</h6>
            <nb-icon icon="alert-triangle" status="warning" size="large"></nb-icon>
          </div>
          <div class="card-body">
            <div class="mx-auto text-center">
              <h2 class="text-white mx-auto mt-2 mb-4">You are being redirected to</h2>
              <h2 class="text-white mx-auto mt-2 mb-4"> <i>{{outgoingURL}}</i></h2>
              <h2 class="text-white mx-auto mt-2 mb-5">which is not part of the official Momentum Mod site.</h2>
              <div class="d-flex justify-content-around">
                <button nbButton status="primary" class="btn-return" type="button" routerLink="/dashboard">Return to Dashboard</button>
                <a [href]="outgoingURL" class="allowed">
                  <button nbButton status="danger">
                    Proceed to external site
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
