<nb-card>
  <nb-card-header>
    <div class="row align-items-center">
      <h2 class="col">EDIT MAP</h2>
      <div class="col-auto ml-auto">
        <button nbButton outline status="info" [routerLink]="'/dashboard/maps/' + map?.id">
          Return to Map
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-tabset class="overflow-hidden">
    <nb-tab *ngIf="(isSubmitter && (map.statusFlag !== mapStatuses.APPROVED)) && map" tabTitle="FILE">
      <h5 class="mb-1 font-weight-normal">Map File</h5>
      <file-upload [type]="'map'" [limit-size]="300"
                   (fileSelected)="onMapFileSelected($event)"></file-upload>
      <button nbButton outline status="info" class="submit-btn" type="submit"
              [disabled]="!fileUpdated" (click)="onFileSubmit()">Save file</button>
    </nb-tab>
    <nb-tab *ngIf="(isSubmitter && (map.statusFlag !== mapStatuses.APPROVED)) && map" tabTitle="NAME">
      <form (ngSubmit)="onNameSubmit()" [formGroup]="mapForm">
        <div class="form-group">
          <h5>Map Name</h5>
          <input nbInput class="form-control" formControlName="mapName" type="text"
                  [ngClass]="{'form-control-danger':mapName.invalid}"/>
        </div>
        <button nbButton outline status="info" class="submit-btn" type="submit"
                [disabled]="mapForm.invalid">Save name</button>
      </form>
    </nb-tab>
    <nb-tab tabTitle="INFO">
      <form (ngSubmit)="onInfoSubmit()" [formGroup]="infoForm">
        <div class="form-group mt-2 mb-4">
          <h5>YouTube URL / ID</h5>
          <input nbInput class="form-control youtube-inp" formControlName="youtubeID" type="text"
                 [ngClass]="{'form-control-danger':youtubeID.invalid}">
        </div>
        <div class="form-group">
          <h5>Map Description</h5>
          <textarea nbInput fullWidth rows="6" class="form-control" formControlName="description" type="description"
                    [ngClass]="{'form-control-danger':description.invalid}"></textarea>
          <nb-alert class="mb-0 mt-2 py-2 px-3 text-danger" outline="danger" *ngIf="description.hasError('maxlength')">
              Text cannot exceed 1000 characters.
          </nb-alert>
          <div class="form-text">
            <div class="d-flex">
              <span class="mr-auto">
                <i><a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/" target="_blank">Markdown</a> is supported</i>
              </span>
              <span class="ml-2 text-right">{{1000 - description.value.length | ngxPlural:'character'}} remaining</span>
            </div>
          </div>
        </div>
        <button nbButton outline status="info" class="submit-btn" type="submit"
                [disabled]="infoForm.invalid">Save info</button>
      </form>
    </nb-tab>
    <nb-tab *ngIf="(isSubmitter && (map.statusFlag !== mapStatuses.APPROVED)) && map" tabTitle="IMAGES">
      <form (ngSubmit)="onImagesSubmit()">
        <div class="text-center overflow-auto mt-2">
          <div class="d-flex flex-wrap justify-content-around">
            <div class="flex-grow-1 mx-3 mb-3 input-col">
              <h5 class="mb-1 font-weight-normal">Map Thumbnail</h5>
              <img class="map-image" [src]="thumbnail.small">
              <file-upload [type]="'image'" (fileSelected)="onAvatarFileSelected($event)"></file-upload>
            </div>
            <div class="flex-grow-1 mx-3 mb-3 input-col">
              <h5 class="mb-1 font-weight-normal">Extra Images</h5>
              <div class="d-inline-flex align-items-center" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="imageDrop($event)">
                <div class="mx-2" *ngFor="let img of mapImages" cdkDrag>
                  <img class="map-image" [src]="img.small">
                  <button nbButton outline status="danger" size="tiny" (click)="removeMapImage(img)">
                    <nb-icon icon="close-outline"></nb-icon>
                  </button>
                </div>
                <div class="mx-2 upload-box" *ngIf="mapImages.length < mapImagesLimit">
                  <file-upload [type]="'image'" [multiple]="true" (fileSelected)="onMapImageSelected($event)"></file-upload>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-inline-flex align-items-center submit-btn">
          <button nbButton outline status="info" class="mr-2" type="submit">Save images</button>
        </div>
      </form>
    </nb-tab>
    <nb-tab tabTitle="CREDITS">
      <form [formGroup]="creditsForm">
        <div class="mt-2">
          <map-credits [creditArr]="mapCredits" [editable]="true" (creditChange)="onCreditChanged($event)" [statusFlag]="map.statusFlag" [isAdmin]="isAdmin"></map-credits>
        </div>
        <button nbButton outline status="info" type="submit" [disabled]="creditsForm.invalid"
                (click)="onCreditsSubmit($event)">Save credits</button>
      </form>
    </nb-tab>
    <nb-tab *ngIf="isAdmin && map" tabTitle="ADMIN&nbsp;MAP&nbsp;SETTINGS">
      <form [formGroup]="adminForm">
        <div class="text-right">
          <button nbButton outline status="danger" (click)="showMapDeleteDialog()">Delete Map</button>
        </div>
      </form>
    </nb-tab>
  </nb-tabset>
</nb-card>

