<div class="header">
  <div class="item">
    <m-icon (click)="toggleSidenav()" icon="menu" class="item" />
  </div>
  <a routerLink="/" class="item mr-auto flex items-center px-4">
    <img src="assets/images/logo.svg" width="279" height="45" alt="Momentum Mod Logo" />
  </a>

  <p-overlayPanel #searchOverlay>
    <m-multisearch (selected)="searchOverlay.hide()" />
  </p-overlayPanel>
  <div class="item">
    <m-icon icon="magnify" (click)="searchOverlay.toggle($event)"> </m-icon>
  </div>

  @if (localUserService.user | async) {
    <p-menu #userMenu [model]="menu" [popup]="true"></p-menu>
    <m-player-card (click)="userMenu.toggle($event)" />
  } @else {
    <button class="ml-2 mr-3 transition-all hover:brightness-110" (click)="localUserService.login()">
      <img src="/assets/images/steam-login-green-large.png" />
    </button>
  }
</div>
