/* 
* I've styled this in CSS since the collapsing stuff is annoying in Tailwind,
* and we need to do responsive versions in the future.
*/
nav {
  display: flex;
  flex-direction: column;
  align-content: center;

  transition: width 0.3s;

  width: 14rem;
  height: 100%;
  padding: 0.5rem 0;

  border-right: 1px solid rgba(255, 255, 255, 0.075);
  box-shadow: 1px 0 12px rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    90deg,
    rgba(40, 40, 40, 0.6),
    rgba(50, 50, 50, 0.6)
  );

  backdrop-filter: blur(36px);

  & p.category {
    pointer-events: none;

    margin-bottom: 0.25rem;
    margin-top: 1.5rem;
    padding: 0 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(236, 236, 236);

    overflow: hidden;

    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1))
      drop-shadow(1px 2px 12px rgba(0, 0, 0, 0.2));
    @apply font-medium text-sm;
  }

  & a.item {
    display: flex;
    justify-items: center;
    font-size: 1rem;
    padding: 0.25rem 2rem;
    @apply text-gray-50 bg-blue-500 bg-opacity-0 border-blue-500 border-opacity-0 transition-colors;

    transition: padding 0.3s;

    &:hover {
      @apply bg-opacity-25 border-opacity-100;
    }

    & m-icon {
      margin: auto 0;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3))
        drop-shadow(1px 2px 16px rgba(0, 0, 0, 0.2));
      flex-shrink: 0;
    }

    & p {
      margin: auto 0 auto 1rem;
      line-height: 1;
      text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.4),
        1px 2px 8px rgba(0, 0, 0, 0.2);
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

nav.smol {
  width: 3.5rem;

  & p.category {
    overflow: clip;
    opacity: 0;
    width: 0;
    margin-top: 0;
    height: 1rem;

    &:first-of-type {
      height: 0;
    }
  }

  & a.item {
    padding: 0.375rem 0;

    & m-icon {
      margin: auto;
    }

    & p {
      margin-left: 0;
      display: none;
    }
  }
}
