<nb-card>
  <nb-card-header>
    <div class="row no-gutters">
      <h2 class="col-auto">{{headerTitle}}</h2>
      <div class="col-auto ml-auto">
        <div class="d-flex align-items-center">
          <span class="mr-2">Filter:</span>
          <nb-select placeholder="ALL" (selectedChange)="updateFilter(activities)">
            <nb-option value="{activityType.ALL}">All</nb-option>
            <nb-option value="{activityType.MAP_APPROVED}">Maps Only</nb-option>
            <nb-option value="{activityType.PB_ACHIEVED}">PBs Only</nb-option>
            <nb-option value="{activityType.WR_ACHIEVED}">WRs Only</nb-option>
          </nb-select>
        </div>
      </div>
    </div>
  </nb-card-header>
  <activity-list [activities]="activities" [hasRequested]="initialAct" (showMore)="getMoreActivities()"></activity-list>
</nb-card>
