<nb-card>
  <nb-card-header>
    <div class="row no-gutters">
      <h2 class="col-10">{{headerTitle}}</h2>
      <div class="col-2">
        <div class="filterbox">
          <label [for]="box">Filter: </label>
          <select #box name="ActivityType" (change)="filterSelected(box.value)">
            <option [value]="activityType.ALL">All</option>
            <option [value]="activityType.MAP_APPROVED">Maps Only</option>
            <option [value]="activityType.PB_ACHIEVED">PBs Only</option>
            <option [value]="activityType.WR_ACHIEVED">WRs Only</option>
          </select>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <activity-list [activities]="activities" [hasRequested]="initialAct"></activity-list>
  </nb-card-body>
</nb-card>
