<div class="flex flex-wrap">
  <m-card title="Blog Posts" class="pr-8 lg:basis-3/4">
    <div *ngFor="let blogPost of feed.item.slice(0, POSTS_DISPLAYED)">
      <div class="flex flex-wrap items-end">
        <h2 class="relative max-w-full flex-1 flex-grow px-4">{{ blogPost.title }}</h2>
        <h5 class="pubDate col-auto ml-auto hidden sm:block">
          {{ blogPost.pubDate }}
        </h5>
      </div>
      <p class="post-separator pb-3">
        <span class="md-override mr-2" [innerHTML]="blogPost['content:encoded']"></span>
        <a [href]="blogPost.link" target="_blank" class="whitespace-nowrap">Read More</a>
      </p>
    </div>
    <h3 class="m-0 text-center" *ngIf="loaded">
      Read more official posts
      <a href="https://blog.momentum-mod.org" target="_blank">here</a>!
    </h3>
    <h3 class="m-0 text-center" *ngIf="!loaded">Waiting for API response</h3>
  </m-card>
  <iframe
    class="lg:basis-1/4"
    src="https://discordapp.com/widget?id=235111289435717633&theme=dark"
    width="100%"
    height="500"
    allowtransparency="true"
  ></iframe>
</div>
