<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header><h1>Community</h1></nb-card-header>

      <nb-card-body>
        <form class="form-inline">

          <div class="input-group full-width">
            <nb-action icon="nb-search"></nb-action>
            <div class="input-group-addon">search</div>
            <input type="text" class="form-control full-width" placeholder="Search users">
          </div>

        </form>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header><h1>News</h1></nb-card-header>

      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>

</div>
