<nb-list class="list">
  <nb-list-item *ngIf="notifications.length === 0">
    <span class="no-notifs">No notifications.</span>
  </nb-list-item>
  <nb-list-item *ngFor="let notification of notifications" [ngClass]="{'unread': notification.read}">
    <div class="button">
      <button class="btn btn-outline-danger btn-xs btn-icon" (click)="removeNotif(notification)">
        <i class="ion ion-close-round"></i>
      </button>
    </div>
    <activity-content [activity]="notification.activity"
                      [date-abs]="true"
                      (mouseenter)="onHoverNotif(notification)"
                      (click)="onClickNotif(notification)">
    </activity-content>
  </nb-list-item>
</nb-list>
