<nb-list>
  <nb-list-item *ngIf="notifications.length === 0">
    <span class="no-notifs">No notifications</span>
  </nb-list-item>
  <nb-list-item *ngFor="let notification of notifications" class="overflow-hidden" [ngClass]="{'unread': !notification.read}">
    <activity-content [activity]="notification.activity"
                      [date-non]="true"
                      (mouseenter)="onHoverNotif(notification)"
                      (click)="onClickNotif(notification)">
    </activity-content>
    <div class="text-center date">{{notification.activity.createdAt | timeAgo}}</div>
      <i class="ion ion-close-round"></i>
    <button nbButton outline status="danger" size="tiny" (click)="removeNotif(notification)">
    </button>
  </nb-list-item>
</nb-list>
