<button
  #toggle
  [attr.popovertarget]="id"
  [ngStyle]="{ 'anchor-name': '--' + id }"
  type="button"
  class="head"
  (click)="fixUnsupportedAnchorPosition()"
>
  <p class="">{{ entryNameFn(selectedEntry) }}</p>
  <m-icon icon="chevron-down" class="ml-auto h-9 w-9" />
</button>
<div #dropdown popover [id]="id" [ngStyle]="{ 'position-anchor': '--' + id }" class="body">
  @for (entry of entries; track $index) {
    <button [attr.popovertarget]="id" (click)="select(entry)" type="button" class="entry">
      {{ entryNameFn(entry) }}
    </button>
  }
</div>
