<nb-card>
  <nb-card-header><h2>Base Statistics</h2></nb-card-header>
  <nb-card-body>
    <div class="d-flex flex-wrap justify-content-around text-center">
      <div class="base mx-1 mb-3">
        <h5>Total Maps</h5>
        <h1>{{ globalMapStats?.totalMaps || 0 }}</h1>
      </div>

      <div class="base mx-1 mb-3">
        <h5>Runs Submitted</h5>
        <h1>{{ globalBaseStats?.runsSubmitted || 0 }}</h1>
      </div>

      <div class="base mx-1 mb-3">
        <h5>Total Jumps</h5>
        <h1>{{ globalBaseStats?.totalJumps || 0 }}</h1>
      </div>

      <div class="base mx-1 mb-3">
        <h5>Total Strafes</h5>
        <h1>{{ globalBaseStats?.totalStrafes || 0 }}</h1>
      </div>
    </div>
  </nb-card-body>
</nb-card>
