/**
* Evil file to put any PrimeNG styling changes until their new styling system.
* Everything here is temporary, don't spend long on it, fine if PrimeNG stuff
* looks shite for a bit. 
*/
.p-inputtext,
.p-multiselect-label {
  background: rgb(0 0 0 / 0.25);
  border: 1px solid rgb(255 255 255 / 0.1);
  box-shadow: inset 0 0 0.75rem rgb(0 0 0 / 0.1);
  padding: 0.5rem 1rem;
  margin: auto 0;
}

.p-multiselect-label {
  padding: 0.5rem 1rem !important;
}

.p-select,
.p-multiselect {
  background: rgb(0 0 0 / 0.25);
  border: 1px solid rgb(255 255 255 / 0.1);
  box-shadow: inset 0 0 0.75rem rgb(0 0 0 / 0.1);

  & .p-select-trigger,
  & .p-multiselect-trigger {
    width: 2rem;
  }
}

.p-paginator {
  background: rgb(var(--gray-700) / 0.75);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(255 255 255 / 0.1);
  box-shadow:
    0 2px 8px rgb(0 0 0 / 0.15),
    0 1px 2px rgb(0 0 0 / 0.2);

  & .p-paginator-first,
  & .p-paginator-prev,
  & .p-paginator-next,
  & .p-paginator-last {
    background-color: transparent;
    border: 0 none;
    color: rgba(255, 255, 255, 0.6);
    min-width: 1.5rem;
    height: 1.5rem;
    margin: 0.125rem;
    transition: none;
    border-radius: 0.25;

    &:hover {
      background: rgba(255, 255, 255, 0.04);
      border-color: transparent;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  & .p-paginator-current {
    background-color: transparent;
    border: 0 none;
    color: rgb(255 255 255 / 0.75);
    min-width: 2rem;
    height: 2rem;
    margin: 0.125rem;
    padding: 0 0.5rem;
  }

  & .p-select {
    margin-left: 0.5rem;
    margin-right: 0;
    height: 2.5rem;

    & .p-select-label {
      margin: auto 0 auto 0.75rem;
      padding: 0;
    }
  }

  & .p-paginator-page-input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    & .p-inputtext {
      max-width: 3rem;
    }
  }

  & .p-paginator-pages .p-paginator-page {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.75);
    outline: 0.125rem solid rgb(255 255 255 / 0);
    height: 2rem;
    min-width: 2rem;
    padding: 0.25rem;
    margin: 0.25rem;
    font-size: 1.125rem;

    transition-property: outline, background-color;
    transition-timing-function: ease-out;
    transition-duration: 0.125rem;
    border-radius: 0.25rem;

    &.p-highlight {
      background-color: rgb(0 0 0 / 0.2);
      outline: 1px solid rgb(255 255 255 / 0.1);
      box-shadow: inset 0 0 0.75rem rgb(0 0 0 / 0.1);
    }

    &:not(.p-highlight):hover {
      background: rgba(255, 255, 255, 0.05);
    }
  }
}

.p-progressbar {
  height: 0.5rem;
  border-radius: 0.25rem;
  background: rgb(var(--pale-800));
  box-shadow: none;

  & .p-progressbar-value {
    background: linear-gradient(
      90deg,
      rgb(var(--blue-500)),
      rgb(var(--blue-300))
    );
  }
}

.p-dialog {
  border-radius: 0.25rem;
  border: 1px solid rgb(255 255 255 / 0.05);
  backdrop-filter: blur(48px);
  background-color: rgb(0 0 0 / 0.5);
  box-shadow: 1px 3px 8px rgb(0 0 0 / 0.5);

  & .p-button {
    color: var(--gray-50);
  }
}

.p-popover {
  & .p-popover-content {
    padding: 0.75rem;
    border: 1px solid rgb(255 255 255 /0.05);
    border-radius: 0.25rem;
  }
}
