<div class="row no-gutters align-items-center">
  <div class="col-12 col-sm-6">
    <div class="row align-items-center">
      <div class="col-3">
        <img [src]="map.thumbnail?.small">
      </div>
      <div class="col-3">
        <ul>
          <li>Map Name:</li>
          <li>Submitted:</li>
          <li>Submitted By:</li>
        </ul>
      </div>
      <div class="col-6 text-left">
        <ul>
          <li>{{map?.name}}</li>
          <li>{{map?.createdAt | date}}</li>
          <li><nb-user [name]="map?.submitter.alias" [picture]="map?.submitter.avatarURL" size="small"></nb-user></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
  <div class="col-4">
    <a #mapFileDownloadLink class="allowed"></a>
    <button class="btn btn-outline-info" (click)="onMapFileDownload(map?.id)">DOWNLOAD</button>
  </div>
  <div class="col-1">
    <div class="text-right" role="toolbar">
      <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-success" (click)="updateMapStatus(map?.id, MapUploadStatus.APPROVED)">
          <span class="ion-checkmark-round"></span>
        </button>
        <button type="button" class="btn btn-danger" (click)="updateMapStatus(map?.id, MapUploadStatus.REJECTED)">
          <span class="ion-close-round"></span>
        </button>
      </div>
    </div>
  </div>
</div>
