$image-height: 105px;

img {
  max-height: $image-height;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

li {
  font-family: 'Exo', sans-serif;
  list-style: none;
  white-space: nowrap;

  a {
    color: white;
  }
}

.button-group > button {
  border-radius: 8px !important;
}

.map-image-container {
  overflow: hidden;
  height: $image-height;
}
