<div class="row no-gutters align-items-center">
  <div class="col-12 col-sm-6">
    <div class="row align-items-center">
      <div class="col-3">
        <img [src]="map.info.avatarURL">
      </div>
      <div class="col-3">
        <ul>
          <li>MAP NAME:</li>
          <li>SUBMITTED:</li>
          <li>SUBMITTED BY:</li>
        </ul>
      </div>
      <div class="col-6 text-left">
        <ul>
          <li>{{map.name}}</li>
          <li>{{map.createdAt | date}}</li>
          <li><nb-user [name]="map.submitter.profile.alias" [picture]="map.submitter.profile.avatarURL" size="small" class="d-inline-block"></nb-user></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
  <div class="col-4">
    <a class="btn btn-outline-info" href="{{map.download}}">DOWNLOAD</a>
  </div>
  <div class="col-1">
    <div class="text-right" role="toolbar">
      <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-success" (click)="updateMapStatus(map.id, statusEnum.APPROVED)">
          <span class="ion-checkmark-round"></span>
        </button>
        <button type="button" class="btn btn-danger" (click)="updateMapStatus(map.id, statusEnum.REJECTED)">
          <span class="ion-close-round"></span>
        </button>
      </div>
    </div>
  </div>
</div>
