@import '../../../../@theme/styles/themes';

nb-tabset {
  background-color: nb-theme(background-basic-color-4);
  height: 380px;
}

nb-tab {
  overflow-y: auto;
  height: 88%;
  padding-bottom: 0 !important;
}

.stat {
  color: dodgerblue;
  font-size: 1.5rem;
}

.col h6 {
  font-size: 1.25rem;
}

.btn-group {
  display: block;

  button {
    &:first-of-type {
      justify-content: flex-start;
      flex-direction: column;
      padding-top: 0;
    }
    height: 3em;
    font: normal normal 400 1em/2.85em nb-theme(font-family-primary);
    overflow: hidden;
    padding: 0;

    span, nb-icon {
      color: white;
      display: block;
    }

    .c-anim-btn {
      transition: 0.3s;
      margin-top: 0;
    }

    &:hover .c-anim-btn {
      margin-top: -2.85em;
    }
  }
}
