<m-accordion>
  @for (group of groupedLeaderboards | keyvalue: groupLbSortFn; track $index) {
    <m-accordion-item title="{{ GamemodeInfo.get(group.key).name }} - {{ group.value.totalRuns }} runs submitted">
      <div class="flex flex-col gap-8 bg-black bg-opacity-10 p-8 pt-6 shadow-inner">
        @for (leaderboard of group.value.leaderboards; track $index) {
          @if (leaderboard.trackType !== TrackType.STAGE) {
            <div class="grid grid-cols-[auto_20rem_20rem] gap-12">
              <div class="flex flex-col gap-2">
                <p>
                  <span class="text-xl font-medium">
                    {{ TTName.get(leaderboard.trackType) }}
                    @if (leaderboard.trackType !== TrackType.MAIN) {
                      {{ leaderboard.trackNum }}
                    }
                  </span>
                  <span class="ml-2 text-sm italic">{{ leaderboard.totalRuns | plural: 'player' }} submitted runs</span>
                </p>
                <div class="grid grid-flow-col grid-cols-[auto_auto_1fr] grid-rows-[repeat(4,auto)] gap-x-8">
                  @if (leaderboard.subSugg) {
                    <p class="text-sm font-medium text-gray-200">Submitter Tier</p>
                    <p class="font-medium">{{ leaderboard.subSugg.tier }}</p>
                  } @else {
                    <span class="row-span-2"></span>
                  }
                  <p class="mt-2 text-sm font-medium text-gray-200">
                    Average Tier <m-icon class="ml-1 pt-0.5 text-sm" icon="help-circle" mTooltip="Includes the submitter's tier" />
                  </p>

                  <p class="font-medium">{{ leaderboard.averageTier ?? 'N/A' }}</p>
                  @if (leaderboard.subSugg) {
                    <p class="text-sm font-medium text-gray-200">Submitter Requested Ranked</p>
                    <p class="font-medium">{{ leaderboard.subSugg.type === LeaderboardType.RANKED ? 'Yes' : 'No' }}</p>
                  } @else {
                    <span class="row-span-2"></span>
                  }
                  <p class="mt-2 text-sm font-medium text-gray-200">Average Gameplay Rating</p>
                  <p class="font-medium">{{ leaderboard.averageRating ?? 'N/A' }}</p>

                  @if (leaderboard.subSugg?.comment?.length > 0) {
                    <p class="text-sm font-medium text-gray-200">Submitter Comment</p>
                    <p class="text-sm">{{ leaderboard.subSugg.comment }}</p>
                  } @else {
                    <span class="row-span-2"></span>
                  }
                </div>

                <p class="text-sm font-medium text-gray-200">Submitter Tags</p>
                <div class="-mt-1 flex flex-wrap gap-1.5">
                  @for (tag of leaderboard.subSugg?.tags; track $index) {
                    <button
                      (click)="leaderboard.tags.push(tag)"
                      class="flex h-7 items-center gap-1 rounded border border-white border-opacity-5 bg-blue-400 bg-opacity-50 p-2 transition-colors hover:bg-opacity-60"
                      type="button"
                    >
                      <p class="pointer-events-none font-medium text-gray-50">{{ mapTagEnglishName(tag) }}</p>
                    </button>
                  } @empty {
                    <span class="font-medium">N/A</span>
                  }
                </div>
                <p class="text-sm font-medium text-gray-200">Reviewer Tags</p>
                <div class="-mt-1 mb-2 flex flex-wrap gap-1.5">
                  @for (tuple of leaderboard.reviewTags; track $index) {
                    <button
                      (click)="leaderboard.tags.push(tuple[0])"
                      class="flex h-7 items-center gap-1 rounded border border-white border-opacity-5 bg-blue-400 bg-opacity-50 p-2 transition-colors hover:bg-opacity-60"
                      type="button"
                    >
                      <p class="pointer-events-none font-medium text-gray-50">{{ mapTagEnglishName(tuple[0]) }}</p>
                      <p class="pointer-events-none text-sm font-medium text-gray-200">({{ tuple[1] }})</p>
                    </button>
                  } @empty {
                    <span class="font-medium">N/A</span>
                  }
                </div>

                <div class="flex items-center gap-4">
                  <p [ngClass]="{ 'opacity-50': leaderboard.type === LeaderboardType.HIDDEN }">Tier</p>
                  <input
                    type="number"
                    class="textinput w-16 px-2"
                    min="1"
                    [(ngModel)]="leaderboard.tier"
                    max="10"
                    step="1"
                    (change)="onChange(value)"
                    [disabled]="leaderboard.type === LeaderboardType.HIDDEN"
                  />

                  <p>Type</p>
                  <p-select
                    class="w-32"
                    type="radio"
                    [(ngModel)]="leaderboard.type"
                    [options]="LeaderboardTypeDropdown"
                    optionValue="type"
                    optionLabel="label"
                    placeholder="Select Type"
                    [disabled]="disabled"
                    (onChange)="onChange(value)"
                    appendTo="body"
                  />

                  <p>Tags</p>
                  <m-chips
                    class="flex-grow"
                    [chips]="MapTags.get(leaderboard.gamemode)"
                    [nameFn]="mapTagEnglishName"
                    [ngModel]="leaderboard.tags"
                    (ngModelChange)="updateTags(leaderboard, $event)"
                    typeName="Tags"
                  />
                </div>
              </div>
              @if (leaderboard.averageTier) {
                <p-chart type="bar" [data]="leaderboard.graphs.tiers" [options]="TierChartOptions" />
              }
              @if (leaderboard.averageRating) {
                <p-chart type="bar" [data]="leaderboard.graphs.ratings" [options]="RatingChartOptions" />
              }
            </div>
          }
        }
      </div>
    </m-accordion-item>
  }
</m-accordion>
