<div class="flex flex-col gap-2 text-gray-50">
  <div>
    <p class="mb-1">
      <span class="text-gray-200">Current status: </span>
      <span class="text-lg font-medium">{{ MapStatusName.get(status) }}</span>
    </p>
    <p class="mb-4">
      @switch (status) {
        @case (MapStatus.PRIVATE_TESTING) {
          The map is only visible to you, and players you invite. It will remain in this state until you chose to move it to
          <b>content approval</b>.
        }
        @case (MapStatus.CONTENT_APPROVAL) {
          The map is waiting to be checked by an official reviewer, and will be made public once they confirm it is of reasonable quality
          and abides by the rules. If they find any significant issues before then, they'll leave a review, which you'll have to address
          before the map can move to public testing.
        }
        <!-- TODO we will move the approval requirement to final approval instead -->
        @case (MapStatus.PUBLIC_TESTING) {
          The map is publicly available for testing in-game. All players can play it and leave reviews. It must be in this state for at
          least one week, and have an approving review to progress.
        }
        @case (MapStatus.FINAL_APPROVAL) {
          The map is waiting to be approved by a moderator, who will decide the final tier and available leaderboards, after which the map
          will be officially released!
        }
        @case (MapStatus.APPROVED) {
          The map has been released and is available to everyone in-game.
        }
        @case (MapStatus.DISABLED) {
          The map has been disabled and is only visible to mods and admins. Only admins can re-enable it.
        }
      }
    </p>
    @if (sub) {
      <p class="mb-2">You can change the map to the following states:</p>
      <!-- See map-status-changers.map.ts for possible changes -->
      @if (isPossibleStatus(MapStatus.PRIVATE_TESTING)) {
        <i class="font-medium">Private Testing</i>
        <p class="mb-4 ml-2">
          Returning the map to private testing will let only you and people you invite access the map, and indicates to official reviewers
          that you're not ready for them to move it to public testing yet.
        </p>
        <p>If you really want to do this, you'll have to re-invite anyone that hasn't responded to their test invite. Sorry <b>:)</b></p>
      }
      @if (isPossibleStatus(MapStatus.CONTENT_APPROVAL)) {
        <i class="font-medium">Content Approval</i>
        <p class="mb-4 ml-2">
          Going to content approval will pass it to an official reviewer, who will check that it's of reasonable quality and abides by the
          rules. After they approve it, it'll enter the public testing period in-game.
        </p>
      }
      @if (isPossibleStatus(MapStatus.PUBLIC_TESTING)) {
        <i class="font-medium">Public Testing</i>
        <p class="mb-4 ml-2">
          Moving back to public testing signifies you have some final changes you want to make to the map before it gets approved.
        </p>
      }
      @if (isPossibleStatus(MapStatus.FINAL_APPROVAL)) {
        <i class="font-medium">Final approval</i>
        <p class="ml-2">
          This signifies that you're happy with the final state of the map and ready for it to be added officially. The respective gamemode
          councils will look at your suggestions and reviews others left, pick the tier and if the leaderboards should be ranked/unranked.
        </p>
        <p class="mb-4 ml-2">
          <b>Don't select this until you are ready!</b> Since we want to keep leaderboards reliable, you are not able to alter the map after
          it's been approved and released, so make absolutely sure that you're happy with it.
        </p>
      }

      @if (
        status === MapStatus.PUBLIC_TESTING &&
        (this.isBlockedForUnresolvedReviews || this.isBlockedForSubmissionTimeGate || this.isBlockedForNoApprovingReview)
      ) {
        <div class="my-4 text-red-400">
          <p>This map cannot leave testing because:</p>

          @if (this.isBlockedForUnresolvedReviews) {
            <p class="ml-4 mt-0 font-medium">it has unresolved reviews.</p>
          }
          <!-- TODO: move down to final approval, and change elsewhere also -->
          @if (this.isBlockedForNoApprovingReview) {
            <p class="ml-4 mt-0 font-medium">it does not have any approving reviews from an official reviewer.</p>
          }
          @if (this.isBlockedForSubmissionTimeGate) {
            <p class="ml-4 mt-0 font-medium">
              it has not been in public testing for long enough. It will be able to move on
              {{ firstEnteredPublicTesting + MIN_PUBLIC_TESTING_DURATION | date: 'medium' }}.
            </p>
          }
        </div>
      }
    }
  </div>
  <div class="flex items-center gap-4 self-end">
    <p class="text-lg">Update status</p>
    <p-select [formControl]="statusControl" [options]="possibleStatuses" appendTo="body" />
  </div>
  @if ((mod || adm) && status === MapStatus.FINAL_APPROVAL && !hasBeenApprovedBefore) {
    <!-- Form goes whack if this is in the above conditional -->
    <div class="flex flex-col gap-4" [ngClass]="{ hidden: statusControl.value !== MapStatus.APPROVED }">
      <div class="prose max-w-[64rem]">
        <h2>Final Approval</h2>
        <p>
          This section lets you pick the final leaderboards for the map. You should only be using this if you are experienced in the main
          mode(s) of the current map. If you don't know what you're doing, ask in Discord, or leave this to someone else.
        </p>
        <p>
          Most maps are submitted with a single intended gamemode in mind, and will usually become <b>ranked</b> in that mode, should the
          resulting gameplay be of high enough quality. If the gamemode councils and player reviews are split on if the leaderboards should
          be ranked/unranked, set them to unranked (and they can potentially be upgraded to ranked in the future).
        </p>
        <p>
          For non-intended modes; if you and/or others tried a mode and it played reasonably well, you can give it an unranked leaderboard.
          Remember that unranked leaderboards don't provide rank points, but they do appear in the map selector for that mode. Don't add a
          leaderboard if it's only for gimmicks in that mode (e.g. don't rank a surf map in SJ just because someone airpogoed the entire
          thing). Keep in mind that we still have "hidden/secret" leaderboards for if people genuinely want to compete in a weird off-mode,
          and that a hidden leaderboard can always be upgraded to unranked in the future.
        </p>
        @if (this.isBlockedForUnresolvedReviews) {
          <p class="font-medium text-red-500">Warning: map has unresolved reviews!</p>
        }
      </div>

      <m-map-final-approval-form [groupedLeaderboards]="groupedLeaderboards" [formControl]="finalLeaderboards" />
      @if (finalLeaderboards.pristine) {
        <p class="ml-auto font-medium text-blue-100">
          These selections create approved leaderboards, so are heavily validated. At minimum you need an unhidden, tiered leaderboard in at
          least one gamemode for each track.
        </p>
      } @else if (finalLeaderboards.errors) {
        <p class="ml-auto font-medium text-red-500">{{ finalLeaderboards.errors['error'] }}</p>
      } @else {
        <p class="ml-auto font-medium text-green-500">Final leaderboards are valid! Good job :)</p>
      }
    </div>
  }
</div>
