name: Publish Internal Discord Bot Docker

on:
  workflow_dispatch:
    inputs:
      tag:
        description: The tag to use for the docker image
        default: 'latest'
        required: false
        type: string
  workflow_call:
    inputs:
      tag:
        default: 'latest'
        required: false
        type: string

jobs:
  build:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: 'true'

      - name: Cache node_modules
        uses: actions/cache@v4
        id: node_cache
        with:
          path: node_modules
          key: modules-${{ hashFiles('package-lock.json') }}

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: npm install
        if: steps.node_cache.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts

      - name: Build
        run: npx nx run discord-bot-internal:build:production
        env:
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: discord-bot
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: momentum-mod/website/discord-bot-internal
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          workdir: .
          dockerfile: ./prod/discord-bot-internal/Dockerfile
          tags: ${{ inputs.tag }}
