<m-card title="Utilities">
  <div class="lg:mb-12">
    <form (ngSubmit)="createUser()" [formGroup]="userForm">
      <h4>Create Placeholder User</h4>
      <input class="m-textinput" type="text" formControlName="alias" />
      <button class="m-btn m-btn-blue" type="submit">Submit</button>
    </form>
  </div>
  <div>
    <button class="m-btn m-btn-red mr-2" (click)="showResetCosXPConfigDialog()">Reset Cosmetic XP Globally</button>
    <button class="m-btn m-btn-red" (click)="showResetRankXPConfirmDialog()">Reset Rank XP Globally</button>
  </div>
</m-card>
